@charset "utf-8";
/* CSS Document */
.deyun_app_download{
	width:100%;
	height:50px;
	background:#656565;
	position:relative;
	z-index:999;
}
.deyun_app_download .deyun_app_download_body{
	margin:0 auto;
	height:50px;
	margin-left:47px;
	
}
.deyun_app_download .deyun_app_download_close{
	background-image: url(../images/top-x.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 13px;
    height: 13px;
	float:left;
	background-size:contain;
	cursor:pointer;
	position:absolute;
	left:18px;
	top:18px;
}
.deyun_app_download .deyun_app_ico{
	background-image: url(../images/app_ico_150.png);
	background-repeat: no-repeat;
	background-position: center center;	
	width: 40px;
    height: 40px;
	background-size:contain;
	float:left;
	margin-top:5px;
}
.deyun_app_download .deyun_app_download_txt{
	float:left;
	color:#fff;
	line-height:16px;
	margin: 8px 8px;
}
.deyun_app_download .deyun_app_download_link{
	float:right;
	margin-top: 17px;
    margin-right: 10px;
}
.deyun_app_download .deyun_app_download_link a{
	padding:5px 10px;
	background:#54ddff;
	color:#fff;
	border-radius:5px;
	display:none;
}
