@charset "utf-8";
/* CSS Document */
.deyun_buy_card_body{
	padding:10px 21px;
	background:#fff;
}
.deyun_buy_card_body .deyun_buy_card_tit{
	color:#585858;
	font-size:14px;
	line-height:21px;
	padding-bottom:10px;
}
.deyun_buy_card_body .deyun_buy_card_content p{
	color:#8c8c8c;
	line-height:21px;
}
