@charset "utf-8";
/* CSS Document */
.go_buycart_btn{
	background-image: url(../images/deyun_buycart_ico.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
	width: 14px;
	background-size: contain;
	margin-right: 12px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.go_buycart_btn a{
	height:100%;
	width:120%;
	display:block;
}
.deyun_goods_body,.deyun_goods_body .deyun_goods_info_body,.deyun_goods_body .deyun_goods_pic_box{
	width:100%;
}
/*.deyun_goods_body{
	overflow:hidden;
}*/
.deyun_goods_body .deyun_goods_info_body{
	background:#fff;
}

/*图片*/

.deyun_goods_pic_ul .deyun_goods_pic_li {
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.deyun_goods_body .deyun_goods_pic_box{
	overflow:hidden;
	position:relative;
	z-index:5;
}
.deyun_goods_pic_box .swiper-pagination{
	text-align:center;
	width:100%;
	position:absolute;
	z-index:4;
	bottom:5px;
}
.deyun_goods_pic_box .swiper-pagination span{
	width:7px;
	height:7px;
	margin:0 3px;
	background:#fff;
	border:1px solid #54ddff;
	display:inline-block;
	-moz-border-radius: 50%;      /* Gecko browsers */
    -webkit-border-radius: 50%;   /* Webkit browsers */
    border-radius:50%;            /* W3C syntax */
	
}
.deyun_goods_pic_box .swiper-pagination span.swiper-pagination-bullet-active{
	background:#54ddff;
}

/*商品名称*/
.deyun_goods_body .deyun_goods_name_box{
	padding:0px 12px;
}
.deyun_goods_body .deyun_goods_name_p{
	word-break:break-all;
	color:#585858;
	font-size:13px;
	line-height:24px;
}
/*商品价格*/
.deyun_goods_body .deyun_goods_price_box{
	padding:0px 12px;
}
.deyun_goods_body .deyun_goods_price_box span{
	font-size:12px;
	line-height:28px;
	color:#54ddff;
}
.deyun_goods_body .deyun_goods_price_box span.deyun_goods_price_nums{
	font-size:20px;
}
/*原价*/
.deyun_goods_body .deyun_goods_jl_box{
	padding:0px 12px 5px 12px;
}
.deyun_goods_body .deyun_goods_type_j_box span,.deyun_goods_body .deyun_goods_type_l_box span{
	font-size:12px;
	line-height:24px;
	color:#8c8c8c;
}
.deyun_goods_body .deyun_goods_type_j_box .deyun_goods_type_j_no{
	text-decoration: line-through;
}


.deyun_use_coin_type_body{
	height:26px;
	width:100%;
	background:#fafafa;
	border-bottom:1px solid #ededed;
}
.deyun_use_coin_type_body .deyun_use_coin_box{
	width:20%;
	float:left;
	line-height:26px;
	text-align:center;
}
.deyun_use_coin_type_body .deyun_use_coin_ico{
	background-repeat: no-repeat;
	background-position: center center;
	width:12px;
	height:26px;
	background-size:contain;
}
.deyun_use_coin_type_body .deyun_use_coin_ico,.deyun_use_coin_type_body .deyun_use_coin_name{
	display:inline-block;
	vertical-align:middle;
}
.deyun_use_coin_type_body .deyun_use_coin_box.stype_rmb .deyun_use_coin_ico{
	width:10px;
}
.deyun_use_coin_type_body .deyun_use_coin_box.stype_rmb{
	width:18%;
}
.deyun_use_coin_box.stype_ptdb .deyun_use_coin_ico{
	background-image: url(../images/db_pt_ico.png);
}
.deyun_use_coin_box.stype_scdb .deyun_use_coin_ico{
	background-image: url(../images/db_sc_ico.png);
}
.deyun_use_coin_box.stype_rmb .deyun_use_coin_ico{
	background-image: url(../images/deyun_rmb_ico.png);
}
.deyun_use_coin_box.stype_xfyb .deyun_use_coin_ico{
	background-image: url(../images/yb_xf_ico.png);
}
.deyun_use_coin_box.stype_zsyb .deyun_use_coin_ico{
	background-image: url(../images/yb_zs_ico.png);
}
.deyun_goods_body .deyun_goods_event_box{
	height:33px;
	line-height:33px;
	padding:0px 12px;
}

.deyun_goods_body .deyun_goods_event_box em,.deyun_goods_body .deyun_goods_event_box span{
	color:#a3a3a3;
}
.deyun_goods_body .deyun_goods_event_right{
	background-image: url(../images/event_right.png);
	background-repeat: no-repeat;
	background-position: center center;
	height:33px;
	width:5px;
	background-size:contain;
	float:right;
}
.deyun_goods_body .deyun_goods_sku_body{
	background:#fff;
	padding:5px 12px 18px 12px;
}
.deyun_goods_sku_tit_box{
	height:25px;
	line-height:25px;
	margin-bottom:1px;
	background:#fff;
	padding:0px 12px;
}
.deyun_goods_sku_tit_box .deyun_goods_sku_tit{
	color:#585858;
}
.deyun_goods_body  .deyun_goods_nokori_box{
	padding-left:15px;
}
.deyun_goods_body  .deyun_goods_nokori_box span{
	color:#8c8c8c;
}
.deyun_goods_sku_item_box .deyun_goods_sku_item_name{
	color:#8c8c8c;
	font-size:12px;
	line-height:23px;
}
.deyun_goods_sku_tab_box .deyun_goods_sku{
	padding:6px 8px;
	border:1px solid #e4e4e4;
	line-height:16px;
	color:#8c8c8c;
	margin-right:8px;
	margin-bottom:5px;
	display:inline-block;
	position:relative;
	z-index:5;
}
.deyun_goods_sku_tab_box .deyun_goods_sku.type_pic{
	width:40px;
	height:40px;
	background-size:contain;
	padding:0px;
	background-repeat: no-repeat;
	background-position: center center;
}
.deyun_goods_sku_tab_box .deyun_goods_sku.active{
	border:1px solid #54ddff;
}
.deyun_goods_sku_tab_box .deyun_goods_sku.active:after{
	content: "";
	display: block;
	position: absolute;
	width: 11px;
	height: 11px;
	right: 0px;
	bottom: 0px;
	background-image: url(../images/sku_active.png);
	background-size:contain;
}
.deyun_goods_body .deyun_goods_buy_nums_box{
	border:1px solid #eee;
	width:122px;
	margin-top:6px;
}
.deyun_goods_body .deyun_goods_buy_nums_btn{
	width:30px;
	height:30px;
	display:inline-block;
	text-align:center;
	line-height:30px;
	background:#eee;
	color:#9d9d9d;
	font-size:22px;
}
.deyun_goods_body .deyun_goods_buy_nums_input{
	border:0px;
	height:30px;
	width:62px;
	outline:none;
	text-align:center;
}
.deyun_goods_body .deyun_goods_tsy_btn_box{
	background:#fff;
	margin:5px 0;
}
.deyun_goods_body .deyun_goods_tsy_btn_box .deyun_goods_tsy_li{
	float:left;
	width:33.33%;
	text-align:center;
	height:25px;
	line-height:25px;
}
.deyun_goods_body .deyun_goods_tsy_btn_box .deyun_goods_tsy_li.act{
	height: 23px;
    border-bottom: 2px solid #54ddff;
	color:#54ddff;
}

/*商品详情*/
.deyun_goods_body .deyun_goods_tsy_box{
	background:#fff;
}
.deyun_goods_tsy_box .deyun_goods_type_t_box img{
	max-width:100%;
}
.deyun_goods_tsy_box .deyun_goods_type_t_box p{
	margin-bottom:10px;
	padding:0px 12px;
}
.deyun_goods_tsy_box .deyun_goods_tsy_box_li{
	display:none;
}
.deyun_goods_tsy_box .deyun_goods_tsy_box_li.act{
	display:block;
}
/*评价*/
.deyun_goods_body .deyun_goods_type_s_box{
	margin-bottom:8px;
}
.deyun_goods_body .deyun_goods_pl_all_point_box {
	height:40px;
	line-height:40px;
	border-bottom:1px solid #f6f6f6;
}
.deyun_goods_body .deyun_goods_pl_all_point_box .deyun_goods_pl_all_span{
	padding-left:17px;
	color:#585858;
}
.deyun_goods_pl_all_point_box .deyun_goods_pl_all_span em{
	color:#54ddff;
}
.deyun_goods_body .deyun_goods_pl_item_box{
	margin-top:10px;
	position:relative;
	z-index:5;
	padding-bottom:5px;
}
.deyun_goods_body .deyun_goods_pl_tx_box{
	width:45px;
	position:absolute;
	left:21px;
}
.deyun_goods_body .deyun_goods_pl_tx img{
	width:45px;
	height:45px;
}
.deyun_goods_body .deyun_goods_pl_tx{
	width:45px;
	height:45px;
	border-radius:25px;
	overflow:hidden;
}
.deyun_goods_body .deyun_goods_pl_name{
	text-align:center;
	width:100%;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	line-height:18px;
	color:#797979;
}
.deyun_goods_body .deyun_goods_pl_lv{
	background-repeat: no-repeat;
	background-position: center center;	
	width:25px;
	height:20px;
	background-size:contain;
	margin:0 auto;
}
.deyun_goods_body .deyun_goods_pl_lv.lv_01{
	background-image: url(../images/member_lv1_ico.png);
	margin-top:-5px;
}
.deyun_goods_body .deyun_goods_pl_lv.lv_02{
	background-image: url(../images/member_lv2_ico.png);
	margin-top:3px;
}
.deyun_goods_body .deyun_goods_pl_lv.lv_03{
	background-image: url(../images/member_lv3_ico.png);
	margin-top:3px;
	
}
.deyun_goods_body .deyun_goods_pl_lv.lv_04{
	background-image: url(../images/member_lv4_ico.png);
	margin-top:3px;
	
}
.deyun_goods_body .deyun_goods_pl_lv.lv_05{
	background-image: url(../images/member_lv5_ico.png);
	
}
.deyun_goods_body .deyun_goods_pl_lv.lv_06{
	background-image: url(../images/member_lv6_ico.png);
	
}
.deyun_goods_body .deyun_goods_pl_a{
	margin-left:82px;
	min-height:78px;
}
.deyun_goods_pl_a .deyun_goods_pl_a_content,.deyun_goods_pl_a .deyun_goods_pl_info{
	margin-bottom:5px;
	margin-right:14px;
}
.deyun_goods_pl_a .deyun_goods_pl_a_content p{
	color:#585858;
	word-break:break-all;
}
.deyun_goods_pl_a .deyun_goods_pl_info{
	color:#a3a3a3;
}
/*评论的晒图开始*/
.content-img-box{
	padding-bottom:5px;
}
.content-img-box ul li{
	float:left;
	width:38px;
	height:38px;
	margin-right:6px;
	border:1px solid #dddddd;
}
.content-img-box ul li img{
	width:38px;
	height:38px;
}
/*评论的晒图结束*/
.deyun_goods_body .deyun_goods_pl_q{
	padding:9px;
	background:#f5f5f5;
	margin:20px 14px 2px 21px;
	position:relative;
	z-index:5;
}
.deyun_goods_pl_q .triangle_up{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f5f5f5;
	position:absolute;
	top:-10px;
	right:17px;
}
.deyun_goods_pl_item_body{
	border-bottom:1px solid #f6f6f6;
}
.deyun_goods_pl_q p{
	color:#a3a3a3;
	word-break:break-all;
}
.deyun_see_all_pl_link{
	padding-top:8px;
	padding-left:14px;
}
.deyun_see_all_pl_link a{
	color:#585858;
}
/*咨询*/
.deyun_goods_type_y_box{
	background:#fff;
	padding-bottom:12px;
}
.deyun_goods_type_y_item_box{
	position:relative;
	z-index:5;
	padding-top:12px;
	border-bottom:1px solid #f6f6f6;
}
.deyun_goods_type_y_item_box .deyun_goods_type_y_Q_ico{
	background:#54ddff;
	color:#fff;
	width:17px;
	height:17px;
	position:absolute;
	text-align:center;
	line-height:17px;
	left:8px;
}
.deyun_goods_type_y_item_box .deyun_goods_type_y_Q_content_box{
	margin-left:35px;
	margin-right:15px;
	min-height:20px;
}
.deyun_goods_type_y_Q_content_box p{
	color:#2d2d2d;
	font-size:12px;
	line-height:16px;
}
.deyun_goods_type_y_time_name_box{
	padding-top:8px;
	padding-bottom:12px;
}
.deyun_goods_type_y_time_name_box .deyun_goods_type_y_name,.deyun_goods_type_y_time_name_box .deyun_goods_type_y_time{
	color:#8c8c8c;
}
.deyun_goods_type_y_item_box .deyun_goods_type_y_A_ico{
	background:#fff100;
	color:#fff;
	width:17px;
	height:17px;
	position:absolute;
	text-align:center;
	line-height:17px;
	left:8px;
}
.deyun_goods_y_all_zx{
	padding-top: 8px;
    padding-left: 14px;
	padding-right: 14px;
}
.deyun_goods_y_all_zx .deyun_goods_y_all_zx_btn{
	color: #585858;
	float:left;
	line-height: 24px;
}
.deyun_goods_y_all_zx .deyun_goods_y_send_zx{
	float:right;
	display:block;
	padding:5px 10px;
	font-size:12px;
	line-height:16px;
	background:#54ddff;
	color:#fff;
	border-radius:3px;
}
/*猜你喜欢*/
.deyun_goods_like_body{
	margin-top:8px;
	background:#fff;
	padding:8px;
	color:#585858;
}
.deyun_goods_like_item_box{
	width:48%;
	margin-bottom:5px;
}
.deyun_goods_like_item_box:nth-child(odd){
	float:left;
}
.deyun_goods_like_item_box:nth-child(even){
	float:right;
}
.deyun_goods_like_item_pic{
	border:1px solid #e5e5e5;
}
.deyun_goods_like_item_box .deyun_goods_like_item_pic img{
	max-height:100%;
	max-width:100%;
}
.deyun_goods_like_item_body{
	padding-top:7px;
}
.deyun_goods_like_item_body .deyun_goods_like_item_name{
	height:34px;
	overflow:hidden;
	padding:0 3px;
	margin-top:3px;
	font-size:12px;
}
.deyun_goods_like_item_body .deyun_goods_like_item_name a{
	color:#8d8c8c;
	word-break:break-all;
}
.deyun_goods_like_item_body .deyun_goods_like_item_price{
	padding:0 3px;
}
.deyun_goods_like_item_body .deyun_goods_like_item_price span{
	color:#54ddff;
	font-size:12px;
}
.deyun_buy_btn_list{
	width: 100%;
    /*display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;*/
	display:-moz-box; /* Firefox */
    display:-webkit-box; /* Safari and Chrome */
    display:box;
    display: flex;
    position: fixed;
    height: 48px;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 48px;
    z-index: 999;
    background-color: #fff;
}
.deyun_buy_btn_list .deyun_buy_btn_type_1{
	width: 74px;
    line-height: 25px;
    border-right: 1px #efefef solid;
    border-top: 1px #efefef solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.deyun_buy_btn_list .deyun_goods_buy_cart,.deyun_buy_btn_list .deyun_goods_buy_fast{
	/*-webkit-box-flex: 1;
    width: 33.333%;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
	-moz-box-flex:1.0;*/ /* Firefox */
	-moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    box-flex:1.0;
    flex: 1;
    color: #fff;
	font-size:13px;
	display:block;
	height:48px;
}
.deyun_buy_btn_list .deyun_goods_buy_cart{
	background-color: #dcdcdc;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.deyun_buy_btn_list .deyun_goods_buy_fast{
	background-color: #54ddff;
}
.deyun_buy_btn_3_btn_box{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	height:100%;
}
.deyun_goods_index_ico{
	background-image: url(../images/buy_goods_ico1.png);
	background-repeat: no-repeat;
	background-position: center center;
	width:17px;
	height:17px;
	background-size:contain;
	margin:5px auto 0 auto;
}
.deyun_goods_coll_ico{
	background-image: url(../images/buy_goods_ico2.png);
	background-repeat: no-repeat;
	background-position: center center;
	width:17px;
	height:17px;
	background-size:contain;
	margin:5px auto 0 auto;
}
.deyun_goods_colled_ico{
	background-image: url(../images/buy_goods_ico3.png);
	background-repeat: no-repeat;
	background-position: center center;
	width:17px;
	height:17px;
	background-size:contain;
	margin:5px auto 0 auto;
}
.deyun_goods_event_list_window_body{
	position: fixed;
    bottom: 0px;
    left: 0;
	z-index:99999;
	background:#fff;
	width:100%;
	display:none;
}
.deyun_goods_event_list_window_body .deyun_goods_event_list_window_tit{
	height:34px;
	background:#f6f6f6;
	color::#4e4e4e;
	line-height:34px;
	padding-left:14px;
	color:#4e4e4e;
}
.deyun_goods_event_list_window_box{
	/*max-height:100px;
	overflow:auto;*/
	margin:14px;
}
.deyun_goods_event_list_window_box em{
	color:#54ddff!important;
}
.deyun_goods_event_list_window_box li{
	margin-bottom:5px;;
}
.deyun_goods_event_close{
	height:37px;
	background:#d2d2d2;
	text-align:center;
	line-height:37px;
	color:#fff;
}