@charset "utf-8";
/* CSS Document */
.deyun_index_search_banner_big_box{
	position:relative;
	z-index:5;
}
.deyun_index_banner_box{
	width:100%;
	overflow:hidden;
}

.deyun_index_banner_ul .deyun_index_banner_li {
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.deyun_index_banner_ul .deyun_index_banner_li a{
	display:block;
	width:100%;
	height:100%;
}
.deyun_index_banner_box .swiper-pagination{
	text-align:right;
	width:90%;
	position:absolute;
	z-index:4;
	bottom:5px;
	padding-left:8%;
}
.deyun_index_banner_box .swiper-pagination span{
	width:6px;
	height:6px;
	margin:0 3px;
	background:rgba(160,160,160,0.5);
	display:inline-block;
	-moz-border-radius: 50%;      /* Gecko browsers */
    -webkit-border-radius: 50%;   /* Webkit browsers */
    border-radius:50%;            /* W3C syntax */
	
}
.deyun_index_banner_box .swiper-pagination span.swiper-pagination-bullet-active{
	background:rgba(128,204,237,1);
}

.deyun_index_search_box{
	width:100%;
	position:absolute;
	z-index:5;
	height:30px;
	left:0;
	top:4px;
}
.deyun_index_search_box .deyun_index_logo_box{
	background-image: url(../images/deyun_m_logo.png);
	background-position: center center;
	width: 41px;
	height: 100%;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left:2.3%;
}
.deyun_index_search_textfile{
	background-image: url(../images/search_bg_01.png);
	background-repeat: no-repeat;
	background-position: left center;
	height:100%;
	background-size: contain;
	width:82%;
	float:left;
	margin-left:2.3%;
}
.deyun_index_search_textfile .deyun_index_search_textfile_input{
	float: left;
	margin-left: 15px;
	border: 0px;
	background-repeat: repeat-x;
	background-image: url(../images/search_bg_02.png);
	background-color:transparent;
	height:100%;
	width:83%;
	outline:none;
}
.deyun_index_search_textfile form{
	height:100%;
	width:100%;
}
.deyun_index_search_textfile .deyun_index_search_btn{
	float: left;
	display: block;
	height: 100%;
	width: 30px;
	background-image: url(../images/search_bg_04.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}
.deyun_index_nav_box{
	padding-top:19px;
	background:#fff;
	margin-bottom:3px;
	padding-bottom:2px;
	width:100%;
}
.deyun_index_nav_box .deyun_index_nav_a{
	width:25%;
	height:auto;
	display:block;
	float:left;
	text-align:center;
	margin-bottom:18px;
}
.deyun_index_nav_box .deyun_index_nav_a img{
	width:34px;
	height:34px;
	margin: 0 auto 6px auto;
	display:block;
}
.deyun_index_nav_box .deyun_index_nav_a span{
	color:#585858;
	font-size:12px;
	line-height:14px;
}
.deyun_index_big_news_box{
	padding:5px 0;
	background:#fff;
	margin-bottom:3px;
}
.deyun_index_big_news_box .deyun_index_big_news_ico{
	width: 13px;
	height: 16px;
	background-image: url(../images/deyun_index_big_news.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 2.3%;
	background-position: center center;
}
.deyun_index_big_news_box .deyun_index_big_news_money{
	margin-left:6px;
}
.deyun_index_big_news_money span{
	font-size:12px;
	line-height:13px;
	/*vertical-align: super;*/
}
.deyun_index_hot_susume_big_box{
	background:#fff;
	margin-bottom: 3px;
	padding-top:6px;
	padding-bottom:10px;
}
.deyun_index_hot_susume_big_box .deyun_index_hot_susume_h2{
	margin-left:13px;
	color:#585858;
	font-size:13px;
}
.deyun_index_hot_susume_big_box .deyun_index_hot_susume_more{
	margin-right:13px;
	color:#8c8c8c;
	font-size:12px;
}
.deyun_index_hot_susume_big_box .deyun_index_hot_susume_top{
	line-height:14px;
	margin-bottom:9px;
}
.deyun_index_hot_susume_ul .deyun_index_hot_susume_li{
	float:left;
	margin-right:12px;
}
.deyun_index_hot_susume_big_box .deyun_index_hot_susume_ul{
	width:10000%;
	overflow-x:auto;
	overflow-y:hidden;
	height:180px;
}
.deyun_index_hot_susume_big_box .deyun_index_hot_susume_ul_scroll{
	width:100%;
	overflow-x:auto;
	overflow-y:hidden;
	height:180px;
}
.deyun_index_hot_susume_li .deyun_index_hot_susume_item_pic img{
	max-width:125px;
	max-height:125px;
	
}
.deyun_index_hot_susume_li .deyun_index_hot_susume_item_pic{
	text-align:center;
	display:block;
	border:1px solid #dfdfdf;
	width:125px;
	height:125px;
}
.deyun_index_hot_susume_li .deyun_index_hot_susume_item_name{
	padding:0 4px 0 8px;
	width:115px;
	height: 34px;
	margin-top:3px;
    overflow: hidden;
}
.deyun_index_hot_susume_li .deyun_index_hot_susume_item_name a{
	word-break:break-all;
	color:#8c8c8c;
	font-size:12px;
	line-height:16px;
}
.deyun_index_hot_susume_li .deyun_index_hot_susume_item_price_box{
	text-align:center;
	color:#54ddff;
	height:16px;
	overflow:hidden;
	line-height:16px;
}
.deyun_index_hot_susume_li .deyun_index_hot_susume_item_price{
	font-size:13px;
}
.deyun_index_hot_susume_li .deyun_index_hot_susume_item_price_db{
	font-size:12px;
}
.deyun_index_think_ul{
	width:100%;
}
.deyun_index_think_ul .deyun_index_think_li{
	float:left;
	width:50%;
	padding-right:6px;
	padding-left:6px;
	margin-bottom:8px;
}
.deyun_index_think_ul .deyun_index_think_li:nth-child(2n+1) {
	padding-left:13px;
}
.deyun_index_think_li .deyun_index_think_item_pic{
	width:100%;
	height:100px;
	text-align:center;
	display:block;
	border:1px solid #dfdfdf;
}
.deyun_index_think_li .deyun_index_think_item_pic img{
	max-width:100%;
	max-height:100%;
}
.deyun_index_think_li .deyun_index_think_item_name{
	height:32px;
	overflow:hidden;
	margin-top:3px;
}
.deyun_index_think_li .deyun_index_think_item_name a{
	word-break:break-all;
	color:#8c8c8c;
	font-size:12px;
	line-height:16px;
}
.deyun_index_think_li .deyun_index_think_item_price_box{
	text-align:center;
	color:#54ddff;
	height:16px;
	overflow:hidden;
	line-height:16px;
	margin-top:3px;
}
.deyun_index_think_li .deyun_index_think_item_price{
	font-size:13px;
}
.deyun_index_think_li .deyun_index_think_item_price_db{
	font-size:12px;
}
