@charset "utf-8";
/* CSS Document */
.deyun_change_password{
	background-image: url(../images/deyun_change_passwork.png);
	background-repeat: no-repeat;
	background-position: center center;	
	display:block;
	width:18px;
	height:18px;
	background-size:contain;
	position:absolute;
	right: 21px;
    top: 10px;
}
.deyun_member_info_big_box{
	background:#fff;
	height:146px;
	width:100%;
}
.deyun_member_info_tx{
	border:1px solid #d2d2d2;
	width:55px;
	height:55px;
	border-radius:55px;
	overflow:hidden;
	margin-top:8px;
	margin-left:17px;
}
.deyun_member_info_tx img{
	max-width:55px;
	max-height:55px;
}
.deyun_member_info_lv_and_name_box{
	margin-top:16px;
	margin-left:10px;
}

.deyun_member_info_lv_and_name_box .deyun_member_info_name_box{
	color:#585858;
}
.deyun_member_info_lv_box {
	margin-top:6px;
}
.deyun_member_info_lv_and_name_box .deyun_member_info_lv_ico{
	background-repeat: no-repeat;
	background-position: center center;	
	width:19px;
	height:16px;
	background-size:contain;
}
.deyun_member_info_lv_box.lv_1 .deyun_member_info_lv_ico{
    background-image: url(../images/member_lv1_ico.png);
}
.deyun_member_info_lv_box.lv_2 .deyun_member_info_lv_ico{
    background-image: url(../images/member_lv2_ico.png);
}
.deyun_member_info_lv_box.lv_3 .deyun_member_info_lv_ico{
    background-image: url(../images/member_lv3_ico.png);
}
.deyun_member_info_lv_box.lv_4 .deyun_member_info_lv_ico{
    background-image: url(../images/member_lv4_ico.png);
}
.deyun_member_info_lv_box.lv_5 .deyun_member_info_lv_ico{
    background-image: url(../images/member_lv5_ico.png);
}
.deyun_member_info_lv_box.lv_6 .deyun_member_info_lv_ico{
    background-image: url(../images/member_lv6_ico.png);
}
.deyun_member_info_lv_and_name_box .deyun_member_info_lv_name{
	color:#a3a3a3;
	padding-left:5px;
}
.deyun_member_info_bottom_box{
	border-top:1px solid #efefef;
	margin-top:16px;
	width:100%;
}
.deyun_member_info_bottom_box .deyun_member_money_box{
	width:25%;
	float:left;
	text-align:center;
}
.deyun_member_info_bottom_box .deyun_member_money_ico{
	background-repeat: no-repeat;
	background-position: center center;
	height:13px;
	width:17px;
	background-size:contain;
	margin:7px auto 5px auto;
}
.deyun_member_money_ico.type_1{
	background-image: url(../images/db_sc_ico.png);
}
.deyun_member_money_ico.type_2{
	background-image: url(../images/db_pt_ico.png);
}
.deyun_member_money_ico.type_3{
	background-image: url(../images/yb_xf_ico.png);
}
.deyun_member_money_ico.type_4{
	background-image: url(../images/yb_zs_ico.png);
}
.deyun_member_money_box p{
	color:#585858;
	font-size:12px;
}
.change_and_give_big_box{
	width:100%;
	height:41px;
	margin-top:2px;
	margin-bottom:2px;
}
.change_and_give_big_box .deyun_change_and_give_btn{
	height:100%;
	background:#fff;
	display:block;
	text-align:center;
	line-height:41px;
	color:#585858;
}
.deyun_my_order_box{
	width:100%;
	margin-bottom:2px;
}
.deyun_my_order_box .deyun_my_order_top_box{
	height:33px;
	width:100%;
	background:#fff;
}
.deyun_my_order_top_box .deyun_my_order_tit{
	font-size:14px;
	color:#585858;
	line-height:33px;
	padding-left: 3%;
}
.deyun_my_order_top_box .deyun_my_order_all{
	font-size:12px;
	color:#8c8c8c;
	line-height:33px;
	padding-right:3%;
}
.deyun_my_order_bottom_box{
	height:47px;
	background:#fff;
}
.deyun_my_order_bottom_box .deyun_my_order_ico_box{
	float:left;
	width:20%;
	position:relative;
	z-index:3;
	margin-top: 8px;
}
.deyun_my_order_bottom_box .deyun_my_order_ico_nums{
	position: absolute;
    border: 2px solid #ff0000;
    border-radius: 16px;
    height: 15px;
    line-height: 15px;
    padding: 0 4px;
    color: #ff0000;
    left: 50%;
    background: #fff;
    font-size: 12px;
    top: -11px;
}
.deyun_my_order_bottom_box .deyun_my_order_ico_link{
	display:block;
	width:100%;
}
.deyun_my_order_bottom_box .deyun_my_order_ico{
	max-width:20px;
	max-height:16px;
	display:block;
	margin:0 auto;
}
.deyun_my_order_ico_span{
	width:100%;
	display:block;
	text-align:center;
	color:#585858;
}
.deyun_member_center_nav_item_box{
	width:100%;
	height:50px;
	background:#fff;
	overflow:hidden;
}
.deyun_member_center_nav_item_ico{
	margin-left:12px;
	margin-top:13px;
}
.deyun_member_center_nav_item_box .deyun_member_center_nav_item_ico img{
	max-width:24px;
	max-height:24px;
}
.deyun_member_center_nav_item_box .deyun_member_center_nav_item_name{
	line-height:49px;
	height:49px;
	border-bottom:1px solid #efefef;
	margin-left:8px;
	padding-left:9px;
}
.deyun_member_center_nav_item_box .deyun_member_center_nav_item_name a{
	color:#585858;
	display:block;
	width:100%;
	height:100%;
}
.bi_to_money_and_change_window_box {
    border: 1px solid #d2d2d2;
    width: 300px;
    position: fixed;
    z-index: 99999;
    top: 100px;
    left: 10px;
    padding: 8px 0px 0 0px;
    background: #fff;
	color: #585858;
}
.bi_to_money_and_change_window_tit {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 8px;
    font-size: 14px;
    color: #444444;
    padding-left: 6px;
}
.bi_to_money_and_change_window_body {
    padding: 6px 8px;
}
.bi_to_money_and_change_window_input_box {
    margin-top: 10px;
    text-align: right;
    margin-bottom: 7px;
}
.bi_to_money_and_change_window_input_box input {
    width: 120px;
    height: 20px;
    line-height: 20px;
    outline: none;
    padding: 0 8px;
	border:1px solid #d2d2d2;
}
.bi_to_money_and_change_window_btn_box .window_btn_is_ok {
    border-right: 1px solid #d2d2d2;
}
.bi_to_money_and_change_window_btn_box .window_btn_is_ok, .bi_to_money_and_change_window_btn_box .window_btn_is_no {
    width: 48%;
    height: 37px;
    line-height: 37px;
    color: #333333;
    font-size: 12px;
    text-align: center;
    display: block;
    float: left;
}
.bi_to_money_and_change_window_btn_box {
    border-top: 1px solid #d2d2d2;
}
.deyun_member_center_nav_item_big_box{
	background:#fff;
}
.deyun_member_center_nav_item_big_box.type_f2{
	margin-top:5px;
}
.login_out_box{
	width:100%;
	height:43px;
	font-size:12px;
	color:#fff;
	line-height:43px;
	text-align:center;
	background:#54ddff;
	display:block;
	position:fixed;
	bottom:0px;
	left:0px;
	z-index:999;
}
.deyun_my_money_body{
	width:100%;
	height:44%;
}
.deyun_my_money_body .deyun_my_money_table{
	width:100%;
	height:100%;
}
.deyun_my_money_body .deyun_my_money_table td{
	background:#fff;
	border-bottom:1px solid #efefef;
	border-right:1px solid #efefef;
	text-align:center;
	vertical-align:middle;
	width: 50%;
}
.deyun_my_money_body .deyun_my_money_nums_cache{
	display:none;
}
.deyun_my_money_body .deyun_my_money_nums{
	color:#54ddff;
}
.deyun_my_money_body .deyun_my_money_qian{
	font-size:30px;
}
.deyun_my_money_body .deyun_my_money_hou{
	font-size:20px;
}
.deyun_my_money_body .deyun_my_money_type{
	font-size:12px;
	color:#585858;
}
/*推荐收益*/
.deyun_tjsy_info_body{
	padding:16px 21px;
	background:#fff;
}
.deyun_tjsy_info_body .deyun_tjsy_hdsy_body span,.deyun_tjsy_info_body .deyun_tjsy_gtjl_body span{
	color:#585858;
	font-size:12px;
}
.deyun_tjsy_info_body .deyun_tjsy_hdsy_body em,.deyun_tjsy_info_body .deyun_tjsy_gtjl_body em{
	color:#54ddff;
	font-size:30px;
	vertical-align: -2px;
	line-height:36px;
}
.deyun_tjsy_phone{
	padding:10px 21px;
	background:#fff;
	margin-top:5px;
}
.deyun_tjsy_phone{
	color:#585858;
	font-size:12px;
	line-height:18px;
}
.deyun_tjsy_ytj_body{
	background:#fff;
	margin-top:5px;
	padding:10px 21px;
	overflow:hidden;
}
.deyun_tjsy_ytj_body .deyun_tjsy_ytj_tit{
	font-size:12px;
	color:#8c8c8c;
	padding-bottom:8px;
}
.deyun_tjsy_ytj_body .deyun_tjsy_ytj_item_pic_box img{
	max-height:100%;
	max-width:100%;
}
.deyun_tjsy_ytj_body .deyun_tjsy_ytj_item_pic_box{
	height:100%;
	width:100%;
}
.deyun_tjsy_ytj_item_ul .deyun_tjsy_ytj_item_li{
	margin-bottom:32px;
}
.deyun_tjsy_ytj_item_ul .deyun_tjsy_ytj_item_li:nth-child(odd){
	float:left;
}
.deyun_tjsy_ytj_item_ul .deyun_tjsy_ytj_item_li:nth-child(even){
	float:right;
}
.deyun_tjsy_ytj_item_ul .deyun_tjsy_ytj_item_price{
	text-align:center;
}
.deyun_tjsy_ytj_item_ul .deyun_tjsy_ytj_item_price span{
	color:#54ddff;
	font-size:12px;
	line-height:21px;
}
.deyun_tjsy_ytj_item_ul .deyun_tjsy_ytj_item_price_ol{
	text-align:center;
}
.deyun_tjsy_ytj_item_ul .deyun_tjsy_ytj_item_price_ol span{
	color:#8c8c8c;
	font-size:12px;
	line-height:21px;
	text-align:center;
}
.deyun_tjsy_hdsy_body em.type_hou{
	font-size:20px;
}
/*首充收益、借款返点、消费返利*/
.deyun_money_instructions{
	background:#fff;
	margin-top:5px;
	padding:10px 21px;
	overflow:hidden;
}
.deyun_money_instructions .deyun_money_instructions_tit{
	font-size:13px;
	color:#585858;
	line-height:18px;
	padding-bottom:14px;
}
.deyun_money_instructions .deyun_money_instructions_text_body{
	font-size:12px;
}
.deyun_money_instructions .deyun_money_instructions_text_body h4{
	color:#8c8c8c;
}
.deyun_money_instructions .deyun_money_instructions_text_body p{
	color:#8c8c8c;
	line-height:20px;
	margin-bottom:5px;
}
