@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin:0;
	padding:0;
	font-weight:normal;
}

button,input,select,textarea {
	font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
}
address,cite,dfn,em,var {
	font-style:normal;
}
code,kbd,pre,samp {
	font-family:couriernew,courier,monospace;
}
small {
	font-size:12px;
}
ul,ol,li {
	list-style:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
legend {
	color:#000;
}
fieldset,img {
	border:0;
	vertical-align:top
}
button,input,select,textarea {
	font-size:100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
body {
	font-size:12px;
	font-family: 'Microsoft YaHei',SimHei,SimHei,SimSun,Helvetica,Verdana,Tahoma,arial,sans-serif;
	color:#8c8c8c;
	background-color:#f6f6f6;
}
.fl {
	float:left
}
.fr {
	float:right
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.deyun_mhome{
	padding: 0;
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
}
.deyun_m_footer{
	width:100%;
}
.deyun_m_footer .deyun_footer_copyright{
	width:100%;
	text-align:center;
	margin:10px 0;
}
.deyun_bottom_nav_box{
	background:#fff;
	height:50px;
	width:100%;
	border-top:1px solid #d2d2d2;
	position:fixed;
	z-index:999;
	bottom:0px;
	left:0px;
}
.deyun_bottom_nav_box .deyun_bottom_nav_link{
	width:25%;
	height:100%;
	text-align:center;
	display:block;
	float:left;
}
.deyun_bottom_nav_box .deyun_bottom_nav_link .deyun_bottom_nav_ico_box{
	display:block;
	width:22px;
	height:22px;
	background-size: cover;
	margin:6px auto 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.deyun_bottom_nav_ico_box.nav_type_index{
	background-image: url(../images/deyun_bottom_nav_ico_13.png);
}
.deyun_bottom_nav_ico_box.nav_type_class{
	background-image: url(../images/deyun_bottom_nav_ico_14.png);
}
.deyun_bottom_nav_ico_box.nav_type_buycart{
	background-image: url(../images/deyun_bottom_nav_ico_15.png);
}
.deyun_bottom_nav_ico_box.nav_type_me{
	background-image: url(../images/deyun_bottom_nav_ico_16.png);
}
.deyun_bottom_nav_link.nav_active .deyun_bottom_nav_ico_box.nav_type_index{
	background-image: url(../images/deyun_bottom_nav_ico_01.png);
}
.deyun_bottom_nav_link.nav_active .deyun_bottom_nav_ico_box.nav_type_class{
	background-image: url(../images/deyun_bottom_nav_ico_03.png);
}
.deyun_bottom_nav_link.nav_active .deyun_bottom_nav_ico_box.nav_type_buycart{
	background-image: url(../images/deyun_bottom_nav_ico_05.png);
}
.deyun_bottom_nav_link.nav_active .deyun_bottom_nav_ico_box.nav_type_me{
	background-image: url(../images/deyun_bottom_nav_ico_07.png);
}

.deyun_bottom_nav_box .deyun_bottom_nav_txt{
	color:#585858;
	font-size:12px;
	line-height:22px;
}
.deyun_bottom_nav_link.nav_active .deyun_bottom_nav_txt{
	color:#54ddff;
}
.deyun_common_tit_top_box{
	height:40px;
	border-bottom:1px solid #efefef;
	background:#fff;
	width:100%;
	position:relative;
	z-index:99;
}
.go_history_btn{
	background-image: url(../images/go_history.png);
	background-repeat: no-repeat;
	background-position: center center;
	height:100%;
	width:6px;
	background-size: contain;
	margin-left:12px;
	position: absolute;
    left: 0px;
    top: 0px;
}
.go_history_btn a{
	height:100%;
	width:400%;
	display:block;
	margin-left:-150%;
}
.deyun_common_tit_top{
	width:70%;
	text-align:center;
	height:100%;
	margin:0 auto;
	color:#585858;
	font-size:16px;
	line-height:40px;
}
.deyun_black_bg{
	position:fixed;
	z-index:9999;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:rgba(140,140,140,0.59);
}
.deyun_white_bg_body{
	background:#fff!important;
}
.index_go_top{
	width: 37px;
	height: 37px;
	background-image: url(../images/go_top_btn.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position:fixed;
	z-index:999;
	right:26px;
	bottom:80px;
}

@keyframes zizhuan {
      0%   { transform:rotate(0);
             animation-timing-function:linear; }
      100% { transform:rotate(360deg); }
      }
      @-webkit-keyframes zizhuan {
      0%   { -webkit-transform:rotate(0);
             -webkit-animation-timing-function:linear; }
      100% { -webkit-transform:rotate(360deg); }
      }
      @-moz-keyframes zizhuan {
      0%   { -moz-transform:rotate(0);
             -moz-animation-timing-function:linear; }
      100% { -moz-transform:rotate(360deg); }
      }
      @-o-keyframes zizhuan {
      0%   { -o-transform:rotate(0);
             -o-animation-timing-function:linear; }
      100% { -o-transform:rotate(360deg); }
      }
      @-ms-keyframes zizhuan {
      0%   { -ms-transform:rotate(0);
             -ms-animation-timing-function:linear; }
      100% { -ms-transform:rotate(360deg); }
      }
.deyun_no_txt img{
	height:25px;
	width:25px;
	animation: zizhuan 2s infinite;
    -webkit-animation: zizhuan 2s infinite;
    -moz-animation: zizhuan 2s infinite;
    -o-animation: zizhuan 2s infinite;
    -ms-animation: zizhuan 2s infinite;
}
.deyun_no_txt{
	text-align:center;
	color:#a3a3a3;
	margin-bottom:10px;
}
