@charset "utf-8";
/* CSS Document */
.go_history_btn.blue{
	background-image: url(../images/go_history_blue.png);
}
.go_history_btn.close{
	background-image: url(../images/deyun_list_top_close.png);
	width: 10px;
    margin-left: 9px;
}
.deyun_list_lens_ico_box{
	background-image: url(../images/lenz_blue.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
	width: 14px;
	background-size: contain;
	margin-right: 18px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.deyun_list_top_form{
	position:absolute;
	right:0px;
	top:0px;
	height:100%;
}
.deyun_list_top_form .deyun_list_search_btn{
	background-image: url(../images/lenz_blue.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
	width: 14px;
	background-size: contain;
	margin-right: 18px;
	display:inline-block;
	vertical-align:middle;
}
.deyun_list_top_form .deyun_list_search_textfile_input{
	border:0px;
	background:#f6f6f6;
	border-radius:3px;
	height:24px;
	vertical-align:middle;
	margin-right: -24px;
	padding:0 30px 0 10px;
	outline:none;
}
.deyun_common_tit_top_box.type_search{
	display:none;
}

.deyun_list_px_body{
	background:#fff;
}
.deyun_list_px_body.type_normal .deyun_list_px_li{
	width:25%;	
}
.deyun_list_px_body.type_market .deyun_list_px_li{
	width:20%;	
}
.deyun_list_px_ul .deyun_list_px_li{
	float:left;
	text-align:center;
	height:23px;
	line-height:23px;
}
.deyun_list_px_ul .deyun_list_px_li.active a{
	color:#54ddff;
}
.deyun_list_px_ul .deyun_list_px_li a{
	color:#585858;
	display:block;
	width:100%;
	height:100%;
	text-align:center;
}
.deyun_list_arr {
    display: inline-block;
    border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 0;
	border-style: solid;
	border-color: #585858;
    width: 4px;
    height: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
	vertical-align:3px;
	margin-left:4px;
}
.deyun_list_arr.up {
	transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
	vertical-align:0px;
}
.deyun_list_px_ul .deyun_list_px_li.active .deyun_list_arr{
	border-color: #54ddff;
}
.deyun_list_content_body{
	margin-top:3px;
	background:#fff;
	padding:12px 8px;
	overflow:hidden;
}

.deyun_list_content_item_box{
	width:48%;
	margin-bottom:5px;
}
.deyun_list_content_item_box:nth-child(odd){
	float:left;
}
.deyun_list_content_item_box:nth-child(even){
	float:right;
}
.deyun_list_content_item_pic{
	border:1px solid #e5e5e5;
}
.deyun_list_content_item_box .deyun_list_content_item_pic img{
	max-height:100%;
	max-width:100%;
}
.deyun_list_content_item_body{
	padding-top:7px;
}
.deyun_list_content_item_body .deyun_list_content_item_name{
	height:34px;
	overflow:hidden;
	padding:0 3px;
	margin-top:3px;
	font-size:12px;
}
.deyun_list_content_item_body .deyun_list_content_item_name a{
	color:#8d8c8c;
	word-break:break-all;
}
.deyun_list_content_item_body .deyun_list_content_item_price{
	padding:0 3px;
}
.deyun_list_content_item_body .deyun_list_content_item_price span{
	color:#54ddff;
	font-size:12px;
}
.deyun_list_fenlei_ico{
	display: inline-block;
	background-image: url(../images/list_fenlei_ico.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 11px;
    width: 13px;
	background-size:contain;
	margin-right:5px;
	vertical-align: -1px;
}