@charset "utf-8";
/* CSS Document */
.mt-number-animate{    height: 30px;overflow: hidden; display: inline-block; position: relative; }
.mt-number-animate .mt-number-animate-dot{ width: 8px;/*设置分割符宽度*/ float: left; text-align: center;}
.mt-number-animate .mt-number-animate-dom{ width: 12px;/*设置单个数字宽度*/ text-align: center; float: left; position: relative; top: 0;}
.mt-number-animate .mt-number-animate-dom .mt-number-animate-span{ width: 100%; float: left;}
.deyun_donate_top_banner{
	position: relative;
	z-index: 10;
	background-size: cover;
	background-image: url(../images/donate_bg_pic.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:190px;
}
.deyun_donate_top_banner .donate_money_big_box{
	position:absolute;
	top:26px;
	left:13%;
}
.deyun_donate_top_banner .donate_money_tit_box{
	border-left: 6px solid rgba(254,154,154,0.7);
	padding-left:3px;
	color:#ff3434;
	font-size:16px;
	line-height: 14px;
	padding-bottom: 1px;
}
.deyun_donate_top_banner .donate_money_box{
	font-size:22px;
	color:#ff3434;
	line-height:32px;
	margin-top:8px;
	position:relative;
}
.deyun_donate_top_banner .donate_money_nums_cache{
	display:none;
}
.deyun_donate_top_banner .donate_money_rmb{
	height:30px;
	position:absolute;
	left:3px;
	top:0px;
}
.deyun_donate_top_banner .donate_money_nums{
	margin-left:24px;
}
.deyun_donate_content_tit{
	padding:13px 18px;
}
.deyun_donate_content_tit h3{
	color:#585858;
}
.deyun_donate_content_body{
	padding:0px 18px;
}
.deyun_donate_content_body .deyun_donate_content_item_time span{
	color:#8c8c8c;
	line-height:10px;
	font-size:12px;
}
.deyun_donate_content_body span.deyun_donate_content_item_bar{
	background:#cb0304;
	display:inline-block;
	width:6px;
	height:10px;
}
.deyun_donate_content_body .deyun_donate_content_item_nums{
	padding-left:6px;
}
.deyun_donate_content_item_time{
	margin-bottom:10px;
}
.deyun_donate_content_item_big_pic img{
	max-width:100%;
	margin-bottom: 10px;
}
.deyun_donate_content_item_tit_h4{
	color:#585858;
	text-align:center;
	font-size:13px;
	line-height:24px;
}
.deyun_donate_content_item_txt_full{
	overflow:hidden;
	display:none;
}
.deyun_donate_content_item_txt_full p{
	color:#676868;
	margin-bottom:15px;
}
.deyun_donate_content_item_txt_full img,.deyun_donate_content_item_txt_full table{
	max-width:100%;
}
.deyun_donate_content_item_box{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #d2d2d2;
}
.deyun_donate_content_item_txt_sm .txt_more{
	color:#cc0000;
}
.deyun_donate_content_body .close_more_box{
	text-align:right;
	clear:both;
}
.deyun_donate_content_body .close_more_box .close_more{
	color: #cc0000;
	background-image: url(../images/deyun_m_love_up_ico.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size:contain;
	padding-left:16px;
	line-height:12px;
}
.deyun_no_txt{
	text-align:center;
	color:#a3a3a3;
	margin-bottom:10px;
}

.txt_last{
	border-bottom:0px!important;
}


