@charset "utf-8";
/* CSS Document */
.deyun_finance_ico_body{
	width:100%;
	background:#fff;
	padding:35px 0;
}
.deyun_finance_ico_table{
	width:100%;
}
.deyun_finance_ico_link .deyun_finance_ico{
	width: 47%;
	height: 47%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	display:inline-block;
}
.deyun_finance_ico_table .deyun_finance_ico_td{
	width:50%;
	text-align:center;
	vertical-align:middle;
}
.deyun_finance_ico_table .deyun_finance_ico_name{
	display:block;
	color:#585858;
	margin-top:3px;
}
.deyun_finance_ico.type_1{
	background-image: url(../images/fi_ico_4.png);
}
.deyun_finance_ico.type_2{
	background-image: url(../images/fi_ico_3.png);
}
.deyun_finance_ico.type_3{
	background-image: url(../images/fi_ico_2.png);
}
.deyun_finance_ico.type_4{
	background-image: url(../images/fi_ico_1.png);
}
.deyun_finance_content_body{
	background:#fff;
	border-top:5px solid #f6f6f6;
	padding:10px 21px;
}
.deyun_finance_content_body .deyun_finance_content_tit_box{
	height: 27px;
	background-size: contain;
	background-image: url(../images/fi_tit_bar.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom:20px;
}
.deyun_finance_content_body .deyun_finance_content_tit_chinese{
	color:#585858;
	padding-left:8px;
	letter-spacing: 0.5em;
	font-size:12px;
	line-height:13px;
}
.deyun_finance_content_body .deyun_finance_content_tit_english{
	color:#585858;
	padding-left:8px;
	font-size:12px;
	line-height:13px;
}
.deyun_finance_content_box{
	height:345px;
	overflow:hidden;
	z-index:5;
}
.deyun_finance_content_box ul{
	height:345px;
}
.deyun_finance_content_box ul li{
	line-height:23px;
	color:#585858;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}