@charset "utf-8";

.slide {
	overflow: hidden;
	display: inline-block;
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 9999;
}
.slide ul {
	position: absolute;
	top: 0;
	left: 0;
	visibility: visible;
	z-index: 10;
}
.slide ul>li {
	width: 100%;
	height: 100%;
	visibility: visible;
	position: relative;
	background-color: #000;
	float: left;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
.slide ul>li img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	overflow: hidden;
}
.pic-header {
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	z-index: 120;
	font-size: 0;
	text-align: center;
}
.pic-header .to-back {
	width: 11px;
	height: 50px;
	background: url(../images/to-back.png) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	display: inline;
	margin-left: 15px;
	float: left;
}
.pic-header .page-box {
	display: block;
	height: 50px;
	font-size: 0;
	width: 200px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -100px;
	text-align: center;
}
.pic-header .fz17 {
	font-size: 17px;
	color: #fff;
	margin: 0 1px 0 1px;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-family: 'Helvetica Regular';
}
.pic-header .fz12 {
	font-size: 15px;
	color: #fff;
	font-family: 'Helvetica Regular';
}
.slide .content {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 200;
	color: #fff;
	font-size: 13px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
	background-color: rgba(0,0,0,0.3);
	max-height: 115px;
	overflow: hidden;
}
.slide .content-move {
	line-height: 18px;
}
