@charset "utf-8";
/* CSS Document */
.ymm_po_r{
	position:relative;
	z-index:3;
}
.ymm_event_index1_body{
	height:100%;
	width:100%;
}
.ymm_event_common_body{
	height:100%;
	width:100%;
	background-image:url(../img/ymm_event_index_bg.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.swiper-container {
    width: 100%;
    height: 100%;
}  
.ymm_event_page_body{
	margin:0 auto;
}
.ymm_event_index1_top{
	background-image:url(../img/ymm_event_toutu.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	background-size:100%;
	height:100%;
}
.ymm_event_index1_bg{
	background-image:url(../img/ymm_event_index0_bg.png);
	background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
	top:25%;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:3;
}
.ymm_event_index1_logo{
	background-image:url(../img/ymm_event_logo.png);
	background-position:top center;
	background-repeat:no-repeat;
	background-size:contain;
	position:absolute;
	z-index:4;
	top:34.64%;
	bottom:34.84%;
	left:36.94%;
	right:36.94%;
}
.ymm_event_index1_bmcj_btn{
	background-image:url(../img/ymm_event_btn1.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	position:absolute;
	z-index:4;
	top:67.58%;
	height:7.5%;
	left:18.47%;
	right:18.47%;
}
.ymm_event_index1_lczb_btn{
	background-image:url(../img/ymm_event_btn2.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	position:absolute;
	z-index:4;
	top:76.09%;
	height:7.5%;
	left:18.47%;
	right:18.47%;
}
.ymm_event_index1_time{
	position:absolute;
	z-index:4;
	bottom:12.62%;
	left:0px;
	right:0px;
	text-align:center;
	color:#ca583c;
}
.ymm_event_3btn_body{
	height:3.59%;
	position:absolute;
	z-index:4;
	bottom:auto;
	top:7.59%;
	left:7.92%;
	right:7.92%;
	display: -webkit-flex; /* Safari */
    display: flex;
	justify-content:space-between;
}
.ymm_event_3btn_body.type_bottom{
	bottom:6.56%;
	top:auto;
}
.ymm_event_3btn_box{
	width:32%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	height:100%;
	cursor:pointer;
}
.ymm_event_3btn_box.type_1{
	background-image:url(../img/ymm_event_btn3.png);
}
.ymm_event_3btn_box.type_2{
	background-image:url(../img/ymm_event_btn4.png);
}
.ymm_event_3btn_box.type_3{
	background-image:url(../img/ymm_event_btn5.png);
}
.ymm_event_3btn_box.type_1.active{
	background-image:url(../img/ymm_event_btn8.png);
}
.ymm_event_3btn_box.type_2.active{
	background-image:url(../img/ymm_event_btn9.png);
}
.ymm_event_3btn_box.type_3.active{
	background-image:url(../img/ymm_event_btn10.png);
}
.ymm_event_pulldown{
	background-image:url(../img/ymm_event_pulldown.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:18px;
	position:absolute;
	z-index:5;
	bottom:1.56%;
	height:12px;
	left:0px;
	right:0px;
}
.ymm_event_index1_content{
	background-image:url(../img/ymm_event_index1_content.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	position:absolute;
	z-index:4;
	bottom:20.03%;
	top:18.13%;
	left:5.69%;
	right:5.69%;
}
.ymm_event_index1_content.type_index2{
	background-image:url(../img/ymm_event_index2_content.png);
}
.ymm_event_index1_content.type_index3{
	background-image:url(../img/ymm_event_index3_content.png);
}
.ymm_event_livetime2.type_2{
	bottom: 5.5%;
}
.ymm_event_common_btn6,.ymm_event_common_btn7{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	position:absolute;
	z-index:4;
	bottom:12%;
	width:38.89%;
	height:6.31%;
	display:block;
}
.ymm_event_common_btn6.type_2,.ymm_event_common_btn7.type_2{
	bottom:7.64%;
}
.ymm_event_common_btn6{
	background-image:url(../img/ymm_event_btn6.png);
	left:5.13%;
}
.ymm_event_common_btn7{
	background-image:url(../img/ymm_event_btn7.png);
	right:5.13%;
}
.ymm_event_livetime1{
	background-image:url(../img/ymm_event_livetime.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	position:absolute;
	z-index:4;
	bottom:14.2%;
	height:1.48%;
	left:4.5%;
	right:0px;
}
.ymm_event_livetime2{
	background-image:url(../img/ymm_event_livetime.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	position:absolute;
	z-index:4;
	bottom:10.2%;
	height:1.48%;
	width:38.89%;
	right:5.13%;
}
.ymm_event_index1_war{
	background-image:url(../img/ymm_event_index1_war.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	position:absolute;
	z-index:4;
	bottom:5.86%;
	height:3.59%;
	left:5.69%;
	right:5.69%;
}
