@charset "utf-8";
/* 原版 */
.layout-vip {
	width: 1050px;
	margin: 0 auto;
	font: normal 12px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	color: #666;
}
.u-main {
	padding: 10px;
	border: 1px solid #ddd;
	width: 934px;
	margin-bottom: 44px;
}
.warpper-vip {
	padding: 29px 22px;
	width: 841px;
	border: 1px solid #ddd;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.bodybg {
	background: #eef1f2;
}
.leftside {
	width: 120px;
	float: left;
}
.leftside a {
	outline: medium none;
	color: #666;
}
.leftside a:link, .leftside a:visited, .leftside a:active {
	text-decoration: none;
}
.rightside {
	width: 956px;
	float: left;
	margin-left: 55px;
}
.mgb20 {
	margin-bottom: 20px;
}
.mgt20 {
	margin-top: 20px;
}
.pdt25 {
	padding-top: 25px;
	padding-bottom: 25px;
}
.pt30 {
	padding-top: 30px;
}
.but1 {
	width: 87px;
	height: 32px;
	line-height: 32px;
	background: #ff5b00;
	color: #fff;
	display: inline-block;
	text-align: center;
}
.but2 {
	width: 87px;
	height: 32px;
	line-height: 32px;
	background: #32a5e7;
	color: #fff;
	display: inline-block;
	text-align: center;
}
/*按钮文本框*/
.text1 {
	width: 170px;
	height: 20px;
	border: 1px solid #ddd;
	padding: 4px;
}
.text2 {
	width: 455px;
	height: 20px;
	border: 1px solid #ddd;
	padding: 4px;
}
.text3 {
	width: 410px;
	height: 20px;
	border: 1px solid #ddd;
	padding: 8px 4px;
}
.button1 {
	padding: 0 12px;
	height: 34px;
	width: 76px;
	background: #ed0d32;
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	line-height: 34px;
	color: #fff;
	border: 0px;
}
.select1 {
	width: 100px;
	padding: 4px;
	border: 1px solid #ddd;
}
/*侧边导航*/
.leftside h4 {
	font-size: 22px;
	color: #000;
	margin-bottom: 10px;
}
.leftside dl {
	line-height: 34px;
	border-top: 1px solid #ddd;
	padding-top: 13px;
	padding-bottom: 20px;
}
.leftside dl dt {
	color: #999;
}
.leftside dl dd {
	font-size: 14px;
	color: #333;
}
.leftside dl dd a:hover {
	color: #ec1036;
}
.leftside dl dd .on {
	color: #ec1036;
	font-weight: bold;
}
/*基本信息*/
.user-infor {
	padding: 16px 0 16px 0px;
	margin-bottom: 10px;
}
.user-infor>.fl {
	width: 460px;
}
.user-infor .u-pic {
	width: 75px;
	height: 85px;
	display: block;
	float: left;
}
.user-infor .u-other {
	float: left;
	margin-left: 15px;
}
.user-infor .name {
	font-size: 16px;
	color: #000;
	font-weight: bold;
}
.user-infor .news {
	display: inline-block;
	padding-left: 31px;
	background: url(../images/user-bg.png) no-repeat 0 0;
	color: #f93780;
	margin-left: 17px;
}
.user-infor .mail {
	display: inline-block;
	padding-left: 23px;
	background: url(../images/user-bg.png) no-repeat 0 -18px;
	color: #f93780;
	margin-left: 13px;
}
.user-infor .u-level {
	background: url(../images/user-bg.png) 0 -40px no-repeat;
	height: 20px;
	width: 60px;
	line-height: 20px;
	text-align: center;
	margin-top: 5px;
}
.user-infor .u-value {
	margin-top: 8px;
}
.user-infor .fr p {
	border-left: 1px solid #ddd;
	width: 172px;
	text-align: center;
	height: 73px;
	float: right;
	font-size: 14px;
}
.user-infor .fr a {
	display: block;
	color: #0077dd;
	font-size: 21px;
	margin-bottom: 10px;
	margin-top: 5px;
}
/*订单列表*/
.u-list .tab {
	height: 38px;
	font-size: 14px;
}
.u-list .tab a {
	float: left;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
	margin: 0px 43px;
    padding: 0 6px;
	font-size:15px;
	color:#333;
}
.u-list .tab a em{
	font-size:15px;
}
.u-list .tab a:hover {
	color: #333;
}
.u-list .tab a.on {
	color: #333333;
	border-bottom: 2px solid #1c4592;
	line-height: 34px;
	padding-top: 2px;
}
.u-list .tab li.on a {
	color: #ec0d32;
	font-weight: bold;
}
.u-list .tab li span {
	color: #ec0d32;
	display: inline-block;
	margin-left: 5px;
}
.u-list .panel li.hide {
	display: none;
}
.u-list .u-list-main {
	padding: 20px 0;

	height: 115px;
}
.u-list .u-list-main .fl {
	width: 330px;
	overflow: hidden;
	height: 115px;
}
.u-list .u-list-main .fr {
	width: 530px;
}
.u-list .imgbox {
	width: 115px;
	height: 115px;
	float: left;
	margin-left: 20px;
}
.u-list .u-list-money {
	width: 140px;
	text-align: right;
	font-size: 14px;
	height: 115px;
	float: left;
	margin-right:10px;
	position:relative;
	z-index:3;
	padding-top: 8px;
}
.u-list .u-list-money .u_list_money_left_bar{
	position:absolute;
	left:0px;
	width:1px;
	border-left: 1px solid #bfbfbf;
	height:90px;
	top:15px;
}
.u-list .u-list-money span {
	display: block;
}
.u-list .u-list-add {
	color: #999;
	font-size: 12px;
	line-height: 16px;
	margin-top: 5px;
}
.u-list .u-list-look {
	float: left;
	width: 160px;
	text-align: center;
	padding-top:8px;
}
.u-list .u-list-look .a2 {
	width: 68px;
	height: 24px;
	margin: 0 auto;
	display: block;
	line-height: 24px;
	text-align: center;
	margin-bottom: 5px;
}
.u-list .u-list-look .nowpay {
	background: #ec0d32;
	color: #fff;
	border: 1px solid #ec0d32;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
}
.u-list .u-list-look .nowsay {
	border: 1px solid #ec0d32;
	color: #ec0d32;
}
.u-list .u-list-look .back {
	border: 1px solid #ddd;
	color: #333;
}
.u-list .u-list-pay {
	text-align: right;
	width: 210px;
	float: right;
	margin-top: 8px;
}
.u-list .u-list-pay span {
	display: block;
	color: #000;
	font-size:12px;
}
.u-list .u-list-pay .a1 {
	display: block;
	color: #999;
	margin-bottom: 15px;
	margin-top: 4px;
}
.u-list .u-list-pay .a1:hover {
	color: #000;
}
/*首页足迹购物车*/
.rolllist {
	width: 934px;
	height: 220px;
	background: #ffffff;
}
.rolllist .title {
	width: 100%;
	height: 30px;
	line-height: 22px;
}
.rolllist .title h1 {
	padding-bottom: 5px;
	cursor: pointer;
	font-size: 15px;
	background: #fff;
	color: #333;
	float: left;
	position: relative;
	left: -1px;
	width: 60px;
	text-align: center;
	margin-left: 98px;
}
.rolllist .title h1.on {
	border-bottom: 2px solid #1c4592;
	color: #333;
}
.rolllistin {
	width: 100%;
	height: 130px;
	position: relative;
	margin-top: 37px;
}
.roll-main-list {
	display: none;
	width: 934px;
	height: 130px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.roll-main-list .btn {
	cursor: pointer;
	position: absolute;
	width: 17px;
	height: 42px;
	top: 31px;
	background-image: url(../images/member_coll_right_left.png);
	background-repeat: no-repeat;
	background-position: 2px 17px;
}
.roll-main-list .btnr {
	background-position: 2px -28px;
	right: 0px;
}
.roll-main-list .btnl {
	left: 0;
}
.roll-main-list .btnr:hover {
	background-position: 2px -28px;
}
.roll-main-list .btnl:hover {
	background-position: 2px 17px;
}
.roll-main-list ul {
	width: 2238px;
	height: 130px;
	position: absolute;
	top: 0;
	left: 11px;
	overflow: hidden;
}
.roll-main-list ul li {
	width: 104px;
	height: 130px;
	float: left;
	margin: 0 13px;
}
.roll-main-list ul li a {
	width: 104px;
	height: 104px;
	display: block;
}
.roll-main-list ul li span {
	color: #666;
	font-size: 12px;
	text-align: center;
	display: block;
	line-height: 24px;
}
.layout-vip .hot {
	height: 40px;
	margin-bottom: 10px;
}
.layout-vip .hot span {
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	display: inline-block;
	width: 70px;
	text-align: center;
	border-bottom: 2px solid #ec0d32;
}
.layout-vip .hot a {
	float: right;
	display: block;
	color: #0077dd;
	margin-top: 8px;
}
/*购物车足迹列表*/
.c-date {
	width: 150px;
	height: 205px;
	padding: 11px 9px;
	float: left;
}
.c-date.d-date {
	height: 222px!important;
}
.c-date.hover {
	border: 1px solid #ed1134;
	padding: 10px 8px
}
.c-date .price {
	color: #666;
	margin-top: 4px;
}
.d-date .price {
	text-align: center;
}
.c-date .price span {
	color: #ed0d32;
}
.c-date .price em {
	text-decoration: line-through;
	margin-left: 10px;
}
.c-date .name {
	width: 150px;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 12px;
}
.d-date .name {
	text-align: center;
}
.c-date .add-button {
	width: 97px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	background: #ed0d32;
	color: #fff;
	margin: 0 auto;
}
.c-date .unfavorite {
	display: none;
	text-align: center;
	color: #999;
	margin-top: 2px;
}
.c-date .unfavorite:hover {
	text-decoration: underline;
}
.c-delete {
	border-right: 1px solid #ddd;
}
.c-delete .c-date {
	height: 200px;
	border: 1px solid #ddd;
	margin-left: -1px;
	width: 149px;
	cursor: pointer;
}
.c-delete .c-date.click {
	border: 2px solid #ed1134;
	padding: 10px 8px 10px 8px;
}
.footprint {
	margin-bottom: 10px;
}
.footprint .footprint-time {
	border-top: 1px solid #ddd;
	height: 31px;
	position: relative;
}
.footprint .footprint-time span {
	font-size: 18px;
	color: #000;
	position: absolute;
	top: -10px;
	left: -23px;
	padding: 0 18px;
	border-left: 5px solid #ed0d32;
	font-weight: bold;
	display: block;
	background: #fff;
}
/*标题*/
.u-title {
	height: 43px;
}
.u-title h2 {
	font-size: 20px;
	color: #000;
	display: inline-block;
	float: left;
}
.u-title .fr {
	margin-top: 5px;
}
.u-title .fr span {
	float: left;
	margin-top: 3px;
}
.u-title .fr .finish {
	float: left;
	display: block;
	width: 54px;
	height: 24px;
	border: 1px solid #666;
	text-align: center;
	line-height: 24px;
	margin-left: 30px;
}
.u-title .fr .delete {
	display: block;
	float: left;
	padding-left: 19px;
	margin-top: 3px;
	margin-left: 30px;
	background: url(../images/user-bg.png) no-repeat 0 -155px;
	color: #666666;
}
.u-title .fr .delete.toread {
	background: url(../images/iconfont-yidu.png) no-repeat!important;
}
.u-title .fr em {
	color: #ec1036;
	font-size: 20px;
}
.u-tips {
	margin-bottom: 10px;
	line-height: 34px;
}
.u-tips span {
	float: right;
}
.u-tips span em {
	color: #ec1036;
	margin: 0 4px;
	font-weight: bold;
}
/*页码*/
.page_b {
	float: right;
	margin: 30px 0;
}
.page_b .dt {
	float: left;
	border: 1px solid #ddd;
	padding: 0 7px;
	height: 28px;
	width: auto;
	line-height: 28px;
	color: #666;
}
.page_b li {
	float: left;
	height: 28px;
	width: 28px;
	display: block;
	text-align: center;
	line-height: 30px;
	border: 1px solid #ddd;
	margin: 0 5px;
}
.page_b li a {
	display: block;
	color: #666;
}
.page_b li a:hover {
	text-decoration: none;
	color: #666;
}
.page_b li:hover {
	border-color: #ed0d32;
}
.page_b .no_link:hover {
	border-color: #ddd;
}
.page_b li.on {
	background: #ed0d32;
	border-color: #ed0d32;
}
.page_b li.on a {
	color: #fff;
}
/*地址管理*/
.address-list .a-content {
	margin-bottom: 15px;
	height: 90px;
	padding: 16px 30px;
	position: relative;
	border: 1px solid #ddd;
}
.address-list .a-content p {
	line-height: 30px;
	color: #000;
	font-size: 14px;
}
.address-list .a-content span {
	position: absolute;
	top: 24px;
	right: 54px;
	color: #0263c4;
}
.address-list .a-content span a {
	color: #0263c4;
}
.address-list .a-content.on {
	border-color: #ec1036;
	background: url(../images/user-bg.png) no-repeat right -182px;
}
/*地址弹窗*/
.popup_b {
	padding-bottom: 40px;
	background: #fff;
	border: 4px solid #4c4c4c;
	width: 650px;
}
.popup_b .p-close {
	display: block;
	height: 36px;
	width: 36px;
	background: url(../images/user-bg.png) no-repeat 10px -313px;
	float: right;
}
.popup_b .p-title {
	height: 36px;
	line-height: 36px;
	background: #f5f5f5;
	padding-left: 18px;
	color: #666;
}
.popup_b .add-main {
	margin-top: 40px;
	margin-left: 13px;
}
.popup_b .add-warp {
	width: 650px;
	margin-bottom: 11px;
}
.popup_b .add-warp label {
	width: 90px;
	padding-right: 12px;
	text-align: right;
	display: inline-block;
	color: #000;
}
.popup_b .add-last {
	margin-left: 104px;
}
.popup_b .add-last .button1 {
	display: block;
	margin-top: 15px;
}
.add_k_b {
	margin-top: 0px!important;
}
.add_k_b .button4 {
	padding: 0 12px;
	height: 34px;
	width: 76px;
	background: #ed0d32;
	border-radius: 2px;
	display: block;
	text-align: center;
	line-height: 34px;
	color: #fff;
}
/*积分注册*/
.user-tab {
	text-align: center;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd
}
.user-tab th {
	width: 220px;
	text-align: center;
	border-left: 1px solid #ddd;
	height: 40px;
	line-height: 40px;
	background: #f6f6f6;
}
.user-tab td {
	width: 220px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 40px;
	line-height: 40px;
}
.user-tab .red {
	color: #ed153a;
}
.user-tab .green {
	color: #30b705;
}
.p-change {
	padding-bottom: 90px;
	margin-top: 20px;
}
.p-change label {
	width: 100px;
	text-align: right;
	display: block;
	font-size: 14px;
	float: left;
	margin-right: 10px;
	color: #000;
}
.p-change .p-main {
	margin-bottom: 15px;
	line-height: 38px
}
.p-change .p-main-bottom {
	margin-left: 110px;
}
.vip-infor {
	font-size: 14px;
	color: #000;
	margin-left: 230px;
	margin-top: 20px;
	padding-bottom: 30px;
}
.vip-infor .v-main {
	height: 40px;
	line-height: 40px;
}
.vip-infor label {
	width: 100px;
	text-align: right;
	display: block;
	float: left;
	margin-right: 10px;
}
.vip-infor .blue {
	color: #166bcb;
	margin-left: 20px;
}
/*通用说明性文字*/
.bg-grey {
	background: #f5f5f5;
}
.news-main {
	width: 1100px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.news-left {
	width: 220px;
	border: 1px solid #ddd;
	float: left;
	background: #ffffff;
}
.news-right {
	width: 860px;
	border: 1px solid #ddd;
	float: right;
	background: #ffffff;
}
.news-main .position {
	height: 12px;
	padding: 15px 0;
	line-height: 12px
}
.news-main .position span {
	float: left;
}
.news-main .position dd {
	float: left;
	background: url(../images/user-bg.png) right -360px;
	display: block;
	padding-right: 13px;
	margin-right: 8px;
	background-repeat: no-repeat;
}
.news-main .position dt {
	float: left;
}
.news-left li {
	height: 42px;
	line-height: 42px;
}
.news-left li a {
	padding-left: 22px;
	display: block;
	border-bottom: 1px solid #ddd;
	font-size: 14px
}
.news-left li.on a {
	padding-left: 20px;
	border-left: 2px solid #de0e5c;
	font-weight: bold;
	color: #000;
}
.news-left li a:hover {
	font-weight: bold;
}
.news-left .nr-contact {
	padding-left: 22px;
	padding-bottom: 30px;
}
.news-left .nr-contact p {
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	margin-bottom: 5px;
}
.news-left .nr-contact span {
	display: block;
	padding-left: 20px;
	margin-bottom: 10px;
	color: #999;
	background: url(../images/user-bg.png) no-repeat;
}
.news-left .nr-contact span b {
	display: block;
	font-weight: normal;
	color: #333;
}
.news-left .nr-contact .span1 {
	background-position: 0 -380px;
}
.news-left .nr-contact .span2 {
	background-position: 0 -412px;
}
.news-left .nr-contact .span3 {
	background-position: 0 -450px;
}
.news-right .nr-title {
	border-bottom: 1px solid #ddd;
	text-align: center;
	height: 70px;
}
.news-right .nr-title h1 {
	font-size: 24px;
	color: #000;
	padding-top: 20px;
}
.news-right .nr-content {
	padding: 40px;
}
.news-right .nr-content p {
	text-indent: 2em;
	line-height: 24px;
	margin-bottom: 5px;
	font-size: 14px;
}
/*切换*/
.tab-switch .tab-top {
	border-bottom: 1px solid #ddd;
	position: relative;
	height: 38px;
	margin-bottom: 13px;
}
.tabmenu {
	height: 38px;
	border-left: 1px solid #ddd;
	margin-bottom: 13px;
	position: absolute;
	top: 0;
	left: 0;
}
.tabmenu a {
	font-size: 14px;
	cursor: pointer;
	width: 120px;
	height: 37px;
	line-height: 38px;
	float: left;
	text-align: center;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	color: #666;
}
.tabmenu a em {
	color: #ec0d32;
	margin: 0 3px;
	font-size: 14px;
}
.tabmenu a.on {
	color: #ec0d32;
	font-weight: bold;
	border-bottom: 1px solid #fff;
}
.tabmenu a.on em {
	font-weight: bold;
}
.news-tab {
	border: 1px solid #ddd;
	width: 883px;
	border-bottom: none;
}
.news-tab tr {
	border-bottom: 1px solid #ddd;
}
.news-tab th {
	background: #f6f6f6;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.news-tab td {
	height: 46px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.news-tab .name {
	width: 150px;
	font-size: 14px;
}
.news-tab .message-vip {
	width: 413px;
	font-size: 14px;
	text-align: left;
	padding-left: 30px;
}
.news-tab .message-vip.unread a {
	display: inline-block;
	padding-right: 40px;
	color: #0563c3;
	background: url(../images/user-bg.png) no-repeat right -497px;
}
.news-tab .message-vip a:hover {
	text-decoration: underline;
}
.news-tab .time {
	width: 165px;
	color: #666;
}
.news-tab .down {
	width: 115px;
	padding-right: 10px;
	color: #666;
}
.news-tab .down a {
	color: #666;
}
.news-tab .down a:hover {
	color: #0563c3;
}
.tab-list .hide {
	display: none;
}
.message-vip a:link, .message-vip a:visited, .message-vip a:active {
	outline: medium none;
	color: #666;
}
/*商品空*/
.unitem {
	width: 1100px;
	height: 550px;
	background: url(../images/unitem.png) no-repeat 96px 55px;
	position: relative;
}
.unitem p {
	position: absolute;
	color: #c40d23;
	font-size: 20px;
	left: 280px;
	top: 160px
}
.unitem a {
	text-indent: -9999999px;
	width: 149px;
	height: 36px;
	background: url(../images/un-but.jpg) no-repeat;
	display: block;
	position: absolute;
}
.unitem .home {
	background-position: 0 0;
	top: 250px;
	left: 380px;
}
.unitem .back {
	background-position: 0 -36px;
	top: 250px;
	left: 555px;
}
/*公告列表*/
.news-content {
	padding: 45px;
	border: 1px solid #ddd;
}
.news-content .title {
	margin-bottom: 20px;
}
.news-content .title h2 {
	font-size: 20px;
	color: #000;
}
.news-content .title span {
	color: #999;
	height: 44px;
	line-height: 44px;
	margin-right: 10px;
}
.news-content .n-c-main p {
	font-size: 14px;
	line-height: 26px;
	text-indent: 2em;
	margin-bottom: 25px;
}
/*交易管理*/
.order-list .tdmain {
	width: 562px;
	height: 77px;
	padding: 20px;
	border-bottom: 1px solid #ddd;
}
.order-list {
	border: 1px solid #ddd;
	width: 883px;
	margin-top: 10px;
}
.order-list:hover {
	border-color: #999;
}
.order-list .tr1 {
	height: 34px;
	line-height: 34px;
	background: #f6f6f6;
	width: 883px;
}
.order-list .tr1 span {
	float: left;
	margin-right: 74px;
	margin-left: 20px;
	color: #666;
}
.order-list .tr1 span.fr {
	margin: 0 10px 0 0;
	float: right;
	color: #ec1036;
}
.order-list .tr1 span.fr.ok {
	color: #000;
}
.order-list .tr2 {
	vertical-align: top;
	display: block;
}
/*.order-list .tr2 td{padding-top:20px;height:95px;}*/
/*.order-list .td-a{padding:0 15px 0 20px;width:330px;}*/
.order-list .td-b {
	width: 115px;
	text-align: center;
	float: left;
}
.order-list .td-c {
	width: 140px;
	text-align: center;
	border-left: 1px solid #ddd;
	padding-top: 20px;
}
.order-list .td-c a {
	display: block;
}
.order-list .td-c .a1 {
	width: 76px;
	height: 28px;
	margin: 0 auto 10px auto;
	background: #ec0d32;
	color: #fff;
	border-radius: 2px;
	line-height: 28px;
}
.order-list .td-c .a3 {
	width: 74px;
	height: 26px;
	margin: 0 auto 10px auto;
	;
	color: #000;
	border-radius: 2px;
	line-height: 28px;
	border: 1px solid #ddd;
}
.order-list .td-c .a4 {
	width: 74px;
	height: 26px;
	margin: 0 auto 10px auto;
	;
	color: #ec0d32;
	border-radius: 2px;
	line-height: 28px;
	border: 1px solid #ec0d32;
}
.order-list .td-c .a2 {
	line-height: 20px;
}
.order-list .td-c .a2:hover {
	color: #ec0d32;
}
.order-list .td-a .pic {
	float: left;
	display: block;
	width: 75px;
	height: 75px;
	border: 1px solid #ddd;
}
.order-list .td-a .item_member {
	float: left;
	margin-left: 15px;
	width: 220px;
	margin-top: 7px;
}
.order-list .td-a .item_member a {
	color: #000;
}
.order-list .td-a .item_member a:hover {
	color: #ec0d32;
}
.order-list .td-a .item_member .sku {
	color: #999;
	margin-top: 5px;
}
.order-list .td-a .item_member .sku span {
	margin-right: 5px;
}
.theah {
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #e9e9e9;
	background: #f6f6f6;
	color: #666;
}
.theah span {
	display: block;
	float: left;
	text-align: center
}
.theah .span1 {
	width: 280px;
	margin-right: 85px;
}
.theah .span2 {
	width: 115px;
}
.theah .span3 {
	width: 142px;
}
.order-serach {
	width: 320px;
	height: 28px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}
.order-serach input {
	padding: 5px;
	height: 18px;
	width: 230px;
	line-height: 18px;
	border: none;
	outline: none;
	float: left;
}
.order-serach button {
	width: 76px;
	height: 28px;
	line-height: 28px;
	background: #f6f6f6;
	display: block;
	float: right;
}
/*文章列表*/
.article-mod .mod-title {
	line-height: 3.57143;
	padding-left: 20px;
	background-color: transparent;
}
.article-item {
	line-height: 2.91667;
	border-bottom: 1px dotted #eee;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	position: relative;
}
.article-item .article-title {
	margin-right: 130px;
	display: block;
}
.article-item .article-title a {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #666;
}
.article-item .article-title a:hover {
	color: #0563c3;
	text-decoration: underline;
}
.article-item .datetime {
	color: #999;
	float: right;
	width: 130px;
	text-align: right;
	white-space: nowrap;
	position: absolute;
	top: 0;
	right: 20px;
}
.article-main .mod-title {
	line-height: 2.64286;
	text-align: center;
}
.article-main .mod-content {
	padding: 5px 20px 10px;
	line-height: 2;
	overflow: hidden;
}
.article-main p {
	text-indent: 2em;
}
.article-main .article-time {
	text-align: right;
	line-height: 1.5;
	color: #999;
	margin-bottom: 10px;
}
.page_news_list {
	width: 1000px;
	margin: 60px auto;
}
.mod.article-mod {
	border: 1px solid #ccc;
}
/*申诉*/
.member_order-l-nr .order-c {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
	vertical-align: middle;
}
.member_order-l-nr .order-c a:hover {
	text-decoration: underline;
}
.member_order-l-nr .order-d {
	border: 1px #eeeeee solid;
	border-top: none;
	vertical-align: top;
}
.member_order-l-nr .order-e {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	vertical-align: top;
}
.member_order-l-nr .order-f {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	vertical-align: top;
}
.member_order-l-nr .order-c p {
	text-align: left;
	padding-left: 20px;
	display: block;
	height: 50px;
}
.member_order-l-nr .order-c p a {
	color: #000;
}
.member_order-l-nr .order-c .order-sx {
	text-align: left;
	padding-left: 20px;
	color: #999999;
}
.member_order-l-nr .kaikei {
	color: #c40d21;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
}
.member_panel table thead tr th {
	height: 48px;
	border: none;
	text-align: center;
	font-size: 12px;
	color: #343434;
	line-height: 24px;
}
.member_panel table thead tr th input {
	margin-right: 10px;
	margin-bottom: 3px;
}
.member_tr30 {
	height: 40px;
	background: #efefef;
}
.refunds_button4 {
	background: #ec0d32;
	color: #fff;
	border: 1px solid #ec0d32;
	width: 75px;
	height: 30px;
	display: block;
	line-height: 30px;
	text-align: center;
	float: right;
	margin-top: 20px;
	cursor: pointer;
}
/*评价*/
.evaluate-main {
	overflow: hidden;
}
.evaluate-main.e-m-pdb {
	height: 230px;
	border-bottom: 1px dotted #ddd;
	margin-bottom: 40px;
}
.evaluate-main .fl {
	position: relative;
	padding-left: 80px;
	margin-top: 40px;
}
.evaluate-main .fl .pic {
	display: block;
	position: absolute;
	width: 75px;
	height: 75px;
	border: 1px solid #ddd;
	top: 0;
	left: 0;
}
.evaluate-main .fl .item_member {
	float: left;
	margin-left: 15px;
	width: 170px;
	margin-top: 7px;
}
.evaluate-main .fl .item .name {
	display: block;
	overflow: hidden;
	height: 38px;
	margin-bottom: 2px;
}
.evaluate-main .fl .item .sku {
	color: #999;
	line-height: 14px;
}
.evaluate-main .fr {
	width: 550px;
	background: #fff;
	height: 194px;
}
.evaluate-main .fr .tr2 {
	border: 1px solid #ddd;
}
.evaluate-main .fr .tr3 {
	border: 1px solid #ddd;
	border-top: none;
}
.evaluate-main .fr .evaluate-pic a {
	width: 60px;
	height: 60px;
	display: block;
	background: url(../images/grade1.png) no-repeat;
	background-size: contain;
	float: left;
	margin: 10px;
	position: relative;
}
.evaluate-main .fr .evaluate-pic input {
	opacity: 0;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	filter: alpha(opacity=0);
}
.evaluate-main .fr tr .td1 {
	width: 78px;
	text-align: center;
	color: #808080;
	font-size: 14px;
	padding: 5px 0;
}
.evaluate-main .fr .tr2 td {
	vertical-align: top;
}
.evaluate-main .fr .textarea1 {
	width: 465px;
	border: none;
	outline: none;
	padding: 5px 0;
	margin: 0;
}
.evaluate-main .stateli {
	text-align: left;
	height: 20px;
	margin-bottom: 10px;
}
.evaluate-main .stateli span {
	width: 78px;
	text-align: center;
	color: #808080;
	font-size: 14px;
	display: block;
	float: left;
	height: 20px;
	line-height: 20px;
}
.evaluate-main .stateli p {
	float: left;
	margin-left: 10px;
}
.evaluate-main .stateli i {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 2px;
}
.evaluate-main .stateli .star1 {
	background: url(../images/starli2.png) no-repeat;
}
.evaluate-main .stateli .star2 {
	background: url(../images/starli1.png) no-repeat;
}
.evaluate-main .e-m-fr {
	float: right;
	width: 550px;
}
.evaluate-main .button1 {
	background: #ec1036;
	height: 30px;
	line-height: 30px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 40px;
}
.evaluate-pic .preview-box img {
	width: 60px;
	height: 60px;
}
/* 评价星星 */
.layout-vip .star.big {
	display: inline-block;
	vertical-align: -2px;
	width: 125px;
	height: 20px;
	background: url(../images/star_b.png) no-repeat 0 -100px;
*display:inline;
*padding-right:4px;
}
.layout-vip .star.big b {
	background: url(../images/star_b.png) no-repeat;
}
.layout-vip .star.s_1 {
	background-position: 0 -80px;
}
.layout-vip .star.s_2 {
	background-position: 0 -60px;
}
.layout-vip .star.s_3 {
	background-position: 0 -40px;
}
.layout-vip .star.s_4 {
	background-position: 0 -20px;
}
.layout-vip .star.s_5 {
	background-position: 0 0;
}
/*通用表单*/
.label1 {
	width: 90px;
	font-size: 14px;
	line-height: 28px;
	height: 28px;
	color: #000;
	display: inline-block;
}
.label2 {
	display: block;
	margin-left: 95px;
	display: block;
	padding: 5px 0 10px 0;
}
.input21 {
	width: 390px;
	height: 14px;
	line-height: 14px;
	border: 1px solid #d1d6d9;
	padding: 12px 0 12px 10px;
	font-size: 14px;
}
.textarea1 {
	width: 430px;
	padding: 12px 10px;
	display: block;
	border: 1px solid #d1d6d9;
	font-size: 14px;
	line-height: 18px;
}
.textarea2 {
	border: 3px solid #eee;
	display: inline-block;
	background: #fff;
	width: 420px;
	height: 65px;
}
.from_part .textarea1 {
	margin-left: 95px;
	margin-top: 10px;
}
.add_k {
	border: 1px solid #ddd;
	padding: 20px 0 20px 50px;
	margin-top: 40px;
}
.add_k h4 {
	margin-bottom: 20px;
}
.select1 {
	width: 111px;
	height: 27px;
	line-height: 27px;
}
.tr30 {
	height: 40px;
	background: #efefef;
}
.input11 {
	height: 24px;
	line-height: 24px;
	width: 200px;
}
.u-tips a:link, .u-tips a:visited, .u-tips a:active {
	color: #fff;
	text-decoration: none;
}
.u-list a:link, .u-list a:visited, .u-list a:active {
	text-decoration: none;
}
.order-c .action-fill-textarea {
	resize: vertical;
	-webkit-resize: vertical;
	-moz-resize: vertical;
	-o-resize: vertical;
	width: 99%;
	height: 60px;
	display: block;
	border: 1px solid #dddddd;
}
.no-information {
	padding: 10px;
	margin-top: 10px;
	text-align: center;
}
.no-information_a {
	padding: 15px;
	border: 1px dotted #ccc;
	margin-top: 10px;
	text-align: center;
}
.no-information_b {
	padding: 10px;
	text-align: center;
	margin-top: 10px;
}
.no-information_b a {
	color: #666;
	text-decoration: underline!important;
}
/*订单详情*/
.layout-vip .page-article {
	margin-left: 136px;
}
.default_main {
	margin-top: 20px;
}
.layout-vip .member-notice {
	border: 1px solid #FFCD6C;
	background-color: #FFFBE6;
}
.layout-vip .member-notice {
	margin-bottom: 10px;
}
.steps i {
	display: inline-block;
}
.steps .step-item {
	background-color: #efefef;
	padding: 0;
	white-space: nowrap;
}
.steps .step-arrow {
	padding: 0;
}
.cart-main {
	border: 1px solid #e6e6e6;
	table-layout: fixed;
}
.cart-main caption {
	text-align: left;
	background-color: #efefef;
	border: 1px solid #e6e6e6;
	border-bottom: 0 none;
}
.cart-main thead {
	background-color: #efefef;
}
.cart-main td {
	line-height: 20px;
	vertical-align: top;
	text-align: center;
	padding: 2px 0;
}
.cart-main .cart-item {
	border-bottom: 1px solid #efefef;
}
.cart-main .p-info {
	text-align: left;
}
.order-main .order-section-title {
	height: 36px;
	line-height: 36px;
	background-color: #efefef;
	padding-left: 14px;
}
.order-main .order-section-title b {
	font-size: 14px;
	padding-right: 20px;
}
.order-main .order-section-content {
	padding: 10px 20px;
}
.order-main .order-section table {
	width: 92%;
	margin: 0 auto;
}
.order-main .order-section th, .order-main .order-section td {
	padding-top: 8px;
	padding-bottom: 8px;
}
.order-main .order-section th {
	text-align: right;
	padding-right: 6px;
	font-weight: 400;
	width: 12%;
	white-space: nowrap;
}
.order-main .order-section th em {
	color: #ef4521;
}
.order-container .cart-main .p-info {
	padding-left: 20px;
}
.order-clearing {
	border: 1px solid #c6c6c6;
	width: 100%;
}
.order-clearing .order-price .inner {
	position: relative;
	float: right;
}
.member-notice-content {
	padding: 10px 15px;
	color: #666;
}
.member-notice-content .text-warn {
	color: #EF4522;
	padding-right: 20px;
}
.member-order-desc {
	float: left;
}
.member-order-actions {
	float: right;
}
.member-order-steps table {
	table-layout: fixed;
}
.member-order-steps .step-arrow {
	width: 50px;
}
.member-order-flow {
	border-top: 1px dotted #ddd;
	padding-top: 10px;
}
.member-order-flow em {
	margin-right: 15px;
}
.price {
	color: red;
}
.steps i {
	color: #8C8C8C;
	width: 22px;
	text-align: center;
	margin-right: 2px;
	margin-left: 10px;
*vertical-align:1px;
}
.steps .step-item {
	font: 16px/30px Microsoft YaHei, STHeiti, sans-serif;
	color: #8c8c8c;
	width: 28%;
}
.steps .step-item .icon {
	font-size: 29px;
	vertical-align: -6px;
	color: #cbcbcb;
}
.steps .active {
	background-color: #C50E24;
	color: white;
}
.steps .active i {
	color: #FFF;
}
.steps .step-arrow {
	color: #ccc;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
}
.cart-main {
	color: #666;
}
.cart-main caption {
	line-height: 36px;
	padding: 0 15px;
	font-size: 14px;
	font-weight: bold;
}
.cart-main a {
	color: #666;
}
.col-7 {
	width: 80px;
}
.cart-main thead tr {
	height: 37px;
}
.cart-main thead th {
	font-weight: 400;
	color: #666;
	font-size: 14px;
	text-align: center;
}
.cart-main .cart-product td {
	padding-top: 15px;
	padding-bottom: 8px;
}
.cart-main .p-subtotal {
	color: #fe2000;
}
.order-container .cart-main {
	border-top: 0 none;
}
.order-container .cart-main thead {
	background-color: transparent;
	border-bottom: 1px solid #e6e6e6;
}
.order-container .cart-main thead th {
*border-bottom:1px solid #e6e6e6;
}
.order-container .cart-main .cart-item {
	border-bottom-style: dashed;
}
.order-main {
	color: #666;
}
.order-main .order-section {
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
}
.order-clearing {
	border: 1px solid #e6e6e6;
	width: 100%;
	margin-top: 10px;
	color: #666;
}
.order-clearing .order-infor {
	background-color: #FFFFFF;
	text-align: left;
	padding: 10px;
	vertical-align: top;
}
.order-clearing .order-price {
	background-color: #F5F5F5;
	padding: 10px 15px;
	vertical-align: top;
	text-align: right;
	font-size: 14px;
}
.order-clearing .order-price ul {
	width: 355px;
	_width: 358px;
}
.order-clearing .order-price li {
	clear: both;
	overflow: hidden;
	white-space: nowrap;
	line-height: 32px;
}
.order-clearing .order-price .label {
	float: left;
	text-align: right;
	width: 200px;
}
.order-clearing .order-price .label i {
	font-size: 12px;
}
.order-clearing .order-price .price {
	float: left;
	text-align: left;
	width: 150px;
	padding-left: 5px;
	color: #fe2000;
}
.order-clearing .order-price .price b {
	font-weight: 400;
}
.order-clearing .order-price .total {
	line-height: 40px;
}
.order-clearing .order-price .total em {
	font-weight: bold;
}
.order-clearing .order-price .total b {
	font: 24px/1.5 Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.order-clearing-info {
	margin-top: 0;
	border-top: 0 none;
}
.order-clearing-info .order-infor {
	background-color: transparent;
}
.order-clearing-info .order-price {
	background-color: transparent;
	border-left: 0 none;
}
.order-clearing-info h3, .order-clearing-info .order-remark p {
	float: left;
}
.order-clearing-info h3 {
	font-weight: 400;
	font-size: 116.66667%;
}
.order-remark {
	margin-left: 10px;
}
.member-notice {
	border: 1px solid #FFCD6C;
	background-color: #FFFBE6;
}
.member-order-steps .step-item {
	width: 22%;
}
.btn-simple:hover span {
	background: #fff;
}
.btn-import span {
	background: #C50E24;
}
.btn span span {
	border: 0 none;
	background-color: transparent;
	padding-left: 0;
	padding-right: 10px;
}
.btn-import span {
	background: #C50E24;
}
.btn span {
	display: inline-block;
	padding-left: 10px;
	height: 100%;
	line-height: 1.91667;
	font-size: inherit;
}
a.btn-import, a.btn-major, a.btn-caution {
	color: white;
}
.btn-simple span {
	background: #fefefe;
	border: 1px solid #ccc;
}
a.btn-simple {
	color: #333;
}
.member-notice-content .order-steps-b {
	padding-top: 25px;
}
.steps {
	margin: 20px 0;
}
/* 安全中心 */
.default_safe_center_box .warn-box {
	background: #fffdee;
	padding: 5px;
}
.u-safe .safe-rank01, .u-safe .safe-rank02, .u-safe .safe-rank03, .u-safe .safe-rank04, .u-safe .safe-rank05, .u-safe .safe-rank06 {
	display: inline-block;
	font-size: 0;
	height: 14px;
	line-height: 0;
	margin-right: 10px;
	overflow: hidden;
	vertical-align: middle;
	width: 68px;
	background-image: url(../images/safe-rank2014.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.u-safe .safe-rank01 {
	background-position: 0 -15px
}
.u-safe .safe-rank02 {
	background-position: 0 -30px
}
.u-safe .safe-rank03 {
	background-position: 0 -45px
}
.u-safe .safe-rank04 {
	background-position: 0 -60px
}
.u-safe .safe-rank05 {
	background-position: 0 -75px
}
.u-safe .rank-text {
	font-weight: 400;
	margin-right: 5px
}
.default_safe_center_box .ftx-01, .default_safe_center_box .ftx01 {
	color: #e4393c
}
.default_safe_center_box .ftx-02, .default_safe_center_box .ftx02 {
	color: #71b247
}
.default_safe_center_box .ftx-03, .default_safe_center_box .ftx03 {
	color: #999
}
.default_safe_center_box .ftx-04, .default_safe_center_box .ftx04 {
	color: #ff6c00
}
.default_safe_center_box .ftx-05, .default_safe_center_box .ftx05 {
	color: #005ea7
}
.default_safe_center_box .ftx-06, .default_safe_center_box .ftx06 {
	color: #666
}
.default_safe_center_box .safe_tip_box {
	padding-top: 13px;
}
.default_safe_center_box .safe_tip_box .mc {
	padding-top: 5px;
	line-height: 20px;
}
.default_safe_center_box .safe_ip_box {
	padding-top: 5px;
}
.default_safe_center_box .safe_ip_p .safe_login_time {
	margin-right: 9px;
	width: 120px;
	display: inline-block;
}
.default_safe_center_box .safe_ip_p .safe_login_ip {
	margin-right: 9px;
	width: 300px;
	display: inline-block;
}
.safe-item {
	display: block;
	padding: 30px 0;
	border-bottom: 1px solid #e6e6e6;
}
.safe-item .fore1 {
	width: 175px;
	text-align: left;
	font-family: \5FAE\8F6F\96C5\9ED1;
	font-size: 18px;
	padding-left: 25px;
}
.safe-item .fore2 {
	border-left: 1px solid #E6E6E6;
	width: 450px;
	height: auto;
	line-height: 24px;
	padding: 4px 0 4px 15px;
}
.safe-item .fore3 {
	text-align: center;
	width: 140px;
}
.safe-item .fore1, .safe-item .fore2, .safe-item .fore3 {
	float: left;
	height: 32px;
	line-height: 32px;
}
.default_safe_center_box .icon-01, .default_safe_center_box .icon-02, .default_safe_center_box .icon-03 {
	float: left;
	margin-bottom: 10px;
}
.default_safe_center_box .icon-01, .default_safe_center_box .safe-item .fore1 s {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-top: 5px;
	vertical-align: middle;
	margin-right: 14px;
	background-image: url(../images/chek_ok_safe_center.png);
	background-repeat: no-repeat;
}
.default_safe_center_box .icon-02 {
	background-image: url(../images/safe_center_no_check.png)!important;
}
.safe-item .fore1 strong {
	margin-right: 5px;
}
.safe-item:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.default_safe_center_box .safe_send_item {
	margin-bottom: 15px;
	line-height: 38px;
}
.default_safe_center_box .safe_txt {
	width: 142px;
	text-align: right;
	display: block;
	font-size: 14px;
	float: left;
	margin-right: 10px;
	color: #000;
}
.default_safe_center_box .safe_input_sm {
	width: 268px;
	height: 20px;
	border: 1px solid #ddd;
	padding: 8px 4px;
}
.default_safe_center_box .btn_box .button1 {
	margin-left: 152px;
	cursor: pointer;
}
.default_safe_center_box .safe-send-code {
	cursor: pointer;
	height: 37px;
	width: 108px;
	border: 1px solid #ddd;
	text-align: center;
	line-height: 37px;
	background-color: #F7F7F7;
	display: inline-block;
	color: #000;
}
.default_safe_center_box .change_sel {
	color: #ED0D32;
	padding-left: 7px;
}
.default_safe_center_box .safe-icon-box {
	margin-left: 153px;
	margin-bottom: 20px;
	position: relative;
	_height: 48px;
	_overflow: visible;
}
.default_safe_center_box .send_succ_box {
	padding-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;
}
.default_safe_center_box .safe-icon-box .m-icon {
	display: inline-block;
	position: absolute;
	top: 15px;
	left: -57px;
	width: 48px;
	height: 48px;
	background-image: url(../images/safe_complate.png);
	background-repeat: no-repeat;
}
.default_safe_center_box .safe_mail_resend {
	color: #ED0D32;
	text-decoration: none;
}
.default_safe_center_box .safe_chek_ok_box_b {
	padding-top: 10px;
}
/*新增*/
.deyun_member_tag{
	margin-top:20px;
}
.deyun_member_tag .deyun_member_home_tit_box a{
	font-size:20px;
	color:#333333;
}
.deyun_member_tag .deyun_member_home_tit_box{
	padding-bottom:15px;
}
.u-list-money .all_shop_item{
	color:#333333;
	font-size:14px;
}
.u-list-money  .all_shop_debi{
	color:#e9310e;
	font-size:16px;
	padding-top:12px;
}
.u-list-money  .all_shop_debi span{
	display:inline;
	
}
.deyun_member_tag .ckxq_btn{
	font-size:14px;
	color:#1c4592;
}
.cloo_img_qun{
	width:104px;
	height:104px;
}
.user_baseinfo_tx_link{
	display:block;
	width:69px;
	text-align:center;
}
.user_baseinfo_tx_link img{
	width:69px;
	height:69px;
	 -moz-border-radius: 69px;      /* Gecko browsers */
    -webkit-border-radius: 69px;   /* Webkit browsers */
    border-radius:69px;            /* W3C syntax */
}
.user_baseinfo_tx_link span{
	color:#a4a4a4;
	line-height:48px;
}
.user_baseinfo_user_name{
	font-size:20px;
	color:#333;
	font-weight:bold;
	margin-top: 18px;
    margin-left: 20px;
	max-width:260px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
/*等级*/
.user_baseinfo_user_rank_item_box .goods_PL_rank_box{
	background-image: url(../images/member_rank.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 35px;
	width: 54px;
	float:left;
}
.user_baseinfo_user_rank_item_box .goods_PL_rank_box.deyun_rank_1{
    background-position: 12px -605px;
}
.user_baseinfo_user_rank_item_box .goods_PL_rank_box.deyun_rank_2{
    background-position: 12px -484px;
}
.user_baseinfo_user_rank_item_box .goods_PL_rank_box.deyun_rank_3{
    background-position: 12px -361px;
}
.user_baseinfo_user_rank_item_box .goods_PL_rank_box.deyun_rank_4{
    background-position: 12px -237px;
}
.user_baseinfo_user_rank_item_box .goods_PL_rank_box.deyun_rank_5{
    background-position: 12px -118px;
}
.user_baseinfo_user_rank_item_box .goods_PL_rank_box.deyun_rank_6{
    background-position: 12px 7px;
}
.user_baseinfo_user_rank_name{
	float:left;
	color:#999999;
	line-height:35px;
}
.user_baseinfo_user_rank{
	margin-top: 14px;
}
.user_baseinfo_left_big_box{
	width: 476px;
	float:left;
	padding-left:20px;
}
.user_baseinfo_big_box{
	margin-bottom:60px;
}
.deyun_bi_point_big_box{
	background-image: url(../images/member_money_bar.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 75px;
	width: 956px;
	margin-bottom:20px;
}
.roll-main-list ul li .gwzj_spsc_debi_span span{
	display:inline;
	color:#333333;
	font-size:14px;
	line-height: 38px;
	
}
.roll-main-list ul li .gwzj_spsc_debi_span{
	color:#333333;
	font-size:14px;
	line-height: 38px;
	
}
.user_baseinfo_right_big_box{
	float:left;
	margin-top:70px;
}
.user_baseinfo_right_big_box .deyun_msg_big_box{
	margin-left:26px;
	margin-top:4px;
}
.user_baseinfo_right_big_box .deyun_msg_big_box a{
	display: block;
	padding-left: 36px;
	background-image: url(../images/member_mess_ico.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	line-height:24px;
	height:24px;	
}
.user_baseinfo_right_big_box .deyun_msg_big_box .type_zngg{
	background-position: 0px 4px;
}
.user_baseinfo_right_big_box .deyun_msg_big_box .type_zngg:hover{
	background-position: 0px -29px;
}
.user_baseinfo_right_big_box .deyun_msg_big_box .type_xtgg{
	background-position: 0px -75px;
}
.user_baseinfo_right_big_box .deyun_msg_big_box .type_xtgg:hover{
	background-position: 0px -109px;
}
.deyun_change_btn{
	font-size: 15px;
	color: #FFF;
	height: 30px;
	width: 80px;
	display:block;
	line-height:30px;
	background:#e62400;
	text-align:center;
	 -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
}
.deyun_change_btn:hover{
	color: #FFF;
}
.user_baseinfo_right_big_box .deyun_change_btn_box{
	margin-left:30px;
}
.deyun_bi_point_big_box .deyun_bi_point_item_box{
	float:left;
	width:240px;
	position:relative;
	z-index:3;
}
.deyun_bi_point_big_box .deyun_bi_point_txt{
	width:100%;
	text-align:center;
	font-size:28px;
	color:#000;
}
.deyun_bi_point_type_box{
	text-align:center;
}
.deyun_bi_point_type_box div{
	vertical-align: middle;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.deyun_bi_point_type_ico{
	background-image: url(../images/bz_ico.png);
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
}
.deyun_bi_point_type_ico.type_ptdb{
	background-position: 2px 3px;
	
}
.deyun_bi_point_type_ico.type_scdb{
	background-position: 2px -21px;
	
}
.deyun_bi_point_type_ico.type_xfyb{
	background-position: 0px -83px;
	
}
.deyun_bi_point_type_ico.type_zcyb{
	background-position: 0px -121px;
	
}
.change_Bi_to_money_btn{
	border:1px solid #7f97c7;
	color:#1c4592;
	line-height:13px;
	font-size:13px;
	padding:2px;
	display:block;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
	position:absolute;
	right:28px;
	top: -12px;
}
.change_Bi_to_money_btn:hover{
	background:#0f3c96;
	color:#fff;
	border:1px solid #0f3c96;
}
.tc_white_bg{
	background: #fff;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99998;
}
.bi_to_money_and_change_window_box{
	border:1px solid #d2d2d2;
	width:485px;
	position:fixed;
	z-index: 99999;
	top:100px;
	left:200px;
	padding:15px 0px 0 0px;
	background:#fff;
	display:none;
}
.bi_to_money_and_change_window_tit{
	border-bottom:1px solid #d2d2d2;
	padding-bottom:12px;
	font-size:16px;
	color:#444444;
	padding-left:25px
}
.bi_to_money_and_change_window_body{
	padding:18px 25px;
}
.bi_to_money_and_change_window_body p{
	color:#444;
}
.bi_to_money_and_change_window_input_box{
	margin-top:50px;
	text-align:right;
	margin-bottom:27px;
}
.bi_to_money_and_change_window_input_box input{
	width:124px;
	height:28px;
	line-height:28px;
	outline:none;
	padding:0 8px;
}
.bi_to_money_and_change_window_input_box label{
	color:#444;
}
.bi_to_money_and_change_window_btn_box{
	border-top:1px solid #d2d2d2;
}
.bi_to_money_and_change_window_btn_box .window_btn_is_ok,.bi_to_money_and_change_window_btn_box .window_btn_is_no{
	width:242px;
	height:37px;
	line-height:37px;
	color:#333333;
	font-size:15px;
	text-align:center;
	display:block;
	float:left;
}
.bi_to_money_and_change_window_btn_box .window_btn_is_ok{
	border-right:1px solid #d2d2d2;
}
.bi_to_money_and_change_window_btn_box .window_btn_is_ok:hover,.bi_to_money_and_change_window_btn_box .window_btn_is_no:hover{
	background:#e62400;
	color:#fff;
}
.deyun_member_right_tit_box{
	font-size:15px;
	color:#333333;
	margin-bottom:8px;
}
.deyun_member_right_nr_box{
	border:1px solid #d2d2d2;
	width:954px;
	margin-bottom:48px;
}
.deyun_member_wallet_big_box{
	padding:26px 55px 0px 55px; 
}
.deyun_member_wallet_ha_one_txt{
	color:#333;
}
.deyun_member_wallet_bi_type_big_box{
	margin-top:50px;
}
.deyun_member_wallet_bi_type_item_box div{
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
}
.deyun_member_wallet_bi_type_item_box .deyun_member_wallet_bi_point{
	font-size:28px;
	color:#000;
	line-height:30px;
	height:30px;
}
.deyun_member_wallet_bi_point.type_left{
	min-width:150px;
}
.deyun_member_wallet_bi_point.type_right{
	margin-right:24px;
}
.deyun_member_wallet_bi_type_item_box .deyun_member_wallet_bi_type_ico{
	line-height: 32px;
	height: 30px;
	margin-right: 12px;
	padding-left: 25px;
	background-image: url(../images/bz_ico.png);
	background-repeat: no-repeat;
}
.deyun_member_wallet_bi_type_ico.type_scdb{
	background-position: 0px -14px;
}
.deyun_member_wallet_bi_type_ico.type_ptyb{
	background-position: 0px 9px;
}
.deyun_member_wallet_bi_type_ico.type_xfyb{
	background-position: 0px -75px;
}
.deyun_member_wallet_bi_type_ico.type_zsyb{
	background-position: 0px -113px;
}
.deyun_member_wallet_bi_type_item_box{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-bottom:36px;
}
.deyun_member_wallet_change_btn{
	background:#fff;
	color:#1c4592;
	width:81px;
	height:30px;
	line-height:30px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align: middle;
	text-align:center;
	border:1px solid #1c4592;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
}
.deyun_member_wallet_change_btn:hover{
	background:#1c4592;
	color:#fff;
}
.deyun_member_wallet_big_box .deyun_bi_js_one_box{
	border-top:1px solid #d2d2d2;
	padding-top:25px;
	padding-bottom:45px;
}
.deyun_member_wallet_big_box .deyun_bi_js_one_box p{
	margin-bottom:19px;
}
.deyun_member_bank_card_nr_box{
	padding:28px;
	color:#000;
}
.deyun_member_bank_card_nr_box a{
	color:#000;
}
.deyun_member_bank_card_nr_box p{
	margin-bottom:22px;
}
.deyun_member_recommend_big_box .member_recommend_nums_btn{
	padding:32px 77px 32px 58px;
}
.member_recommend_nums_btn .member_recommend_nums_txt{
	font-size:14px;
	color:#333;
	float:left;
	margin-right:118px;
}
.member_recommend_nums_btn .member_recommend_nums_txt em{
	font-size:28px;
	color:#000;
	line-height:30px;
}
.your_recommend_big_box{
	height:250px;
	border-top:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
}
.your_recommend_big_box .your_recommend_tit{
	font-size:15px;
	color:#333333;
	margin-bottom:44px;
	margin-left:62px;
	margin-top:9px;
}
.your_recommend_list_box{
	position:relative;
	z-index:2;
	margin-left:47px;
	width:860px;
	height:115px;
	overflow:hidden;
}
.your_recommend_list_box .your_recommend_ul{
	height:115px;
	overflow:hidden;
	width:20000px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
}
.your_recommend_pic_link img{
	max-width:115px;
	max-height:115px;
}
.your_recommend_ul .your_recommend_pic_link{
	width:115px;
	height:115px;
	display:block;
	float:left;
}
.your_recommend_ul .your_recommend_debisy_box{
	float:left;
	width:133px;
	padding-right:10px;
	border-right:1px solid #d2d2d2;
	margin-top:44px;
	overflow:hidden;
}
.your_recommend_ul .your_recommend_debisy_box div{
	text-align:right;
	text-overflow:ellipsis;
	
}
.your_recommend_ul .your_recommend_debisy{
	color:#e62400;
}
.your_recommend_ul .your_recommend_debi_point{
	color:#828282;
}
.your_recommend_ul .your_recommend_li{
	float:left;
	margin-right: 10px;
}
.your_recommend_list_box_turn_left{

	background-image: url(../images/member_coll_right_left.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 35px;
	left: 18px;
	width: 20px;
	height: 50px;
	z-index: 5;
	cursor: pointer;
	background-position: 4px 17px;
}
.your_recommend_list_box_turn_right{

	background-image: url(../images/member_coll_right_left.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 35px;
	right: 18px;
	width: 20px;
	height: 50px;
	z-index: 5;
	cursor: pointer;
	background-position: 4px -28px;
}
.your_recommend_turn_box{
	position:relative;
	z-index:3;
}
.borderRight_zero{
	border-right: 0px solid #d2d2d2!important;
}
.deyun_recommend_lc_txt_big_box{
	padding:22px 55px;
	/*min-height:593px;	*/
}
.deyun_recommend_lc_txt_big_box{
	color:#333333;
}
.deyun_recommend_lc_txt_big_box p{
	margin-bottom:20px;
	line-height:24px;
}
.deyun_recommend_lc_txt_big_box a{
	color:#000;
}

/*20160413新增首充收益/借款返点/消费返利*/
.rightside .deyun_member_all_sh_body span{
	color:#333333;
	font-size:13px;
}
.rightside .deyun_member_all_sh_body em{
	color:#1c4592;
	font-size:28px;
	vertical-align:-1px;
	line-height:36px;	
}
