@charset "utf-8";
/* CSS Document */
.deyun_layout.pay_tag{
	padding:38px 13px;
	width:972px;
	margin:0 auto;
}
.pay_tag .deyun_pay_liu_big_box{
	height:203px;
}
.pay_tag .deyun_pay_liu_tit{
	margin-top:39px;
	margin-right:115px;
}
.pay_tag .deyun_pay_liu_ul li{
	color:#797979;
	float:left;
	width:103px;
	text-align:center;
	margin-right:126px;
	margin-top:23px;
}
.deyun_pay_info_tit{
	border-bottom:1px solid #c9c9c9;
}
.deyun_pay_info_tit h3{
	color:#4e4e4e;
	font-size:18px;
	line-height:42px;
}
.deyun_pay_info_block_big_box{
	margin-top:20px;
	border:1px solid #c9c9c9;
}
.deyun_pay_info_block_big_box .deyun_pay_info_block_tit{
	line-height:33px;
	height:33px;
	background:#eeeeee;
	padding-left:12px;
}
.deyun_pay_info_block_big_box .deyun_pay_info_block_nr{
	padding:15px 37px;
	*overflow:hidden;
}
.deyun_paya_add_address_link{
	height:22px;
	padding:20px 0;
}
.deyun_pay_info_block_nr .deyun_paya_add_address_link a{
	color:#ffa02f;
	font-size:15px;
}
.deyun_pay_add_select li{
	margin-right: 32px;
    margin-bottom: 23px;
    color: #666;
    cursor: pointer;
    width: 234px;
    height: 91px;
    float: left;
    padding: 8px 12px 8px 12px;
    border: 3px solid #eee;
    position: relative;
}
.deyun_pay_add_select li p {
    border-bottom: 1px solid #eee;
    padding: 0 10px 5px 10px;
    color: #333;
}
.deyun_pay_add_select li span {
    padding: 6px 10px 0 10px;
    display: block;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}
.deyun_pay_add_select li.on a {
    display: inline-block;
}
.deyun_pay_add_select li a {
    display: none;
    color: #1C4592;
    margin-left: 9px;
}
.deyun_pay_add_select li.on {
    border-color: #1C4592;
}
.deyun_pay_change_delivery{
	width:100%;
}
.deyun_pay_change_delivery th,.deyun_pay_change_delivery td{
	font-size:15px;
	color:#4e4e4e;
}
.deyun_pay_change_delivery thead th{
	border-bottom: 1px solid #eee;
}
.deyun_pay_change_delivery tbody tr td{
	padding-bottom:3px;
}
.deliverytop_bar{
	height:10px;
}
.deyun_pay_info_send_time label{
	margin-right:17px;
}
.deyun_pay_info_send_time input{
	margin-right:5px;
}
.deyun_pay_cart_list_main th,.deyun_pay_cart_list_main td{
	padding-right:10px;
	word-break:break-all;
	word-wrap: break-word;
	padding-bottom:10px;
}
.deyun_pay_cart_list_main th{
	font-size:15px;
}
.deyun_pay_cart_list_main{
	width:100%;
}
.deyun_pay_cart_list_main .deyun_pay_cart_item_name{
	line-height:24px;
	word-break:break-all;
	word-wrap: break-word;
	width:390px;
}
.deyun_pay_cart_list_main .deyun_pay_cart_item_price{
	color:#e82c00;
}
.btn-collapse, .btn-expand {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border: 1px solid #aaaaaa;
    vertical-align: middle;
    text-align: center;
    font: 14px/18px simsun,serif!important;
    color: #8B8B8B;
	margin-right:8px;
}
.deyun_pay_left_sale_box .order-promotion h3{
	font-size:15px;
}
.deyun_pay_left_sale_box .pam-content{
	margin-left:30px;
}
.deyun_pay_left_sale_box .pam-content li b{
	font-size:12px;
	color:#898989;
	padding-right:8px;
}
.deyun_pay_left_sale_box .pam-content li{
	color:#333;
	line-height:28px;
}
.deyun_pay_money_ca_info_big_box{
	margin-top:24px;
}
.deyun_pay_money_ca_nums_list .deyun_pay_money_ca_nums_list_ul li{
	text-align:right;
	color:#4e4e4e;
	line-height:32px;
	font-size:15px;
}
.deyun_pay_money_ca_nums_list .deyun_pay_money_ca_nums_list_ul li em{
	font-size:15px;
}
.deyun_pay_money_ca_nums_list .final_amount{
	font-size:20px;
	color:#e62400;
}
.deyun_pay_info_select_coin_type_big_box .deyun_pay_info_select_coin input{
	vertical-align: -2px;
    margin-right: 5px;
}
.deyun_pay_info_select_coin_type_big_box{
	margin-bottom:20px;
}
.deyun_pay_info_select_coin.type_rmb{
	margin-right:130px;
}
.deyun_pay_info_select_bi_big_box{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	display:none;
}
.deyun_pay_bi_table td{
	height:34px;
	vertical-align:middle;
}
.deyun_pay_bi_table .deyun_pay_bi_ico{
	background-image: url(../images/bz_ico.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left:25px;	
}
.deyun_pay_bi_table .deyun_pay_bi_ico.type_ptdb{
    background-position: 4px 3px;
}
.deyun_pay_bi_table .deyun_pay_bi_ico.type_scdb{
    background-position: 4px -21px;
}
.deyun_pay_bi_table .deyun_pay_bi_ico.type_xfyb{
    background-position: 0px -83px;
}
.deyun_pay_bi_table .deyun_pay_bi_ico.type_zsyb{
    background-position: 0px -121px;
}
.deyun_pay_bi_input_box{
	position:relative;
	z-index:3;
}
.deyun_pay_bi_input_box input{
	width:88px;
	height:15px;
	border:1px solid #e5e5e5;
	color:#e62400;
	text-align:right;
	outline:none;
	padding:3px;
	line-height:15px;
}
.deyun_pay_bi_input_box .deyun_pay_bi_erro_tip{
	color:#e62400;
	position:absolute;
	left: 102px;
	top:3px;
	white-space:nowrap; 
}
.deyun_pay_info_select_bi_use_tip_btn_box{
	display:none;
}
.deyun_pay_info_select_bi_use_tip_btn_box .deyun_pay_info_select_bi_use_tip{
	color:#e62400;
	line-height:32px;
	font-size:12px;
	padding-top: 10px;
}
.deyun_pay_info_check_btn{
	width:72px;
	height:23px;
	line-height:23px;
	text-align:center;
	border:0px;
	background:#e62400;
	cursor:pointer;
	color:#fff;
	outline:none;
}
.deyun_pay_info_check_btn.type_bi_btn{
	margin-top:15px;
	margin-right:15px;
}
.deyun_pay_info_check_btn.disable{
	background:#c9c9c9;
	cursor:not-allowed;
}
.deyun_pay_info_check_btn.type_bi_btn.bi_check_ok{
	background:#1c4592;
	cursor:default;
}
.deyun_pay_info_send_order_box .order-remark label{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:75px;
	vertical-align:top;
	font-size:15px;
	color:#4e4e4e;
}
.deyun_pay_info_send_order_box .action-remark-textarea,.deyun_pay_info_send_order_box .x-input{
	border:1px solid #e5e5e5;
	outline:none;
	margin-bottom:5px;
	font:normal 13px/1.5 "Microsoft YaHei",arial,"Hiragino Sans GB",sans-serif;
	
}
.deyun_pay_info_send_order_box .x-input{
	height:22px;
	padding:3px;
	line-height:22px;
	width:389px;

	color:#4e4e4e;

}
.deyun_pay_info_send_order_box .action-remark-textarea{
	width:389px;
	padding:3px;

	color:#4e4e4e;
	
}
.deyun_pay_info_send_order_box .order-remark span{
	vertical-align:top;
}

.deyun_pay_info_order_send_box .order_erroe_tips{
	width: 392px;
	height:102px;
	text-align:right;
	font-size:15px;
	color:#e62400;
	padding:20px 0;
	
}
.deyun_pay_info_block_tit.type_blue{
	background:#1c4592;
	color:#fff;
}
/*增加弹窗*/
.tc_bg {
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 99999;
}
#tc_position {
	z-index: 9999999;
	display: none;
	_border: 1px solid #ccc;
*border:1px solid #ccc;
	width: 607px;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	border-radius: 1px;
	background: #fff;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -230px;
	position: fixed;
}
#tc_position .tc_main {
	padding: 20px 30px;
}
#tc_position .tc_title {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #141414;
	padding-left: 30px;
}
#tc_position .tc_title h2 {
	font-size: 14px;
	float: left;
	font-weight: normal;
	line-height: 50px;
}
#tc_position .tc_title .tc_close {
	display: inline-block;
	float: right;
	height: 50px;
	width: 50px;
	margin: 0;
	padding: 0;
}
#tc_position .tc_title .tc_close span {
	background: url(../images/icon.png) no-repeat 0 -334px;
	display: block;
	width: 22px;
	height: 22px;
	margin: 14px;
	padding: 0;
	border: 0;
	float: none;
}
#tc_position .tc_title .tc_close:hover span {
	background-position: -32px -334px;
}
.from_part.tc_main .fill-shipping.fold .region {
	border: 0;
	padding: 0;
	float: none;
	line-height: 12px;
	margin: 0;
}
.from_part.tc_main .fill-shipping.fold span {
	border: 0;
	padding: 0;
	margin: 0;
	line-height: 14px;
    float: none;
	font-size:14px;

}
button{
	outline:none;
}
.fill-shipping .inputstyle {
	width: 97px;
	height: 27px;
	line-height: 27px;
	margin-bottom: 8px;
	font-size: 12px;
    outline: none;
}
.fill-shipping .x-input {
	width: 390px;
	height: 15px;
	line-height: 15px;
	border: 1px solid #141414;
	padding: 5px 0 5px 10px;
	font-size: 14px;
	margin-bottom: 8px;
}
.fill-shipping th {
	color: #000;
	font-size: 14px;
}
.fill-shipping th em {
	color: #e62400;
	vertical-align: -2px;
	padding-right: 2px;
}
.fill-shipping .button4 {
	margin-left: 90px;
	border: 0px;
	width: 60px;
	height: 30px;
	line-height: 30px;
	margin-right: 15px;
	background: #1c4592;
	cursor:pointer;
	color:#fff;
}
.fill-shipping .button_close {
	border: 0px;
	width: 60px;
	height: 30px;
	line-height: 30px;
	margin-right: 15px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	background-color: #c9c9c9;
	color: white;
	color:#fff;
}