@charset "utf-8";
/* CSS Document */
/*幻灯片*/
#focus {
	width: 100%;
	height: 500px;
	min-width:1200px;
	overflow: hidden;
	position: relative;
}
#focus ul {
	height: 500px;
	position: absolute;
	z-index:3;
}
#focus ul li {
	float: left;
	width: 1920px;
	height: 500px;
	overflow: hidden;
	position: relative;
	background: #fff;
}
#focus ul li div {
	position: absolute;
	overflow: hidden;
}
#focus .deyun_banner_btnBg {
	position: absolute;
	width: 800px;
	height: 20px;
	left: 0;
	bottom: 0;
	z-index:4;
}
#focus .deyun_banner_btn {
	position: absolute;
    width: 1200px;
    height: 10px;
    padding: 10px 10px;
    right: 0;
    bottom: -500px;
    text-align: center;
    z-index: 4;
	
}
#focus .deyun_banner_btn span {
	display: inline-block;
	_display: inline;
	_zoom: 1;
	width: 41px;
	height: 5px;
	_font-size: 0;
	margin-left: 5px;
	cursor: pointer;
	background: #aaaaaa;
}
#focus .deyun_banner_btn span.on {
	background: #fff;
}
#focus .preNext {
	width: 45px;
	height: 100px;
	position: absolute;
	top: 90px;
	cursor: pointer;
}
#focus .pre {
   display:none;
	
}
#focus .next {
  display:none;
}
#focus .deyun_banner_btn_box{
	height:1px;
	position:relative;
	z-index:4;
}
#focus .banner_link_bg{
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	min-width: 1200px;
	height: 500px;
}
.history_money_all_big_box{
    color:#858585;
	height:19px;
	padding:18px 0;
}
.history_money_all_big_box .history_money_all_box{
	padding-right:10px;
}
.finance_tag{
	margin-bottom:43px;
}
.deyun_finance_ico_big_box{
	background-image: url(../images/fe_bar.png);
	background-position: center 46px;
	height: 184px;
	width: 1200px;
	background-repeat: no-repeat;
	margin-top:62px;
}
.deyun_finance_ico_big_box .deyun_finance_ico_background{
	background-image: url(../images/marumaru.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 139px;
	width: 139px;	
	float:left;
	margin-left:127px;
	position:relative;
	z-index:3;
}
.deyun_finance_ico_big_box .deyun_finance_ico_link{
	background-image: url(../images/fe_ico.png);
	background-repeat: no-repeat;
	display:block;
	width:100%;
	height:100%;
}
.deyun_finance_ico_link.jiedai{
	background-position: 14px 18px;
}
.deyun_finance_ico_link.xiaofeika{
	background-position: -250px 18px;
}
.deyun_finance_ico_link.zongchou{
	background-position: -537px 18px;
}
.deyun_finance_ico_link.licai{
	background-position: -808px 18px;
}
.deyun_finance_ico_link_box{
	width:100%;
	height:100%;
}
.deyun_finance_ico_big_box .deyun_finance_link{
	position:absolute;
	top: 145px;
    left: 0px;
	z-index:3;
	display:block;
	width:100%;
	text-align:center;
	font-size:17px;
	color:#716d67;
	letter-spacing: 0.5em;
    text-indent: 0.5em;
}
.deyun_finance_list_big_box{
	margin-top:78px;
}
.deyun_finance_list_big_box .deyun_finance_list_box{
	border:1px solid #c9c9c9;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius: 5px;            /* W3C syntax */
	padding:24px;
	width:848px;
	margin:0 auto;
}
.deyun_finance_list_big_box .deyun_finance_list_cn_tit_box{
	font-size:15px;
	color:#716d67;
	padding-left:12px;
	border-left:3px solid #1c4592;
	line-height:15px;
	padding-bottom: 3px;
	letter-spacing: 0.5em;
}
.deyun_finance_list_big_box .deyun_finance_list_en_tit_box{
	font-size:12px;
	color:#716d67;
	padding-left:12px;
	line-height:15px;
	border-left:3px solid #dedbdc;
}
.deyun_finance_list_big_box .deyun_finance_list_tit_box{
	border-bottom:1px solid #c9c9c9;
	padding-bottom:21px;
	padding-left:14px;
}
.deyun_finance_list_big_box .deyun_finance_list_roll_box{
	margin-left:138px;
	margin-top:23px;
	overflow:hidden;
	height:427px;
	width:730px;
}

.deyun_finance_list_big_box .deyun_finance_list_roll{
	color:#000;
}
.deyun_finance_list_big_box .deyun_finance_list_roll ul li{
	font-size:14px;
	line-height:36px;
}
