@charset "utf-8";
body{
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
/* 头部 */
.sr_index_top{
	width: calc(100% - 20px);
    padding: 0 calc(20px/2);
    height: calc(88px/2);
    background-color: #000;
    position: relative;
    z-index: 10;
}
.sr_top_logo{
	width: calc(248px/2);
    height: calc(53px/2);
    display: block;
    text-align: center;
    background: url(../images/logo.jpg) 0 calc((88px/2 - 53px/2)/2) no-repeat;
    background-size: contain;
    margin: 0 auto 0;
    padding-top: calc((88px/2 - 53px/2)/2);
}
.sr_top_menu{
	width: calc(44px/2);
    height: calc(44px/2);
    display: block;
    background: url(../images/menu.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: calc((88px/2 - 44px/2)/2);
    right: calc(20px/2 + 20px/2);
    z-index: 10;
}
.sr_menu_box{
	background-color: #fafafa;
    border: 1px solid #dedede;
    border-radius: calc(10px/2);
    position: absolute;
    top: calc(66px/2);
    right: -10px;
    z-index: 5;
    transition: all 1s;
}
.sr_top_arrow{
	width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -7px;
    right: 9px;
}
.sr_top_menu_item{
	width: calc(300px/3);
    height: calc(87px/3);
    line-height: calc(87px/3);
    text-align: center;
    padding: 0 calc(9px/2);
    border-bottom: 1px solid #ccc;
    font-size: calc(32px/3);
}
.sr_top_menu_link{
	display: block;
    color: #323232;
}

/* 内容 */
.sr_index_body{
	position:relative;
	z-index:2;
	height:100%;
	width:100%;
}
.sr_index_content_body{
	position:absolute;
	z-index:2;
	top:44px;
	left:0;
	right:0;
	bottom:0;
}
.swiper-container {
    height: 100%;
    width: 100%;
}
.sr_swiper_box {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
/*第一页*/
.sr_p1_bg{
	background: url(../images/page1_bg.jpg) center center no-repeat;
    background-size: cover;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	z-index:1;
}
.sr_p1_logo{
	width: calc(205px/2);
    height: calc(156px/2);
    background: url(../images/big_logo.png) no-repeat;
    background-size: contain;
    position: absolute;
	z-index:2;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
}
.sr_p1_left{
    display: block;
    background: url(../images/page1_title1.png) center center no-repeat;
    background-size: contain;
	position:absolute;
	left:0;
	right:60%;
	top:0;
	bottom:0;
	z-index:3;
}
.sr_p1_right{
    display: block;
    background: url(../images/page1_title2.png) center center no-repeat;
    background-size: contain;
	position:absolute;
	left:60%;
	right:0;
	top:0;
	bottom:0;
	z-index:3;
}
/* 第二页 */
.sr_p2_bg{
	background: url(../images/page2_bg.jpg) center center no-repeat;
    background-size: cover;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	z-index:1;
}
.sr_p2_ink_bg{
	background: url(../images/page2_bg2.png) center center no-repeat;
    background-size: cover;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	z-index:2;
}
.sr_p2_human{
	background: url(../images/swordsman.png) center center no-repeat;
    background-size: contain;
    position: absolute;
    left: 42%;
    top: 50%;
	width: calc(442px/3);
    height: calc(589px/3);
    transform: translate(-42%, -50%);
	z-index:3;
}
.sr_p2_left_text{
	width: calc(265px/2);
    height: calc(194px/2);
    background: url(../images/page2_title1.png) center center no-repeat;
    background-size: contain;
    transform: translate(0%, 5%);
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 4;
}
.sr_p2_right_text{
	width: calc(348px/2);
    height: calc(294px/2);
    background: url(../images/page2_title2.png) center center no-repeat;
    background-size: contain;
    transform: translate(0%, 2%);
    position: absolute;
    right: 0;
    bottom: 2%;
    z-index: 4;
}
/* 第三页 */
.sr_p3_bg{
	background: url(../images/page3_bg.jpg) center center no-repeat;
    background-size: cover;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	z-index:1;
}
.sr_p3_wukong{
	background: url(../images/sunwukong.png) center top no-repeat;
    background-size:contain;
    position: absolute;
	z-index:3;
	top:0;
	bottom:50%;
	left:0;
	right:0;
}
.sr_p3_text{
	left:0;
	right:0;
    height: calc(107px/2);
    background: url(../images/page3_title.png) center center no-repeat;
    background-size: contain;
	position: absolute;
    bottom: 10%;
	z-index:5;
}
.sr_p3_word_box{
	position: absolute;
	left:0;
	right:0;
	top:20%;
	bottom:30%;
	z-index:4;
}
/* 第四页 */
.sr_p4_bg{
	background: url(../images/page4_bg.jpg) center center no-repeat;
    background-size: cover;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	z-index:1;
}
.sr_p4_cirbody{
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	z-index:2;
}
.sr_p4_cirbox{
	width:100%;
	height:100%;
	position:relative;
	z-index:2;
}
.sr_p4_cir{
	background: url(../images/page4_circle2.png) center center no-repeat;
	background-size:contain;
	width:110%;
	height:100%;
	margin-left:-5%;
	animation: quan 60s infinite;
    -webkit-animation: quan 60s infinite;
    -moz-animation: quan 60s infinite;
    -o-animation: quan 60s infinite;
    -ms-animation: quan 60s infinite;
}
.sr_p4_text{
	width: calc(618px/2);
    height: calc(58px/2);
    display: block;
    background: url(../images/page4_title.png) center center no-repeat;
    background-size: contain;
    position: absolute;
	z-index:3;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-55%);
}
.sr_p4_human{
	width: calc(178px/2);
    height: calc(198px/2);
    display: block;
    background: url(../images/person.png) center center no-repeat;
    background-size: contain;
    position: absolute;
	z-index:4;
    top: 50%;
	left:50%;
	margin-left:calc(-178px/4);
	margin-top:calc(-198px/4);
	transform: translate(0,-5px);
    -webkit-transform: translate(0,-5px);
    -moz-transform: translate(0,-5px);
    -o-transform: translate(0,-5px);
    animation: updown 4s infinite;
    -ms-animation: updown 4s infinite;
    -webkit-animation: updown 4s infinite;
    -moz-animation: updown 4s infinite;
    -o-animation: updown 4s infinite;
}
@keyframes quan {
      0%   { transform:rotate(0);
             animation-timing-function:linear; }
      100% { transform:rotate(360deg); }
}
@-webkit-keyframes quan {
      0%   { -webkit-transform:rotate(0);
             -webkit-animation-timing-function:linear; }
      100% { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes quan {
      0%   { -moz-transform:rotate(0);
             -moz-animation-timing-function:linear; }
      100% { -moz-transform:rotate(360deg); }
}
@-o-keyframes quan {
      0%   { -o-transform:rotate(0);
             -o-animation-timing-function:linear; }
      100% { -o-transform:rotate(360deg); }
}
@-ms-keyframes quan {
      0%   { -ms-transform:rotate(0);
             -ms-animation-timing-function:linear; }
      100% { -ms-transform:rotate(360deg); }
}

@keyframes updown {
      0%   { transform:translate(0,-5px);
             animation-timing-function:linear; }
      50% { transform:translate(0,5px); }
	  100% { transform:translate(0,-5px); }
}
@-webkit-keyframes updown {
      0%   { -webkit-transform:translate(0,-5px);
             -webkit-animation-timing-function:linear; }
      50% { -webkit-transform:translate(0,5px); }
	  100% { -webkit-transform:translate(0,-5px); }
}
@-moz-keyframes updown {
      0%   { -moz-transform:translate(0,-5px);
             -moz-animation-timing-function:linear; }
      50% { -moz-transform:translate(0,5px); }
	  100% { -moz-transform:translate(0,-5px); }
}
@-o-keyframes updown {
      0%   { -o-transform:translate(0,-5px);
             -o-animation-timing-function:linear; }
      50% { -o-transform:translate(0,5px); }
	  100% { -o-transform:translate(0,-5px); }
}
@-ms-keyframes updown {
      0%   { -ms-transform:translate(0,-5px);
             -ms-animation-timing-function:linear; }
      50% { -ms-transform:translate(0,5px); }
	  100% { -ms-transform:translate(0,-5px); }
}
/* 第五页 */
.sr_p5_bg{
	background: url(../images/page5_bg.jpg) center center no-repeat;
	background-size: cover;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	z-index:1;
}
.sr_p5_sheild{
	width:90%;
	height:55%;
    display: block;
    background: url(../images/shield.png) center center no-repeat;
    background-size: contain;
	position:absolute;
	z-index:2;
	top:5%;
	left:5%;
}
.sr_p5_text{
	    width: 100%;
    height: calc(120px/2);
    background: url(../images/title.png) center center no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
	z-index:3;
    left: 50%;
    bottom: 12%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/* 第六页 */
.sr_p6_bg{
	background: url(../images/page6_bg.jpg) center center no-repeat;
	background-size: cover;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	z-index:1;
}
.p6_sr_word_body {
    z-index: 2;
    top: 8%;
    left: 8%;
    height: auto;
    position: absolute;
}

.p6_sr_word_item_box {
    margin-left: 19px;
    width: 15px;
}
.p6_sr_word_item{
	height:17px;
	text-align: center;
    opacity: 0;

}
@media screen and (max-height:374px) { 
	.p6_sr_word_item{
		height:15px;
	}
	.p6_sr_word_item img{
		height:12px;
		width:auto;
	}
	.p6_sr_word_item.type_inzhang img{
		height:8px;
		width:9px;
	}
}
/* 第七页 */
.sr_p7_bg{
	background: url(../images/page7_bg.jpg) center center no-repeat;
	background-size: cover;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	z-index:1;
}
.sr_p7_con_box{
	 width: 100%;
    height: calc(387px/3);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
}
.sr_p7_text{
	width: 100%;
    height: calc(49px/2);
    background: url(../images/page7_title.png) center center no-repeat;
    background-size: contain;
}
.sr_p7_jn{
	width: 100%;
    height: calc(100% - 80px/2);
    display: block;
    background: url(../images/page7_kit.png) center center no-repeat;
    background-size: contain;
    margin-top: calc(80px/2 - 49px/2);
}
.sr_mtext_body{
	width: calc(100% - 70px);
    height: 60%;
    margin: 0 auto;
    position: relative;
	z-index:4;
}
.sr_mtext_item{
	width: calc(250px/2);
    height: 33%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
    transition: all 0.5s;
    background-position: center center;
	background-color:transparent;
}
.sr_mtext_item.type_t{
	top: calc(72px/2);
    left: 50%;
    transform: translate(-50%);
    background-image: url(../images/page7_tauro1.png);
}
.sr_mtext_item.type_tl{
	top: 50%;
    left: 0%;
    transform: translate(-25%, -50%);
    background-image: url(../images/page7_blackshield1.png);
}
.sr_mtext_item.type_tr{
	top: 50%;
    right: 0%;
    transform: translate(25%, -50%);
    background-image: url(../images/page7_pinkbox1.png);
}
.sr_mtext_item.type_bl{
	bottom: 0;
    left: 0%;
    background-image: url(../images/page7_redbud1.png);
}
.sr_mtext_item.type_br{
	bottom: 0;
    right: 0;
    background-image: url(../images/page7_crowdfunding1.png);
}
.sr_mtext_item.type_t.active{
	background-image: url(../images/page7_tauro2.png)
}
.sr_mtext_item.type_tl.active{
	background-image: url(../images/page7_blackshield2.png);
}
.sr_mtext_item.type_tr.active{
	background-image: url(../images/page7_pinkbox2.png);
}
.sr_mtext_item.type_bl.active{
	background-image: url(../images/page7_redbud2.png);
}
.sr_mtext_item.type_br.active{
	background-image: url(../images/page7_crowdfunding2.png);
}
/* 第八页 */
.sr_p8_bg{
	background: url(../images/page8_bg.jpg) center center no-repeat;
	background-size: cover;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	z-index:1;
}
.sr_p8_text{
	background: url(../images/page8_title.png) center center no-repeat;
    background-size: contain;
	position:absolute;
	z-index:2;
	left:6%;
	right:64%;
	top:0;
	bottom:0;
}
.sr_p8_itemlist{
	position:absolute;
	z-index:3;
	top:50%;
	left:46%;
	right:10%;
}
.sr_p8_item{
	cursor:pointer;
	margin-bottom:15px;
}
@media screen and (min-width:480px) { 
  .sr_p8_itemlist{
	  overflow:auto;
	  bottom:20%;
  }
 
}
/*第九页*/
.sr_p9_contentbody{
	height:100%;
	overflow:auto;
}
.sr_p9_bg{
	background: url(../images/page9_bg.jpg) center center no-repeat;
	background-size: cover;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	z-index:1;
}
.sr_p9_content{
	position:relative;
	z-index:2;
}
.sr_p9_title{
	background:url(../images/tongxun.png) center center no-repeat;
	background-size:contain;
	width:100%;
	height:27px;
	margin-bottom:35px;
}
.sr_p9_minfo{
	width:145px;
	margin:0 auto 30px auto;
}
.sr_p9_minfo_p{
	font-size:14px;
	line-height:38px;
	white-space: nowrap;
}
.sr_p9_cinfo{
	width:230px;
	margin:0 auto;
}
.sr_p9_cinfo_p{
	font-size:14px;
	line-height:27px;
}
/* 招贤文章 */
.sr_p8_jobbody{
	position:absolute;
	z-index:5;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:auto;
	display:none;
}
.sr_p8_jobback{
	width: calc(26px/2);
    height: calc(44px/2);
    background: url(../images/back.png) no-repeat;
    background-size: contain;
    position: absolute;
	z-index:5;
    top: calc((88px/2 - 44px/2)/2);
    left: calc(20px/2 + 20px/2);
	cursor:pointer;
	display:none;
}
.sr_p8_jobBox{
	padding:25px 30px;
	background: url(../images/page9_bg.jpg) center center no-repeat;
	background-size: cover;
	display:none;
}
.sr_p8_jobtitle{
	height:44px;
	text-align:center;
	margin-bottom:25px;
}
.p8_text_content_item p{
	line-height:24px;
	font-size:14px;
}
/* loading */
.sr_m_loading{
	position:absolute;
	z-index:100;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-image:url(../images/loading.gif);
	background-size:100%;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#fff;
}
.sr_img_loading{
	width:0;
	height:0;
	overflow:hidden;
}