@charset "utf-8";
/* CSS Document */
.niaoduo_account_body{
	width: 100%;
	min-width: 1200px;
	height: 1146px;
	background-image: url(../images/login_register_find_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.niaoduo_account_body .niaoduo_account_white_bg{
	width:379px;
	padding:0 56px;
	background:#fff;
	float:right;
	margin-right:15px;
	margin-top:234px;
	-webkit-box-shadow:6px 0 28px rgba(40,42,47,0.18);  
    -moz-box-shadow:6px 0 28px rgba(40,42,47,0.18);
    box-shadow:6px 0 28px rgba(40,42,47,0.18);
	-moz-border-radius: 10px;      /* Gecko browsers */
    -webkit-border-radius: 10px;   /* Webkit browsers */
    border-radius:10px;            /* W3C syntax */
}
.niaoduo_account_body .niaoduo_account_white_bg.type2{
	margin-top:164px;
}
.niaoduo_account_body .niaoduo_account_white_bg.type3{
	margin-top:164px;
}
.niaoduo_account_body .niaoduo_account_tit{
	font-size:24px;
	color:#000;
}
.niaoduo_account_body .niaoduo_account_tit.type_1{
	padding:65px 0 72px 13px;
}
.niaoduo_account_body .niaoduo_account_tit.type_2{
	padding:54px 0 40px 0px;
}
.niaoduo_account_body .niaoduo_account_input_item{
	margin-bottom:40px;
}
.niaoduo_account_input_item .niaoduo_account_input_name{
	font-size:18px;
	color:#000;
	height:34px;
	line-height:24px;
}
.niaoduo_account_input_item .niaoduo_account_input_txt{
	border:1px solid #e3e4eb;
	height:53px;
	width:316px;
	-moz-border-radius: 50px;      /* Gecko browsers */
    -webkit-border-radius: 50px;   /* Webkit browsers */
    border-radius:50px;            /* W3C syntax */
	margin-left:3px;
	padding:0 32px;
	line-height:53px;
	font-size:14px;
}
.niaoduo_account_input_item .niaoduo_account_input.type_sm .niaoduo_account_input_txt{
	width:125px;
}
.niaoduo_account_input_item .niaoduo_account_input.type_sm{
	position:relative;
	z-index:2;
	height:55px;
}
.niaoduo_account_input_item .niaoduo_account_go_link{
	font-size:14px;
	color:#666666;
	line-height:24px;
}
.niaoduo_account_input_item .niaoduo_account_go_link_ico{
	display: inline-block;
	*display:inline;
	*zoom: 1;
	height: 24px;
	width:15px;
	background-image: url(../images/account_go_link.png);
	background-repeat: no-repeat;
	background-position: center center;	
	vertical-align: top;
	*vertical-align: -2px;
	margin:0 15px 0 6px;
}
.niaoduo_account_input_item .niaoduo_capchadiv{
	display: inline-block;
	border:1px solid #e3e4eb;
	-moz-border-radius: 50px;      /* Gecko browsers */
    -webkit-border-radius: 50px;   /* Webkit browsers */
    border-radius:50px;            /* W3C syntax */
	overflow:hidden;
	position:absolute;
	z-index:2;
	top:0;
	right:0;
	width:172px;
	text-align:center;
}
.niaoduo_account_input_item .niaoduo_a_send_sm{
	-moz-border-radius: 50px;      /* Gecko browsers */
    -webkit-border-radius: 50px;   /* Webkit browsers */
    border-radius:50px;            /* W3C syntax */
	position:absolute;
	z-index:2;
	top:0;
	right:0;
	width:172px;
	height: 53px;
	text-align:center;
	line-height:53px;
	background:#201b26;
	color:#fff;
}
.niaoduo_account_input_item .niaoduo_reload_captcha{
	position:absolute;
	z-index:2;
	top: -28px;
    right: 18px;
	color:#dcdde0;
}
.niaoduo_account_input_item.type_check{
	height:20px;
}
.niaoduo_account_input_item .niaoduo_account_check{
	vertical-align:-2px;
	margin-right:4px;
}
.niaoduo_account_input_item .niaoduo_account_check_txt{
	color:#000;
}
.niaoduo_account_input_item .niaoduo_account_check_txt2{
	margin-left:6px;
	color:#999999;
}
.niaoduo_account_input_item .niaoduo_account_link2{
	color:#c40e24;
}
.niaoduo_account_input_item.type_check{
	margin-top: -20px;
}
.niaoduo_account_send_btn_box{
	margin-bottom:66px;
}
.niaoduo_account_send_btn_box .niaoduo_account_login_btn{
	color:#000;
	background:#ffdb01;
	width:386px;
	height:53px;
	border:0px;
	-moz-border-radius: 50px;      /* Gecko browsers */
    -webkit-border-radius: 50px;   /* Webkit browsers */
    border-radius:50px;            /* W3C syntax */
	cursor:pointer;
	font-size:20px;
	line-height:53px;
}