@charset "utf-8";
/* CSS Document */
.niaoduo_list_banner{
	width: 100%;
	height: 494px;
	min-width: 1200px;
	background-repeat: no-repeat;
	background-position: center center;	
}

.niaoduo_list_sku_body{
	border:2px solid #dcdcdc;
	padding:30px 40px 0 40px;
}
.niaoduo_list_sku_body .niaoduo_list_sku_item_body{
	position:relative;
	z-index:2;
}
.niaoduo_list_sku_body .niaoduo_list_sku_tit{
	position:absolute;
	z-index:2;
	font-size:14px;
	color:#000;
	left:0px;
	top:0px;
}
.niaoduo_list_sku_body .niaoduo_list_sku_nr{
	margin-left:79px;
}
.niaoduo_list_sku_body .niaoduo_mudi_lv1_ul{
	border-bottom:1px solid #dcdcdc;
	margin-bottom:16px;
}
.niaoduo_list_sku_body .niaoduo_mudi_lv1_li{
	width:64px;
	float:left;
	position:relative;
	z-index:3;
}
/*.niaoduo_mudi_lv1_item_name{
	width:100%;
	text-align:center;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}*/
.niaoduo_list_sku_body .niaoduo_mudi_lv1_li .niaoduo_mudi_lv1_item_name a{
	color:#3c3c3c;
	width:100%;
	text-align:center;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	display:block;
	padding-bottom: 18px;
}

.niaoduo_mudi_lv1_li.active .niaoduo_mudi_lv1_item_bar{
	position: absolute;
	z-index: 3;
	background-image: url(../images/niaoduo_mudi_lv1_active.png);
	background-repeat: no-repeat;
	background-position: center center;
	width:46px;
	height:7px;
	bottom: -1px;
    left: 50%;
    margin-left: -23px;
}
.niaoduo_list_sku_body .niaoduo_mudi_lv2{
}
.niaoduo_list_sku_body .niaoduo_mudi_lv2_ul{
	display:none;
}
.niaoduo_list_sku_body .niaoduo_mudi_lv2_li{
	float:left;
	width:72px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	margin-bottom:16px;
}
.niaoduo_list_sku_body .niaoduo_mudi_lv2_li a{
	color:#3c3c3c;
	padding:1px 7px;
}

.niaoduo_list_sku_body .niaoduo_mudi_lv2{
	border-bottom:1px solid #dcdcdc;
	margin-bottom:16px;
}
.niaoduo_list_sku_body .niaoduo_mudi_lv2_li.active a{
	color:#fff;
	background:#ffdb01;
}
.niaoduo_list_sku_body .niaoduo_list_sku_normal_li{
	float:left;
	margin-right:28px;
	white-space:nowrap; 
	margin-bottom:16px;
}
.niaoduo_list_sku_body .niaoduo_list_sku_normal_li.active a{
	color: #fff;
    background: #ffdb01;
}
.niaoduo_list_sku_body .niaoduo_list_sku_normal_li a{
	padding:1px 7px;
	color:#3c3c3c;
}
.niaoduo_list_sku_body .niaoduo_list_sku_normal_ul{
	border-bottom:1px solid #dcdcdc;
	margin-bottom:16px;
}

.niaoduo_up_down_body{
	margin:48px 0 22px 38px;
}
.niaoduo_up_down_body .niaoduo_up_down_li a{
	color:#000;
	font-size:13px;
	padding-right:14px;
}
.niaoduo_up_down_body .niaoduo_up_down_li a.type_up{
	background-image: url(../images/sj_up_black.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.niaoduo_up_down_body .niaoduo_up_down_li.active a.type_up{
	background-image: url(../images/sj_up_yellow.png);
}
.niaoduo_up_down_body .niaoduo_up_down_li a.type_down{
	background-image: url(../images/sj_down_black.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.niaoduo_up_down_body .niaoduo_up_down_li.active a.type_down{
	background-image: url(../images/sj_down_yellow.png);
}
.niaoduo_up_down_body .niaoduo_up_down_li.active a{
	color:#ffdb01;
}
.niaoduo_up_down_body .niaoduo_up_down_li{
	margin-right:24px;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.niaoduo_shop_item_body .niaoduo_shop_item_li{
	width:383px;
	height:469px;
	background:#fff;
	margin-right:25px;
	margin-bottom:25px;
	float:left;
}
.niaoduo_shop_item_body .niaoduo_shop_item_tit_world_body{
	padding:24px 24px 0 24px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.niaoduo_shop_item_body .niaoduo_shop_item_tit_link{
	color:#666666;
	font-size:18px;
}
.niaoduo_shop_item_body .niaoduo_shop_item_world_body{
	margin-top:10px;
}
.niaoduo_shop_item_world_body .niaoduo_shop_item_world_ico{
	display: inline-block;
	*display:inline;
	*zoom:1;
	background-image: url(../images/adress_grey.png);
	background-repeat: no-repeat;
	background-position: center center;
	height:16px;
	width:11px;
	vertical-align: middle;
	margin-right:10px;
}
.niaoduo_shop_item_world_body .niaoduo_shop_item_world_name{
	line-height:16px;
	color:#bababa;
	font-size:14px;
	vertical-align: middle;
}
.niaoduo_shop_item_body .niaoduo_shop_item_price_txt_body{
	color:#666;
	font-size:18px;
}
.niaoduo_shop_item_body .niaoduo_shop_item_price_red_impor{
	color:#de3838;
}
.niaoduo_shop_item_body .niaoduo_shop_item_price_txt{
	font-size:14px;
}
.niaoduo_shop_item_body .niaoduo_shop_item_price_body{
	text-align:right;
	margin-top:35px;
}
.niaoduo_shop_item_body .niaoduo_shop_item_share_see_body{
	background-image: url(../images/see_share_bar.png);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:25px;
	margin-top: 17px;
}
.niaoduo_shop_item_share_see_body .niaoduo_shop_item_share_ico{
	background-image: url(../images/share_ico_grey.png);
	background-repeat: no-repeat;
	background-position: center center;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:12px;
	height:12px;
	vertical-align:middle;
	margin-right:6px;
}
.niaoduo_shop_item_share_see_body .niaoduo_shop_item_share_box{
	width:49.8%;
	float:left;
	text-align:center;
	cursor:pointer;
	position:relative;
	z-index:2;
	height: 25px;
}
.niaoduo_shop_item_share_see_body .niaoduo_shop_item_see_share_txt{
	color:#b5b5b5;
	font-size:12px;
	vertical-align:middle;
}
.niaoduo_shop_item_share_see_body .niaoduo_shop_item_see_box{
	width:50%;
	float:left;
	text-align:center;
	height: 25px;
}
.niaoduo_shop_item_share_see_body .niaoduo_shop_item_see_ico{
	background-image: url(../images/see_ico_grey.png);
	background-repeat: no-repeat;
	background-position: center center;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:16px;
	height:12px;
	vertical-align:middle;
	margin-right:6px;
}
.niaoduo_shop_item_share_see_body .niaoduo_shop_item_share_nr{
	width:90%;
	position:absolute;
	z-index:2;
	padding:10px 5% 10px 5%;
	left: 0px;
    bottom: 25px;
	background: #fff;
	display:none;
}

.niaoduo_shop_item_body_type2 .niaoduo_shop_item_li{
	width:1200px;
	height:294px;
	background:#fff;
	margin-bottom:50px;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_img_link{
	display:block;
	width:438px;
	height:294px;
	float:left;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_tit_world_body{
	float:left;
	width:715px;
	height:203px;
	margin-top:34px;
	margin-left:42px;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body{
	float:left;
	width:760px;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_tit_link{
	font-size:24px;
	color:#000000;
	display:block;
	max-width:715px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

.niaoduo_shop_item_body_type2 .niaoduo_shop_item_world_body{
	margin-top:32px;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_price_body{
	text-align:right;
	padding-right:38px;
	margin-top:48px;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_price_txt_body{
	font-size:38px;
	color:#666666;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_price_red_impor{
	color:#de3838;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_price_txt{
	font-size:25px;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body{
	height: 52px;
	background-image: url(../images/niaoduo_see_share_bar2.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body .niaoduo_shop_item_share_box {
	line-height:52px;
	font-size:18px;
	height:52px;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body .niaoduo_shop_item_see_box {
	line-height:52px;
	font-size:18px;
	height:52px;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body .niaoduo_shop_item_see_share_txt {
    font-size: 18px;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body .niaoduo_shop_item_share_ico {
	background-image: url(../images/niaoduo_share_ico2.png);
	height:19px;
	width:25px;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body .niaoduo_shop_item_see_ico {
	background-image: url(../images/niaoduo_see_ico2.png);
	height:19px;
	width:25px;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body .niaoduo_shop_item_share_nr{
	bottom:52px;
}

.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body.style_2 .niaoduo_shop_item_share_box {
	width: 33.33%;
	background-image: url(../images/niaoduo_see_share_bar2.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body.style_2 .niaoduo_shop_item_see_box {
    width:33.33%;
	background-image: url(../images/niaoduo_see_share_bar2.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body.style_2 .niaoduo_shop_item_love_box {
    width:32%;
	    float: left;
    text-align: center;
	line-height: 52px;
    font-size: 18px;
    height: 52px;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body.style_2 {
    background-image: none;
}
.niaoduo_shop_item_body_type2 .niaoduo_shop_item_share_see_body .niaoduo_shop_item_love_ico {
	background-image: url(../images/niaoduo_love_ico2.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	height: 20px;
    width: 21px;
	vertical-align: middle;
	margin-right: 6px;
}