@font-face {
    font-family: "PINGFANG LIGHT";
    src: url("PINGFANG LIGHT.eot"); /* IE9 */
    src: url("PINGFANG LIGHT.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("PINGFANG LIGHT.woff") format("woff"), /* chrome、firefox */
    url("PINGFANG LIGHT.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("PINGFANG LIGHT.svg#PINGFANG LIGHT") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


