body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
tr, th, td { /* table elements 表格元素 */
    margin: 0px;
    padding: 0px; border:0px;
}


/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; color: #DC1762;}

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
	border-bottom: 1px dotted;
	cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
	border-collapse:;
	border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

#pg-home .rdbder, #pg-life .rdbder, #pg-famliy .rdbder, #pg-car .rdbder, #pg-style .rdbder, #pg-weekly .rdbder{border-color:#ef2a74;}
/*轮播广告样式开始*/
.focus_pics{width:1000px; margin:0 auto;}/*20150114修改*/
.focus_pics .scrollable{overflow: hidden;position: relative;}
.focus_pics .switchable-triggerBox {
    bottom: 30px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    z-index: 200;
    width: 100%;
    text-align: center;
}
.focus_pics .scroller{height: 377px;width: 1000px;}
.focus_pics .switchable-triggerBox li {
    background-color: #858585;
    border-radius: 9px 9px 9px 9px;
    color: #666666;
    font-size: 11px;
    height: 12px;
    line-height: 12px;
    margin-left: 7px;
    text-align: center;
    width: 12px;
    text-indent: -9999px;
    opacity: 0.5;
    display: inline-block;
}

.focus_pics .switchable-triggerBox li.active{background-color: #e00655;color: #FFFFFF;cursor:pointer;opacity:1;}
/*轮播广告样式结束*/
.default_main{margin-top: 20px;}
#main .page-aside{width: 200px;}
#main .page-article{margin-left: 220px;}
.gallery-sortbar .sortbar-filter-tags{height: auto;}
a.btn-import:hover, a.btn-major:hover, a.btn-caution:hover{color: #fff !important;text-decoration: none;}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }
/*通用开始*/
.innerbox{width: 1000px;margin: 0 auto;}
.fl{float: left}
.fr{float:right;}
.clr{clear: both;height: 0;font-size: 0;overflow: hidden;}
/*通用结束*/
/*头部通用开始*/
.topbar{height:30px;line-height: 30px;background: #f2f2f2;border-bottom: 1px solid #ddd;}
.topbar a{color:#666;}
.connect_bar .tel{margin-right:10px;display:inline-block;*display:inline;*zoom:1;padding-left:30px;background: url('tel.jpg') no-repeat 5px 5px;font-size:16px;color:#dc1762;font-weight: 700;font-family: Arial;}
.connect_bar .im{display:inline-block;*display:inline;*zoom:1;padding-left:30px;background: url('im.jpg') no-repeat 5px 2px;}
.connect_bar .im a{color:#666;}
.top_info{width: 720px;text-align: right;}
.login,.member,.aboutus,.paymethod{color:#666;display:inline-block;*display:inline;*zoom:1;}
.line{padding:0 5px 0 8px;color:#d7d7d7;}
.logo{height: 121px;width:284px;}
.logo_area{position: relative;z-index: 99;}
.searchbar{margin-left:00px;padding-top:34px;}
.searchbar .hots{padding-top:6px;}
.searchbar .hots a{color:#000; padding-right:6px;}
.input_search{width:296px;height: 30px;background:url() no-repeat -10px center;line-height:margin-left:8px; color:#999;border-top:2px solid #d60050;border-left:2px solid #d60050;border-right:0;border-bottom:2px solid #d60050; line-height:30px;}
.btn_search{border:none;text-indent:-9999px;overflow: hidden;background: url('btn_search.jpg') no-repeat;width: 98px;height: 34px;}
.minicart{position:relative;color:#333;margin-top:34px;padding-left:50px;width:110px;height: 32px;line-height:32px;border:1px solid #ddd;background:url('minicart.jpg') no-repeat 10px 5px #f1f1f1;z-index: 9999}
.minicart b{padding:0 5px;color:#dc1762;}
.minicart .banner{ width:168px; height:26px;margin-top:3px;margin-left:-50px; float:left}
#cartpop{display: block;position: absolute;right: -1px;top:36px;border:1px solid #ddd;width: 266px;background: #fff;}
.cart-mini-container.cart-empty{border: none;background: #FFF;padding: 0;font-size: 12px;}
.cart-mini-container .no-information{color: #333;height: 16px;line-height:16px;padding: 25px 14px 34px;text-align: center;}
.cart-mini-container .minicart-list .goods-item{margin:10px 5px 0 10px;padding-bottom:10px;border-bottom: 1px dotted #ddd;overflow: hidden;width: 246px;height: 60px;position: relative;}
.cart-mini-container .minicart-list .goods-item .goods-pic{float: left;width: 60px;height: 60px;}
.cart-mini-container .minicart-list .goods-item .goods-pic img{width: 60px;height: 60px;}
.cart-mini-container .minicart-list .goods-item .goods-info{line-height: 18px;margin-left: 10px;float: right;width: 170px;height: 60px;}
.cart-mini-container .minicart-list .goods-item .goods-name{height: 28px;margin-bottom: 5px;overflow: hidden;}
.cart-mini-container .minicart-list .goods-item .goods-name a{color: #333;}
.cart-mini-container .minicart-list .goods-item .p-price{font-size:14px;color: #ee2670;font-family: Microsoft YaHei;display: inline-block;}
.cart-mini-container .minicart-list .goods-item .p-quantity{font-size: 14px;margin-left:5px;color: #333;width: auto;margin-right: 0;}
.cart-mini-container .minicart-list .goods-item .action-delete{color: #333;position: absolute;right: 0;bottom: 10px;width: 24px;height: 18px;}
.cart-mini-container .minicart-info{background: #eee;padding: 10px;}
.cart-mini-container .minicart-info p{text-align: right;}
.cart-mini-container .minicart-info .price{font-size:14px;color: #ee2670;font-family: Microsoft YaHei;}
.cart-mini-container .minicart-info .btn-tocart{display: inline-block;_zoom:1;*display:inline;color: #fff;padding:5px 10px;background: #a1013d;line-height: 18px;}
.cart-mini-container .minicart-info .btn-tocart:hover{color: #fff !important;text-decoration: none;}
.menu_bar{height: 36px;background: url('menu_bg.jpg') repeat-x; }/*20150414修改*/
.category .main_title{height: 36px;line-height:36px;width: 200px;text-align:center;background: url('cateh3bg.jpg') no-repeat;color:#fff;}
.category{float: left;position: relative;z-index: 9999;height: 36px;}
.category .cat-ex-vertical li{position:relative;height:35px;line-height: 35px;width: 200px;border-bottom: 1px solid #dc407a;background:url('li_arr.jpg') 180px 15px no-repeat #d10350;*margin-top:-5px;}
.category .cat-ex-vertical li.first{*margin-top: 0;}
.category .cat-ex-vertical li.mouseenter-cat .cat-root-box{background:#a1013d;}
.category .cat-ex-vertical li .cat-root-box{color:#fff;padding-left:20px;display: block;height: 35px;font-weight: normal;font-size: 12px;}
.category .cat-ex-vertical li .cat-root-box a{color: #fff;}
.category .cat-ex-vertical li .cat-root-box a{color: #fff !important;text-decoration: none;}
.category .cat-ex-vertical li .cat-root-box a b{display: none;}
.category .cat-ex-vertical li.mouseenter-cat .cat-root-box a b{position:absolute;display: block;right:0;top:15px;background: url('cate_arr.jpg') no-repeat;width: 5px;height: 10px;}
.category .cat-ex-vertical li.mouseenter-cat .cat-children-box{border: none;background: #F2DFE6;}
.category .cat-ex-vertical .cat-children{width: 334px;padding: 10px;overflow: hidden;background:#fff;}
.category .cat-ex-vertical .cat-children dl dt{width: 60px;overflow: hidden;color: #D10350;font-weight: normal;line-height: 35px;height: 35px;}
.category .cat-ex-vertical .cat-children dl dt a{color: #D10350;font-weight: normal;}
.category .cat-ex-vertical .cat-children dl dd{width: 270px;overflow: hidden;line-height: 35px;}
.category .cat-ex-vertical .cat-children dl dd a{padding-left: 10px;color: #333;}
.category .cat-ex-vertical .cat-link{width: 200px;padding: 12px;overflow: hidden;}
.category .cat-ex-vertical .cat-link .cat-link-brand,.category .cat-ex-vertical .cat-link .cat-link-brand dd{padding: 0;}
.category .cat-ex-vertical .cat-link .cat-link-brand-item{background:#fff;margin-bottom:10px;float: left;width: 93px;height: 55px;border:1px solid #ddd;margin-right:5px;*display:line;margin-left: 0;}
.category .cat-ex-vertical .cat-link .cat-link-brand-item img{width: 93px;height: 55px;}
#up_category .allsort_out{display: none;position: absolute;top: 36px;left: 0;height: 350px;width: 200px;}

.menu li{float: left;}
.menu li a{float: left;padding:0 22px;line-height:36px;font-size:14px;display: block;height: 36px;color: #fff;}
.menu{float: left;}
.menu li a:hover{background: #d10451;color: #fff !important;text-decoration:none;}
.menu li.active a{background: #d10451;}
/*头部通用结束*/

/*尾部通用开始*/
.footer{margin-top: 20px;}
.footer_help{height: 212px;background: #f2f2f2;border-bottom:2px solid #e71e69;}
.footer_link{color:#333;padding:20px 0;width: 1000px;margin:0 auto;text-align: center;}
.footer_link a{color: #333;}
.footer_help .bt_arts{width: 200px;float: left;overflow: hidden;}
.footer_help .innerbox{padding: 30px;overflow: hidden;}
.bt_arts .hd{margin-bottom: 12px;padding-left: 30px;}
.bt_arts .hd h2{font-size:15px;color: #444;width: 150px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.bt_arts .bd .news-item{margin-bottom: 8px;line-height: 16px;height: 16px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.bt_arts .bd .news-item a{color:#464646; }
.bt_arts .index-news{width: 180px;padding-left: 20px;}
.btart1 .hd{background: url('i_52.jpg') no-repeat;}
.btart2 .hd{background: url('i_54.jpg') no-repeat;}
.btart3 .hd{background: url('i_57.jpg') no-repeat;}
.btart4 .hd{background: url('i_60.jpg') no-repeat;}
.btart5 .hd{background: url('i_62.jpg') no-repeat;}
.bt_arts .bd{padding-left: 30px;}

/*尾部通用结束*/

/*首页主体开始*/
.focus_pics{position: relative;height: 377px;}
.arr_left{cursor:pointer;position:absolute;top:150px;left: 0;background: url('arrow1.png') no-repeat;width: 60px;height: 78px;z-index: 9998;}
.arr_right{cursor:pointer;position:absolute;top:150px;right: 0;background: url('arrow2.png') no-repeat;width: 60px;height: 78px;z-index: 9998;}
.piclist{margin-top: 20px;}
.piclist h3{font-size:18px;font-family: Microsoft YaHei;margin: 0 0 16px 0;font-weight: 400;}
.prds_list{width: 1100px;overflow: hidden;}
.prds_list li{float: left;width:238px;border: 1px solid #ddd;height: 328px;margin-right: 13px;background: #fcfbfc;margin-bottom: 20px;}
.prds_list li h3{padding:10px;color:#666;font-size:14px;margin: 0;width: 218px;line-height: 22px;height: 22px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.prds_list li h3 a{color: #666;}
.prds_list li .pricebox .price{margin-right:5px;color:#e91f6b;font-size:18px;font-weight: 700;}
.prds_list li .pricebox{position:relative;padding:0 10px;font-family:Microsoft YaHei; }
.prds_list li .mktprice{text-decoration: line-through;color: #999;}
.prds_list li .goodspic{height: 238px;overflow: hidden;}
.prds_list li .goodspic img{width: 238px;height: 238px;}
.prds_list li .gocart{position: absolute;right: 10px;top:0px;background: url('gocart.jpg') no-repeat;width: 32px;height: 28px;}


.floor h3{font-size:26px;font-family:"微软雅黑";margin: 0 0 16px 0;font-weight: 100; color:#EC1D68;}
.floor .more{ line-height:30px;}
.floor .more a{color:#333; }
.floor{overflow: hidden;margin-top: 10px;}
.floor .picslist li{border:1px solid #fff;width: 650px;overflow: hidden;margin-bottom: 17px;}
.floor_side .sidepic{width: 319px;height: 130px;overflow: hidden;margin-bottom: 16px;}
.hot_pds h4{height: 29px;padding-left:25px;color:#454545;line-height: 29px;background: url('h4_bg.jpg')  12px 8px no-repeat #f2f2f2;border-bottom: 1px solid #ddd;}
.hot_pds{border:1px solid #ddd;}
.hot_pds_list{margin:10px 10px 0 10px;padding-bottom:10px;overflow: hidden;border-bottom: 1px dotted #afafaf;width: 299px;height: 60px;}
.hot_pds_list .goodspic{width: 60px;height: 60px;}
.hot_pds_list .goodspic img{width: 60px;height: 60px;}
.hot_pds_list .goods_info{width: 229px;margin-left:10px;_display:inline;}
.hot_pds_list .goodsname{height: 36px;line-height: 18px;color: #666;overflow: hidden;}
.hot_pds_list .goodsname a{color: #666;}
.hot_pds_list .pricebox{margin-top:5px;}
.hot_pds_list .pricebox .price{font-weight:700;color: #e91f6b;margin-right: 10px;}
.hot_pds_list .pricebox .mktprice{color: #999;text-decoration: line-through;}
.hot_pds ul li.last{border:none;}

.floor .picslist{width: 652px;overflow: hidden;}
.floor .floor_side{width: 321px;overflow: hidden;}
/*首页主体结束*/

/*生活频道开始*/
.adv_kd h3{font-size:18px;font-family: Microsoft YaHei;margin: 0 0 16px 0;font-weight: 400;}
.adv_kd{margin-top: 20px;margin-bottom: 20px;}
.adv_list{overflow: hidden;width: 1100px;}
.adv_list .advlist{margin:0 19px 0 0;width: 484px;overflow: hidden;height: 273px;}
.adv_list .leftpic{border:3px solid #ee7e9f;}
.adv_list .rightpic{border:3px solid #b1d5c6;}
.life_banner{margin-bottom: 20px;*margin-top: 20px;}

/*生活频道结束*/

/*旅游频道开始*/
.tour_aim h3{font-size:18px;font-family: Microsoft YaHei;margin: 0 0 16px 0;font-weight: 400;}
.tour_aim{margin-top: 20px;margin-bottom: 20px;}
.tour_aim_box{position: relative;height: 145px;}
.aim_left{position: absolute;width: 15px;height: 21px;background: url("aim_left.jpg") no-repeat;top:60px;left:5px;cursor: pointer;}
.aim_right{position: absolute;width: 15px;height: 21px;background: url("aim_right.jpg") no-repeat;top:60px;right:5px;cursor: pointer;}
.tour_aim_list li{float: left;width: 293px;margin-right:25px;}
.aim_box{position: relative;left:40px;top:10px;width:929px;overflow: hidden;height: 114px;}
.aim_box .tour_aim_list{width:200%;}

.sidefloor{width: 650px;}
.sidefloor h3{font-size:18px;font-family: Microsoft YaHei;margin: 0 0 16px 0;font-weight: 400;}
.sidefloor .picslist li{margin-bottom: 20px;}
.tour_dz{margin-top:16px;}
.tourpic{margin-bottom: 12px;}
.tourpic{margin-bottom: 12px;}
.tour_bottom{height: 158px;background: url('tour_bottom.jpg') repeat-x;margin-bottom: 50px;}
.tour_bottom_title{width:315px;height:61px;margin:0 auto;background: url('tour_bottom_title.jpg') no-repeat; }
.tour_bottom_list li{height:62px;float: left;padding-top:10px;width: 190px;padding-left:60px;background: url('tour_bottom_line.jpg') no-repeat top right;}
.tour_bottom_list li.last{background: none;}
.tour_bottom_list li a{color:#fff;}
.tour_bottom_list li h4{font-size:16px;}

#pg-tour .floor_side{width: 321px;overflow: hidden;}
#pg-tour .morelink{line-height: 25px;margin-bottom: 16px;text-align: right;}
#pg-tour .morelink a{color: #333;}
/*旅游频道结束*/

/*家居频道开始*/
.home_pics1{width: 360px;}
.home_pics2_3{width: 625px;}
.home_pics4{margin-top: 14px;}
.home_pics2{overflow: hidden;height: 298px;}
.home_pic5,.home_pic6{margin-top:14px;}
.home_pic7{margin-top: 14px;}
#pg-famliy{margin-top: 20px;}


/*家居频道结束*/
/*汽车频道开始*/
.car_main{padding-top:505px;background: url('car_focus.jpg') 50% 0 no-repeat #52264a;}
.car_main .carlist{}
.carpic{width: 736px;height: 302px;}
.carpic img{width: 736px;height: 302px;}
.carinfo{width: 210px;padding:20px 25px;background: #fff;height: 262px;}
.carlist{overflow: hidden;}
.carlist li.curr{padding: 0;border:2px solid #de0607;}
.carlist li{padding:2px;overflow:hidden;height: 302px;margin-bottom:20px;}
.carinfo h3{font-size: 24px;color:#666;font-family: Microsoft YaHei;font-weight: 400;margin-bottom: 10px;width: 210px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.carinfo h3 a{color: #666;}
.carinfo .price,.carinfo .mktprice{font-size:14px;height: 28px;line-height: 28px;color: #666;}
.carinfo .price span{font-size:24px;color: #dc0606;}
.carinfo .mktprice{margin-bottom: 15px;}
.car_desc{border-top:1px dotted #999;padding-top:15px;font-size:14px;color: #666;line-height: 20px;height: 60px;margin-bottom: 15px;overflow: hidden;}
.carinfo .gocart{width: 212px;height: 46px;background: url('car_gocart.jpg') no-repeat;display: block;}
/*汽车频道结束*/

/*商品列表页开始*/
.gallery_main{margin-top:20px;}
.gallery_main .leftbar{width: 200px;}
.gallery_main .rightbar{width: 780px;}
.left_box h3{background: url("list_left.jpg") no-repeat;height: 28px;color: #fff;padding:8px 0 0 35px;}
.tj_pds_list .goodsname{line-height: 24px;height: 24px;overflow:hidden;color: #333;text-overflow:ellipsis;white-space: nowrap;width: 160px;}
.tj_pds_list .goodsname a{color: #333;}
.tj_pds_list .price1{font-size:14px;color:#df487e;font-family: Microsoft YaHei;}
.tj_pds_list li{border-bottom:1px dotted #999;}
.tj_pds{border:1px solid #ddd;margin-bottom: 10px;}
.tj_pds_list li{padding:19px 19px 15px 19px;}
.tj_pds_list li.last{border-bottom: none;}
.tj_pds_list .goodspic{width: 160px;height: 160px;overflow: hidden;}
.tj_pds_list .goodspic img{width: 160px;height: 160px;}

.sale_rank_list li{padding:14px;overflow: hidden;border-bottom: 1px dotted #999;}
.sale_rank_list li.last{border-bottom: none;}
.sale_rank_list li .goodspic{float: left;margin-right: 5px;}
.sale_rank_list li .goodspic img{width:73px;height: 73px;}
.sale_rank_list li .goodsname{line-height: 18px;height: 36px;margin-bottom: 8px;overflow: hidden;}
.sale_rank_list li .goodsname a{color: #333;}
.sale_rank_list li .price1{font-size:14px;color:#df487e;font-family: Microsoft YaHei;}
.sale_rank{border: 1px solid #ddd;margin-bottom: 10px;}
.g_topbanner{margin-bottom: 20px;}

#pdlist .action-addtocart span{padding: 0;background: none;border:none;}
#pdlist .action-addtocart span span{padding: 0;background: none;text-indent: -9999px;border:none;}
#pdlist .action-addtocart {width: 90px;height: 25px;background: url('list_14.jpg') no-repeat;}
#pdlist .gallery-grid .goods-item .p-quantity{margin-right: 7px;*display: inline;*zoom:1;*margin: 0;}
#pdlist .gallery-list .goods-item .p-quantity{margin-right: 4px;*display: inline;*zoom:1;*margin: 0;}
#pdlist .filter-container .filter-title em{background: url('list_10.jpg') no-repeat 0 50%; width: 15px;height: 34px;float: left;margin-right: 10px;}

#pdlist .goods-item .goods-name a{color: #333;}
#pdlist .gallery-grid .goods-comment{display:block;height: 16px;line-height: 16px;margin-left: 0; }
#pdlist .gallery-grid .goods-item .goods-price ins{display: inline-block;}
#pdlist .gallery-grid .goods-item .goods-price del{display: inline-block;}
#pdlist .goods-item .promotion-tags{display: none;}
#pdlist .gallery-grid .goods-item .goods-info{margin-bottom: 10px;}
#pdlist .gallery-grid .goods-item{border-bottom: none;overflow: hidden;}
#pdlist .gallery-grid .goods-others{display: none;}
#pdlist .pageview a.flip:hover, #pdlist .pageview .active{background-color: #fe1166;color: #FFF;border-color:#fe1166;}
/*商品列表页结束*/

/*商品详情页开始*/
#pddetail .pd_pos{height: 45px;line-height: 45px;color: #454545;}
#pddetail .pd_pos a{color: #454545;}
#pddetail .product-titles h2{font-size: 20px;color: #454545;font-family: Microsoft YaHei;}
#pddetail .product-titles p{color: #de286d;font-size: 14px;font-weight: bold;font-family: Microsoft YaHei;}
#pddetail .product-buy{background: none;border:none;padding:0 0 20px 0;margin:0 0 12px 0;border-bottom: 1px dotted #ddd;}
#pddetail .product-buy .item-label{width: 60px;margin-right: 0;text-align: left;}
#pddetail .product-buy .item-content{margin-left: 60px;}
#pddetail .product-buy .product-buy-quantity{_height: 26px;}
#pddetail .product-album-preview{border: none;}
#pddetail .product-album{border: 1px solid #ddd;padding: 9px;}
#pddetail .product-side{width: 470px !important;}
#pddetail .product-main{margin-left: 490px !important;}
#pddetail .product-album-thumb .thumbnail-list .active .arrow-top .below{border-bottom-color: #D80808;}
#pddetail .product-album-thumb .thumbnail-list .active .thumbnail{border: 2px solid #D80808;}
#pddetail .product-titles{border-bottom: 1px dotted #ddd;margin-bottom: 15px;padding-bottom: 15px;}
#pddetail .product-concerns{margin-bottom: 18px;padding-bottom: 10px;}
#pddetail .product-promotion{margin-bottom: 10px;padding-bottom: 20px;border-bottom: 1px dotted #ddd;}
#pddetail .product-params{margin-bottom: 15px;padding-bottom: 15px;border-bottom: 1px dotted #ddd;line-height: 36px;}
#pddetail .pddt_share .share_title{float: left;width: 40px;overflow: hidden;}
#pddetail .product-information .detail{height:36px;line-height: 36px;}
#pddetail .action-addtocart{background: url('pd_cart.jpg') no-repeat;width: 153px;height: 45px;}
#pddetail .action-buynow{background: url('pd_buy.jpg') no-repeat;width: 115px;height: 45px;}
#pddetail .action-addtocart span,#product_dt .action-addtocart span span,#pddetail .action-buynow span,#pddetail .action-buynow span span{background: none;_filter:none !important;border: none;text-indent: -9999px;}
#pddetail .btn-addfav{width: 64px;height: 28px;border: 1px solid #efefef;background:#f4f4f4;line-height: 28px;text-align: center;}
#pddetail .btn-addfav:hover{text-decoration: none;}
#pddetail .btn-addfav .icon{color: #3397c4;font-size: 20px;vertical-align:-3px;}
#pddetail .btn-simple{background:#DC1762;color: #fff;}
#pddetail .btn-simple:hover{color: #fff !important;}
#pddetail .btn-simple span ,#pddetail .btn-simple span span{background: none;_filter:none !important;border: none;}
.scores-list .score,.score-total .total-count,.score-total .score{color: #DC1762;}
.p-quantity a:hover{text-decoration: none;}
/*商品详情页结束*/

/*关于我们开始*/
.navbar{height: 50px;line-height: 50px;color: #454545;}
.navbar a{color: #454545;}
.leftbar{width: 200px;float: left;}
.rightbar{width: 780px;float: right;}
.article_box{margin-bottom: 10px;}
.article_box .hd h2{height: 37px;background: url('aboutus_03.jpg') no-repeat;padding-left:35px;line-height: 37px;font-size:16px;color:#666;font-weight: 400;}
.article_box ul li{height: 35px;border-bottom: 1px solid #ddd;line-height: 35px;}
.article_box ul{border-left: 1px solid #ddd;border-right:1px solid #ddd;}
.article_box ul li a{display: block;padding-left:35px;color:#666;background: url('aboutus_07.jpg') no-repeat 175px 13px;height: 35px;}
.article_box ul li a:hover{color: #fff;}
.rightbar .mod{border-top: 2px solid #ec2871;border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;}
#pg-artdt .mod-title{background:none;}
#pg-artdt .mod-title h2{height: 80px;line-height: 80px;text-align: center;color:#666;font-size:24px;font-family: Microsoft YaHei;font-weight: 400;border-bottom: 1px dotted #ddd;}
.article-main .mod-content{color: #666;}
.article_content .time{text-align: right;color: #999;padding:0 10px;height: 24px;line-height: 24px;}
.article_content .article_box{padding:15px 20px;font-size:14px;line-height: 24px;color:#666;}
.article_content .article_box p{margin-bottom: 10px;}

/*关于我们结束*/

/*bottom float*/
.a_mbrand_notice {
position: fixed;
height: 70px;
width: 100%;
bottom: 0;
background-color: #000;
background: rgba(0,0,0,.8);
filter: Alpha(opacity=80);
z-index: 340;
text-decoration:none;
}
.a_mbrand_notice_con {
display: block;
width: 1000px;
margin: 0 auto;
position: relative;
color: #fff;
line-height: 70px;
text-align: center;

}
.a_mn_icon {
display: inline-block;
width: 56px;
height: 46px;
background: url(../../../public/images/wendu/heart.png) no-repeat;
padding-right: 10px;
position: relative;
top: 12px;
}
 
.a_mn_txt {
font-size: 28px;
font-family:"微软雅黑";

}

.a_mn_link {
font-size: 20px;
}

.fixedBox {
	width:72px; background: rgb(255, 255, 255); border: 1px solid rgb(214, 214, 214); position:fixed;right:12px;bottom:20%;_position:absolute; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,-10)||0)-(parseInt(this.currentStyle.marginBottom,10)||200)));z-index: 9999; box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	
}
.fixedBox ul.fixedBoxList {
	padding: 4px 0px 5px;
}
.fixedBox ul.fixedBoxList li.fixeBoxLi.fixeBoxLi {
	background: rgb(241, 241, 241); margin: 1px auto 0px; padding: 10px 1px 1px; width: 60px; height: 55px; text-align: center; position: relative;
}
.fixedBox ul.fixedBoxList li.hover.Service.fixeBoxLi {
	background: rgb(255, 255, 255); padding: 9px 0px 0px; border: 1px solid rgb(214, 214, 214); box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
.fixedBox ul.fixedBoxList li.hover.BackToTop.fixeBoxLi {
	background: rgb(241, 241, 241); margin: 1px auto 0px; padding: 10px 1px 1px; border: 0px currentColor; width: 60px; height: 55px; text-align: center; position: relative;
}
.fixeBoxLi .fixeBoxSpan {
	margin: 0px auto; width: 26px; height: 24px; display: block; cursor: pointer;
}
.BackToTop.fixeBoxLi .fixeBoxSpan {
	background: url("../images/Service3-1.png") no-repeat -78px 0px;
}
.fixedBox ul.fixedBoxList li.fixeBoxLi strong {
	height: 22px; color: rgb(102, 102, 102); line-height: 22px; font-weight: normal; cursor: pointer;
}

.fixedBox ul.fixedBoxList li.hover .bjfff {
	background: rgb(255, 255, 255); top: 0px; width: 10px; height: 64px; right: -5px; position: absolute;
}

.fixedBox ul.fixedBoxList li.Service .ServiceBox {
	background: rgb(255, 255, 255); border: 1px solid rgb(214, 214, 214); left: -182px; top: -1px; width: 182px; display: none; position: absolute; z-index: 999; box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
.fixedBox ul.fixedBoxList li.hover.Service .ServiceBox {
	display: block;
}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl {
	margin: 0px auto; width: 162px; height: 85px; padding-top: 10px; border-bottom-color: rgb(214, 214, 214); border-bottom-width: 1px; border-bottom-style: solid;
}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dt {
	padding: 1px; border: 1px solid rgb(225, 226, 227); width: 71px; height: 71px; float: left;
}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd {
	width: 80px; text-align: left; float: right;
}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd strong {
	height: 20px; color: rgb(51, 51, 51); line-height: 20px; font-weight: bold;
}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd p.p1 {
	height: 18px; color: rgb(102, 102, 102); line-height: 18px; overflow: hidden;
}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd p.p2 {
	height: 24px; padding-top: 10px;
}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd p.p2 a {
	background: rgb(244, 244, 244); border: 1px solid rgb(216, 216, 216); width: 70px; height: 22px; text-align: center; color: rgb(51, 51, 51); line-height: 22px; display: block; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType='0'); cursor: pointer;
}


/* 页码 */

.mini-pageview .page_ul.flip li {
	float: left;
	margin-right: 10px;
}
.mini-pageview .page_ul.flip li a {
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
	color: #666;
}
.mini-pageview .page_ul.flip li a:hover {
	background-color: #fe1166;
	border: 1px solid #fe1166;
	color: #FFF;
}
.mini-pageview .page_ul.flip li .all-page-num {
	padding: 5px;
	display: block;
	color: #666;
}




/* widgetsproinstance-get_css-wbby-aW5kZXguaHRtbA== */
.cfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.cfix {
	display: inline-block;
}
* html .cfix {
	height: 1%;
}
.cfix {
	display: block;
}
#shop_cart_mini_213 dt ul {
	background: #f9f9f9;
}
#shop_cart_mini_213 dt li {
	float: left;
	line-height: 20px;
}
#shop_cart_mini_213 dd {
	display: none;
}
#shop_cart_mini_213 .enter dd {
	display: block;
}
#shop_cart_mini_213 .nodisplay, #shop_cart_mini_213 .cart-empty .CartInfoItems {
	display: none;
}
#shop_cart_mini_213 .cart-empty .nodisplay {
	display: block;
}
#shop_cart_mini_213 dl dt a {
	color: #333;
}
#shop_cart_mini_213 dl dt a:hover {
	color: #333 !important;
	text-decoration: none;
}
.cat-ex-vertical {
/*
        line-height: 20px;
        color:#333;
        width: 200px;
        position: relative;
        */
}
.cat-ex-vertical li a, .cat-ex-vertical li span {
	display: block;
}
.cat-ex-vertical li span {
}
.cat-ex-vertical li {
	font-family: "Microsoft Yahei";
	font-size: 14px;/*
        border-bottom:rgb(231,199,152) 1px solid;
        border-top:#f9f9f9 1px solid;
        */
}
.cat-ex-vertical li.first {
	border-top: none;
}
.cat-ex-vertical li.last {
	border-bottom: none;
}
.cat-ex-vertical li .cat-root-box {
}
.cat-children-box:after {
	/* content: "."; */
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.cat-children-box {
	display: inline-block;
}
* html .cat-children-box {
	display: block;
}
.cat-ex-vertical .cat-children-box {
	position: absolute;
	display: none;
	left: 200px;
	top: 0;
	font-family: Arail;
	font-size: 12px;
	width: 360px;
	overflow: hidden;
	line-height: 15px;
	z-index: 90;
	background: #fff;
}
.cat-ex-vertical .cat-children-box-flex {
	background: #999;
	opacity: .4;
	filter: alpha(opacity=40);
	z-index: 80;
	position: absolute;
	display: none;
}
.cat-ex-vertical li.mouseenter-cat {
	background: #fff;
}
.cat-ex-vertical li.mouseenter-cat .cat-root-box {
	border-color: RGB(217,58,47);
	position: relative;
	z-index: 100;
	border-right: none;
	background: #fff;
}
.cat-ex-vertical li.mouseenter-cat .cat-children-box {
	display: block;
}
.cat-ex-vertical .cat-children, .cat-ex-vertical .cat-link {
	float: left;
}
.cat-ex-vertical .cat-children dl, .cat-ex-vertical .cat-link dl {
	padding: 10px;
}
.cat-ex-vertical .cat-children {
	width: 65%;
}
.cat-ex-vertical .cat-link {
	width: 35%;
}
.cat-ex-vertical .cat-children dl {
	border-bottom: 1px #ccc dotted;
	clear: both;
	display: inline-block;
	width: 100%;
}
.cat-ex-vertical .cat-children dl.last {
	border-bottom: none;
}
.cat-ex-vertical .cat-children dt, .cat-children dt a, .cat-children dt span {
	float: left;
	font-weight: bold;
}
.cat-ex-vertical .cat-children dt {
	width: auto;
}
.cat-ex-vertical .cat-link dt {
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
}
.cat-ex-vertical .cat-link dd {
	padding: 10px;
}
.cat-ex-vertical .cat-link-sale-item {
	padding-left: 20px;
	line-height: 22px;
}
.cat-ex-vertical .cat-link-sale-item p {
	color: #666;
}
.cat-ex-vertical .cat-link-brand-item {
	float: left;
	margin-left: 10px;
	text-align: center;
	width: 75px;
}
.cat-ex-vertical .cat-link-brand-item img {
	width: 100%;
}
.cat-lv2-redundancy {
	display: inline-block;
	overflow: hidden;
}
.cat-lv2-redundancy a {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	font-family: Arail;
	padding: 3px 3px 3px 10px;
}
#ex_slide_196 {
 width: 100%  height:377px;
	overflow: hidden;
	position: relative;
}
#ex_slide_196 ul.switchable-content li {
	height: 377px;
	list-style: none;
	display: block;
	overflow: hidden;
	border: 0;
	margin: 0;
}
#ex_slide_196 .switchable-triggerBox {
	position: absolute;
	z-index: 200;
	left: 50%;
	margin: 0 auto;
	bottom: 30px;
}
#ex_slide_196 .switchable-triggerBox li {
	background-color: #858585;
	border-radius: 9px 9px 9px 9px;
	color: #666666;
	float: left;
	font-size: 11px;
	height: 12px;
	line-height: 12px;
	margin-left: 7px;
	text-align: center;
	width: 12px;
	text-indent: -9999px;
	opacity: 0.5;
}
#ex_slide_196 .scroller {
	width: 100%;
	height: 377px;
}
#ex_slide_196 .switchable-triggerBox li.active {
	background-color: #e00655;
	color: #FFFFFF;
	cursor: pointer;
	opacity: 1;
}

/* widgetsproinstance-get_css-wbby-aW5kZXguaHRtbA==的样式 */
.cfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.cfix {
	display: inline-block;
}
* html .cfix {
	height: 1%;
}
.cfix {
	display: block;
}
#shop_cart_mini_213 dt ul {
	background: #f9f9f9;
}
#shop_cart_mini_213 dt li {
	float: left;
	line-height: 20px;
}
#shop_cart_mini_213 dd {
	display: none;
}
#shop_cart_mini_213 .enter dd {
	display: block;
}
#shop_cart_mini_213 .nodisplay, #shop_cart_mini_213 .cart-empty .CartInfoItems {
	display: none;
}
#shop_cart_mini_213 .cart-empty .nodisplay {
	display: block;
}
#shop_cart_mini_213 dl dt a {
	color: #333;
}
#shop_cart_mini_213 dl dt a:hover {
	color: #333 !important;
	text-decoration: none;
}
.cat-ex-vertical li a, .cat-ex-vertical li span {
	display: block;
}
.cat-ex-vertical li span {
}
.cat-ex-vertical li {
	font-family: "Microsoft Yahei";
	font-size: 14px;
}
.cat-ex-vertical li.first {
	border-top: none;
}
.cat-ex-vertical li.last {
	border-bottom: none;
}
.cat-ex-vertical li .cat-root-box {
}
.cat-children-box:after {
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.cat-children-box {
	display: inline-block;
}
* html .cat-children-box {
	display: block;
}
.cat-ex-vertical .cat-children-box {
	position: absolute;
	display: none;
	left: 200px;
	top: 0;
	font-family: Arail;
	font-size: 12px;
	width: 702px;
	overflow: hidden;
	line-height: 15px;
	z-index: 90;
	background: #fff;
}
.cat-ex-vertical .cat-children-box-flex {
	background: #999;
	opacity: .4;
	filter: alpha(opacity=40);
	z-index: 80;
	position: absolute;
	display: none;
}
.cat-ex-vertical li.mouseenter-cat {
	background: #fff;
}
.cat-ex-vertical li.mouseenter-cat .cat-root-box {
	border-color: RGB(217,58,47);
	position: relative;
	z-index: 100;
	border-right: none;
	background: #fff;
}
.cat-ex-vertical li.mouseenter-cat .cat-children-box {
	display: block;
}
.cat-ex-vertical .cat-children, .cat-ex-vertical .cat-link {
	float: left;
}
.cat-ex-vertical .cat-children dl, .cat-ex-vertical .cat-link dl {
	padding: 10px;
}
.cat-ex-vertical .cat-children {
	width: 65%;
}
.cat-ex-vertical .cat-link {
	width: 35%;
}
.cat-ex-vertical .cat-children dl {
	border-bottom: 1px #ccc dotted;
	clear: both;
	display: inline-block;
	width: 100%;
}
.cat-ex-vertical .cat-children dl.last {
	border-bottom: none;
}
.cat-ex-vertical .cat-children dt, .cat-children dt a, .cat-children dt span {
	float: left;
	font-weight: bold;
}
.cat-ex-vertical .cat-children dt {
	width: auto;
}
.cat-ex-vertical .cat-link dt {
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
}
.cat-ex-vertical .cat-link dd {
	padding: 10px;
}
.cat-ex-vertical .cat-link-sale-item {
	padding-left: 20px;
	line-height: 22px;
}
.cat-ex-vertical .cat-link-sale-item p {
	color: #666;
}
.cat-ex-vertical .cat-link-brand-item {
	float: left;
	margin-left: 10px;
	text-align: center;
	width: 75px;
}
.cat-ex-vertical .cat-link-brand-item img {
	width: 100%;
}
.cat-lv2-redundancy {
	display: inline-block;
	overflow: hidden;
}
.cat-lv2-redundancy a {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	font-family: Arail;
	padding: 3px 3px 3px 10px;
}
#ex_slide_196 {
 width: 100%  height:377px;
	overflow: hidden;
	position: relative;
}
#ex_slide_196 ul.switchable-content li {
	height: 377px;
	list-style: none;
	display: block;
	overflow: hidden;
	border: 0;
	margin: 0;
}
#ex_slide_196 .switchable-triggerBox {
	position: absolute;
	z-index: 200;
	left: 50%;
	margin: 0 auto;
	bottom: 30px;
}
#ex_slide_196 .switchable-triggerBox li {
	background-color: #858585;
	border-radius: 9px 9px 9px 9px;
	color: #666666;
	float: left;
	font-size: 11px;
	height: 12px;
	line-height: 12px;
	margin-left: 7px;
	text-align: center;
	width: 12px;
	text-indent: -9999px;
	opacity: 0.5;
}
#ex_slide_196 .scroller {
	width: 100%;
	height: 377px;
}
#ex_slide_196 .switchable-triggerBox li.active {
	background-color: #e00655;
	color: #FFFFFF;
	cursor: pointer;
	opacity: 1;
}
