@charset "utf-8";
/* CSS Document */
.cj_gg_window_title{
	position:fixed;
	z-index:7;
	top:0;
	left:50%;
	margin-left:-187.5px;
	background-image:url(../images/pop_rewardGg_icon@3x.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	width:375px;
	height:231px;
}
.cj_gg_window_goods_body{
	position:fixed;
	z-index:6;
	top:178px;
	left:50%;
	margin-left:-140px;
	background:#ffd073;
	width:280px;
	padding:22px 10px 10px 10px;
	box-sizing:border-box;
}
.cj_gg_window_goods_box{
	width:80px;
	margin:0 auto;
	border-radius:50%;
	position:relative;
	z-index:1;
}
.cj_gg_window_goods_img_box{
	width:80px;
	height:80px;
	position:relative;
	z-index:1;
	overflow:hidden;
	border-radius:50%;
	background-image:url(../images/TreasureDetails_propsRgBg_icon@3x.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.cj_gg_window_goods_img_box img{
	width:80px;
	height:80px;
}
.cj_gg_window_goods_name{
	text-align:center;
	font-size:14px;
	color:#222;
	line-height:14px;
	padding-top:10px;
	font-weight:bold;
}
.cj_gg_window_get_body{
	position:fixed;
	z-index:6;
	/*top: 314px;*/
	top:50%;
	left:50%;
	width:280px;
	margin-left:-140px;
	margin-top:-116px;
	background:#eaa515;
	border-radius:5px;
}
.cj_gg_window_get_title{
	text-align:center;
	font-size:12px;
	color:#222;
	line-height:36px;
}
.cj_wgf_item{
	margin-bottom:10px;
}
.cj_wgf_input{
	background:#fff;
	border:0px;
	margin:0 15px;
	text-align:center;
	height:40px;
	border-radius:5px;
	width:250px;
	font-size:12px;
}
.cj_wgf_input.type_small{
	width:160px;
	margin:0 0 0 15px;
}
.cj_wgf_sendcode{
	margin-right:15px;
	width:75px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:#09bb07;
	color:#fff;
	border-radius:5px;
	font-size:12px;
}
.fj_wgf_get_btn{
	height:40px;
	width:250px;
	display:block;
	border-radius:5px;
	background:#eb3c15;
	margin:0 15px;
	font-size:14px;
	color:#fff;
	line-height:40px;
	text-align:center;
}
.fj_wgf_get_btn.type_share{
	background: #eaa515;
    box-sizing: border-box;
}
.fj_wgf_get_btn.type_2{
	margin:15px 5px 0 5px;
}
.cj_wgf_bt_btn_box{
	padding-top:6px;
}
.cj_wgf_bb_btn1{
	width:50%;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#222;
	background:#ffd073;
	border-radius:0 0 0 5px;
}
.cj_wgf_bb_btn2{
	width:50%;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#222;
	background:inherit;
	border-radius:0 0 5px 0;
}
.cj_game_window_close{
	width:28px;
	height:53px;
	background-image:url(../images/pop_close_icon@3x.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	position:fixed;
	z-index: 7;
    top: 107px;
    left: 50%;
    margin-left: 120px;
	cursor:pointer;
}
.cj_gg_window_body{
	display:none;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:6;
	-webkit-transform:scale(0, 0);
	transform:scale(0, 0);
	
}
.cj_gg_window_body.active{
	display:block;
	animation: tf_window 0.7s 1;
	-webkit-transform:scale(1, 1);
	transform: scale(1, 1);
}
@keyframes tf_window {
0% { transform:scale(0, 0); }
100% { transform:scale(1, 1); }
}