@charset "utf-8";
/* CSS Document */
.cj_login_body{
	padding:10px 12px;
}
.cj_login_input_box{
	height:45px;
	background:#fff;
	border-radius:5px;
	display: -webkit-flex; /* Safari */
    display: flex;
	position:relative;
	padding-left:45px;
	z-index:1;
	overflow:hidden;
	margin-bottom:10px;
}
.cj_login_phone_ico{
	position:absolute;
	left:0px;
	top:0px;
	width:45px;
	height:45px;
	background-image:url(../images/%E6%89%8B%E6%9C%BA@3x.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:17px;
}
.cj_login_input{
	border:0px;
	height:45px;
	line-height:45px;
	min-width:100px;
	-webkit-flex-grow:1;
	flex-grow:1;
	padding-right:10px;
}
.cj_login_sendcode{
	height:45px;
	width:100px;
	border:0px;
	text-align:center;
	line-height:45px;
	background:#09bb07;
	color:#fff;
}
.cj_login_btn_body{
	margin-top:20px;
}
.cj_other_login_body{
	height:28px;
	position:relative;
	z-index:1;
	margin:32px 0px 22px 0px;
}
.cj_other_login_line{
	border-bottom:1px solid #cccccc;
	position:absolute;
	z-index:1;
	top:14px;
	left:0px;
	right:0px;
}
.cj_other_login_text{
	font-size:14px;
	text-align:center;
	height:28px;
	line-height:28px;
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	right:0;
}
.cj_other_login_text_span{
	padding:0 30px;
	background:#f3f5f6;
	color:#cccccc;
}
.cj_other_login_item_body{
	text-align:center;
	padding-bottom:32px;
}
.cj_other_login_item_body img{
	width:70px;
	height:70px;
	margin:0 5px;
}