@charset "utf-8";
/* CSS Document */
.cj_wx_share_body{
	position:fixed;
	z-index:999;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.8);
	display:none;
	cursor:pointer;
}
.cj_wx_share_box{
	position:relative;
	z-index:999;
	width:100%;
	height:100%;
}
.cj_wx_share_text{
	position:absolute;
	z-index:1;
    top:10.3%;
	bottom:10.3%;
	left:5%;
	right:5%;
	background-image:url(../images/pop_share@3x.png);
	background-position:top center;
	background-repeat:no-repeat;
	background-size:contain;
}