@charset "utf-8";
/* CSS Document */
a{
	color:#666;
}
.body_grey{
	background:#f3f5f6;
}
button{
	cursor:pointer;
}

.cj_common_footer{
	background:#fff;
	height:49px;
	position:fixed;
	z-index:5;
	bottom:0px;
	left:0px;
	right:0px;
	border-top:1px solid #ddd;
}
.cj_common_footer_item_box{
	width:33.33333%;
	height:49px;
	position:relative;
	z-index:6;
	text-align:center;
}
.cj_common_footer_a{
	padding-top:28px;
	display:inline-block;
	width:50%;
	height:21px;
	line-height:21px;
	background-position:center 5px;
	background-repeat:no-repeat;
	background-size:24px;
	color:#999;
}
.cj_common_footer_a_b{
	padding-top:37px;
	display:inline-block;
	width:60px;
	height:21px;
	line-height:21px;
	background-image:url(../images/label_treasure_icon@3x.png);
	background-position:center 5px;
	background-repeat:no-repeat;
	background-size:42px;
	color:#eaa515;
	position:absolute;
	left:50%;
	margin-left:-30px;
	top:-9px;
	z-index:8;
}
.cj_common_footer_a.type_index{
	background-image:url(../images/label_homeGray01_icon@3x.png);
}
.cj_common_footer_a.type_user{
	background-image:url(../images/label_personalGray01_icon@3x.png);
}
.cj_common_footer_a.active{
	color:#eaa515;
}
.cj_common_footer_a.type_index.active{
	background-image:url(../images/label_homeYellow02_icon@3x.png);
}
.cj_common_footer_a.type_user.active{
	background-image:url(../images/label_personalYellow01_icon@3x.png);
}
.cj_coommon_footer_game_bg{
	background:#fff;
	width:64px;
	height:64px;
	border-radius:50%;
	border:1px solid #ddd;
	position:absolute;
	left:50%;
	margin-left:-32px;
	top:-15px;
	z-index:6;
}
.cj_coommon_footer_game_bg_z{
	background:#fff;
	width:70px;
	height:54px;
	position:absolute;
	left:50%;
	margin-left:-35px;
	top:0px;
	z-index:7;
}
.cj_min750{
	max-width:750px;
	margin:0 auto;
}
.cj_nowarp{
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.have_footer{
	padding-bottom:70px;
}
.cj_btn_link{
	position:fixed;
	z-index:5;
	height:45px;
	bottom:0;
	left:0;
	right:0;
	text-align:center;
	line-height:45px;
	display:block;
	color:#fff;
	font-size:14px;
}
.cj_btn_link.type_red{
	background:#eb3c15;
}
.cj_btn_link.type_grey{
	background:#ccc;
}
.cj_btn_link.type_green{
	background:#09bb07;
}
.cj_black_bg{
	background:rgba(0,0,0,0.8);
	position:fixed;
	z-index:5;
	top:0;
	bottom:0;
	left:0;
	right:0;
}