@charset "utf-8";
/* CSS Document */
.background_pic_box{
	height:900px;
	position:relative;
}
.background_pic_box .banner_box{
	position:absolute;
	width:100%;
	height:100%;
	z-index:2;
}

.background_pic_box .banner_ul{
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
}
.background_pic_box .banner_box ul .goga_banner{
	position:absolute;
    filter:alpha(opacity=0);  
    -moz-opacity:0;  
    -khtml-opacity: 0;  
    opacity: 0;
	z-index:1;
}


.background_pic_box .maru_box{
	position:absolute;
	top:50px;
	right:45px;
	z-index:10;
}
.background_pic_box .maru_ul .maru{
	width: 32px;
	height: 32px;
	position: relative;
	margin-bottom: 9px;
	-moz-border-radius: 28px;      /* Gecko browsers */
	-webkit-border-radius: 28px;   /* Webkit browsers */
	border-radius: 28px;            /* W3C syntax */
	background-image: url(../images/maru.png);
	background-position: 0px -75px;
	cursor:pointer;
}
.background_pic_box .maru_ul .maru.active{
	background-position: 0px 5px;
}
.background_pic_box .maru_ul .maru.active:hover{
	background-position: 0px -111px;
}
.background_pic_box .maru_ul .maru:hover{
	background-position: 0px -35px;
}


.background_pic_box .ten_bg {
	background-image: url(../images/bg_ten.png);
	background-repeat: repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index:3;
}

.hack_ten_bg{
	width:100%;
	height:100%;
	position:absolute;
	left: 0px;
	top: 0px;
	z-index:7;	
}




