@charset "utf-8";
/* CSS Document */
.join_box{
	height:900px;
	position:relative;
}
.join_box .join_up_pic_box {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 420px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
.join_up_pic_box .ten_bg {
	background-image: url(../images/bg_ten.png);
	background-repeat: repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index:3;
}
.join_up_pic_box img{vertical-align:middle;}
.join_up_pic_box .scroll_li {
	margin-bottom: 9px;
}
.join_up_pic_box .join_up_pic_ul_box{
	position:relative;
	height: 100%;
	width: 100%;
}
.join_up_pic_box .up_scroll_ul{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}
.up_scroll_ul li ul{
	width:420px;
}
.join_box .online_join_box {
	background-color: #fab900;
	height: 421px;
	width: 771px;
	top: 0px;
	right: 0px;
	position: absolute;
	z-index:2;
}
.join_box .offline_join_box {
	background-color: #fab900;
	height: 426px;
	width: 771px;
	right: 0px;
	position: absolute;
	bottom: 0px;
	z-index:2;
}
.offonline_join_re {
	position: relative;
	height: 100%;
	width: 100%;
}
.offonline_join_re .offonline_left_black {
	background-image: url(../images/left_about.jpg);
	position: absolute;
	height: 26px;
	width: 26px;
	left: 0px;
	top: 0px;
}
.offonline_join_re .offonline_right_black {
	background-image: url(../images/right_join.jpg);
	position: absolute;
	height: 26px;
	width: 26px;
	right: 0px;
	bottom: 0px;
}
.offonline_join_re .offonline_txt_box {
	position: absolute;
	height: 315px;
	width: 680px;
	left: 50px;
	top: 40px;
}
.offonline_txt_box h4 {
	font-size: 24px;
	font-weight: bold;
	color: #141414;
	margin-bottom: 22px;
}
.offonline_txt_box p {
	font-size: 14px;
	color: #141414;
	line-height: 18px;
	font-family: "微软雅黑";
}
