@charset "utf-8";
/* CSS Document */
.mall_place_pay_big_box {
	background: #fff;
}
.all_classify .acb {
	display: none
}
.common_bgc {
	background: #f2f2f2;
	padding-bottom: 20px;
}
.footer {
	margin-top: 0;
}
.pay {
	width: 990px;
	margin: auto;
	padding-top:20px;
}
.order_list {
	
}
.order_list .ct, .order_list .cb {
	padding: 10px 0;
	line-height: 22px;
}
.order_list .ct {
	border-bottom: 0px solid #141414;
}
.order_list .ct strong {
	color: #F9B700;
	font-size: 16px;
}
.order_list .fr {
	margin-top: -16px;
}
.pay_main {
	border-top: 1px solid #141414;
	background: white;
	padding-bottom: 10px;
	position: relative;
}
.pay_main .ct {
	padding: 16px 0 20px 0;
	font-size: 18px;
	color: #141414
}
.pay_main .selection strong {
	background: url(../images/zhifub1.jpg) no-repeat;
	width: 174px;
	height: 60px;
	display: block;
	border: 2px solid #e3393c;
	margin-top: 10px
}
.pay_main .selection strong b {
	background: url(../images/selected.jpg) no-repeat right bottom;
	display: block;
	width: 100%;
	height: 100%;
}
.pay_main .cc {
	border: 1px solid #141414;
	padding: 20px 25px;
	position: relative;
}
.pay_main .cc .pay_num {
	position: absolute;
	right: 10px;
	top: 10px
}
.pay_main .cc .pay_num strong {
	color: #F9B700;
	font-size: 16px;
}
.pay_main .cc .type_btns {
	overflow: hidden;
}
.pay_main .cc .type_btns strong {
	width: 174px;
	height: 60px;
	display: block;
	margin-top: 10px;
	margin-right: 10px;
	border: 1px solid #ddd;
	float: left;
}
.pay_main .cc .type_btns .paytype_1 {
	background: url(../images/zhifub1.jpg) no-repeat;
}
.pay_main .cc .type_btns .paytype_2 {
	background: url(../images/zhifub2.jpg) no-repeat;
}
.pay_main .way {
	border-bottom: 1px solid #ddd;
	height: 34px;
	line-height: 34px;
	margin: 10px 0;
}
.pay_main .way span {
	border: 1px solid #ddd;
	padding: 0 24px;
	border-radius: 4px 4px 0 0;
	float: left;
	margin-top: -1px;
	margin-right: 10px;
	background: white;
}
.pay_main .way .active {
	border-bottom: 1px solid white
}
.pay_main .bank_list {
	overflow: hidden;
	width: 800px;
	margin: auto;
}
.pay_main .bank_list li {
	border: 1px solid #ddd;
	float: left;
	margin: 5px;
}
.pay_main .bank_list .last {
	background: #d7f1fe;
border;
1px solid #e8f7fe;
	line-height: 42px;
	text-align: center;
	width: 188px;
	color: #2ca8e8;
	font-size: 14px;
}
.pay_main .atonce {
	margin: 20px 0px;
	height:50px;
}
.pay_main.pay_succ .atonce {
	margin: 2px 0px;
	height:50px;
}
.pay_main.pay_succ .atonce .btn-import{
	color: #141414;
	line-height:20px;
	height:30px;
}
button{
	outline:none;
}
.pay_main .atonce a {
	position: relative;
    top: 0;
    left: 0;
    width: 188px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    float: right;
    margin-right: 0px;
}
.pay_main .atonce a b {

}

#show_change_box {
	width: 155px;
	cursor: pointer;
}
/* 支付 */
.popup-body img {
	border: 2px solid #F7F7F7;
	cursor: pointer;
	width: 125px;
	height: 40px;
}
.popup-body .action-change-payment {
	display: block;
}
.popup-body .payinput {
	display: block;
	margin-right: 6px;
	margin-top: 15px;
	float: left;
}
.popup-body .change-box {
	float: left;
	margin-right: 26px;
	margin-bottom: 15px;
	display: block;
}
.payment-info .topmathree {
	margin-top: 4em;
}
.popup-body .payment-name {
	font-size: 12px;
	font-weight: normal;
	display: block;
	text-align: center;
	height: 30px;
	width: 125px;
	line-height: 15px;
	margin-left: 25px;
	overflow: hidden;
}
.popup-body .payment-name {
+margin-left:32px;
}
.alert-container {
	position: absolute;
	z-index: 100001;
	background-color: white;
}
.alert-container:focus {
	outline: 0 none;
}
.alert-container .alert-body {
	border: 3px solid #A9A9A9;
	border-top: 0 none;
}
.alert-container .alert-header {
	background-color: #A9A9A9;
	height: 30px;
}
.alert-container .alert-header h2 {
	float: left;
	padding-left: 10px;
	line-height: 30px;
	font-size: 14px;
	font-weight: 400;
	color: white;
}
.alert-container .alert-header span {
	float: right;
}
.alert-container .alert-header .alert-btn-close {
	background: none;
	border: 0 none;
	height: 30px;
	margin-right: 5px;
	overflow-y: hidden;
	padding: 0;
	color: #ddd;
	font: 14px/30px iconfonts, arial;
}
.alert-container .alert-header .alert-btn-close:hover {
	color: white;
}
.alert-container .alert-content {
	color: #666;
}
.alert-container .action-confirm {
	margin-right: 15px;
}
.change-payment caption {
	text-align: left;
	padding: 10px;
}
.change-payment tbody {
	background-color: #f3f3f3;
}
.change-payment th {
	padding-left: 20px;
	text-align: left;
}
.change-payment td {
	padding-right: 20px;
}
.change-payment .selected {
	background-color: #FFF3E1;
	color: #333;
}
.change-payment tfoot td {
	padding-top: 16px;
	padding-bottom: 0;
}
.popup-content .change-payment {
	padding: 20px 25px;
}
.popup-content .change-payment input {
	margin-right: 5px;
}
.popup-content .change-payment th, .popup-content .change-payment td {
	padding-top: 8px;
	padding-bottom: 8px;
}
.popup-content .change-payment th {
	width: 16%;
	font-weight: 400;
	white-space: nowrap;
}
.popup-content .change-payment tfoot td {
	padding-top: 16px;
	padding-bottom: 0;
}
.popup-content .payment-online, .popup-content .payment-recharge {
	padding: 20px;
	line-height: 1.8em;
}
.popup-content .payment-online p, .popup-content .payment-recharge p {
	margin-bottom: 1em;
}
.popup-content .payment-recharge {
	text-align: center;
}
.popup-content .pay-stat {
	overflow: hidden;
}
.popup-content .pay-stat h4, .popup-content .pay-stat .action {
	float: left;
	font-size: 14px;
}
.popup-content .pay-success {
	float: left;
	overflow: hidden;
}
.popup-content .pay-failure {
	float: right;
	overflow: hidden;
}
.popup-content .pay-failure a {
	margin-right: 10px;
}
.pay_succ_txt {
	width: 75px;
	display: inline-block;
	text-align: right;
}
.atonce .btn-import {
	border: 0;
	background: #F9B700;
	color: #fff;
	padding: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.pay_main.pay_succ{
	    border-top: 0px solid #141414;
}